{% import "quotes.twig" as quotes %}

{% set status = "Posted " ~ params.publishDate %}
{% if article.status | lower == 'draft' %}
    {% set status = "Pending Approval" %}
{% endif %}


{% if (article.hasMedia == 'TRUE' or article.hasPreviewMedia == 'TRUE') and params.imageSuppress == 'false' %}
    <figure class="{{params.figureClass}}">
        <picture>
            <source media="(max-width: 620px)" srcset="{{params.articleImgSmall}}">
            <img class="img-responsive" src="{{params.articleImg}}" data-original="{{params.articleImg}}"  {% if articleImg is not empty %} style="background-image:url('{{params.placeholder}}');" {%endif%}>
        </picture>
    </figure>
{% endif %}

<div class="content">
    <div class="cat-time">
        <time datetime="{{params.publishDate}}">{{status}}</time>
    </div>
    <h2 class="title">{{ params.articleTitle }}</h2>
    <p class="propertyType">{{ article.additionalInfo.type }}</p>
    <div>
        <p class="contracttype">{{ article.additionalInfo.contracttype }}</p>
        <p class="price">${{ article.additionalInfo.pricerange | preg_replace("/\\$/", '')}}</p>
    </div>
</div>