{% import "quotes.twig" as quotes %}

{% set status = "Posted " ~ params.publishDate %}
{% if article.status | lower == 'draft' %}
    {% set status = "Pending Approval" %}
{% endif %}


<div class="cat-time">
    <time datetime="{{params.publishDate}}">{{status}}</time>
</div>


{% if (article.hasMedia == 'TRUE' or article.hasPreviewMedia == 'TRUE') and params.imageSuppress == 'false' %}
    <figure class="{{params.figureClass}}">
        <picture>
            <img class="img-responsive" src="{{params.articleImg}}" data-original="{{params.articleImg}}"  {% if articleImg is not empty %} style="background-image:url('{{params.placeholder}}');" {%endif%}>
        </picture>
    </figure>
{% endif %}

<div class="content">

    <h2>{{ params.articleTitle }}</h2>
    <p class="company">{{ article.additionalInfo.company }}</p>

    <p class="excerpt">{{ quotes.smarten(article.excerpt | raw) }}</p>
</div>