{% import "quotes.twig" as quotes %}

{% if (article.hasMedia == 'TRUE' or article.hasPreviewMedia == 'TRUE') and params.imageSuppress != 'true' %}
    <figure class="{{params.figureClass}} c-cards-view__media ">
        {% if params.giffUrl %}	
            {# remove the file extension #}
            {% set url = params.imagePath | split(".")[0 : -1] | join(".") %}
            {% set mp4Url = url ~ ".mp4" %}
            {% set oggUrl = url ~ ".ogg" %}

            <video class="gif-video" autoplay loop muted playsinline>
                <source src={{ mp4Url }} type="video/mp4">
                <source src={{ oggUrl }} type="video/ogg">
            </video>

        {% else %}
            <picture>
                <source media="(max-width: 620px)" srcset="{{params.articleImgSmall}}">
                <img class="img-responsive" src="{{params.articleImg}}" data-original="{{params.articleImg}}"  {% if params.articleImg is not empty %} style="background-image:url('{{params.placeholder}}');" {% endif %}>
            </picture>
        {% endif %}
    </figure>
{% endif %}


<div class="{{params.cardType}}c-cards-view__container content">
    <div class="cat-time {% if article.label != article.blogTitle %} cat-time--withLabel {% endif %}">
        {% if article.label != article.blogTitle %}
            <p class="{{params.cardType}}c-cards-view__labels {% if article.label | lower |replace({' ': '_'}) == 'odd_spot' || 'live_blog' %} label_odd_spot {% endif %}">{{article.label}}</p>
        {% endif %}
        
        <p class="{{params.cardType}}c-cards-view__category category">{{article.blogTitle}}</p
        >{% if params.hideDate == false %}<time datetime="{{params.publishDate}}">{{params.publishDate}}</time>{% endif %}
    </div>

    <h2 class="{{params.cardType}}c-cards-view__heading">{{ params.articleTitle }}</h2>
    
    <p class="{{params.cardType}}c-cards-view__description j-truncate excerpt">{{ quotes.smarten(article.excerpt | raw) }}</p>
                        
    <div class="{{params.cardType}}c-cards-view__author author">
        <img src="{{params.profileImg}}" class="img-circle">
        <p class="{{params.cardType}}c-cards-view__author-name">{{ article.createdBy['displayName'] }}</p>
    </div>
    <time class="{{params.cardType}}c-cards-view__time lowerTime" datetime="{{params.publishDate}}">{{params.publishDate}}</time>
</div>