{% import "quotes.twig" as quotes %}



{% if (article.hasMedia == 'TRUE' or article.hasPreviewMedia == 'TRUE') and params.imageSuppress == 'false' %}
    <figure class="{{params.figureClass}}">
        <picture>
            <source media="(max-width: 620px)" srcset="{{params.articleImgSmall}}">
            <img class="img-responsive" src="{{params.articleImg}}" data-original="{{params.articleImg}}"  {% if articleImg is not empty %} style="background-image:url('{{params.placeholder}}');" {%endif%}>
        </picture>
    </figure>
{% endif %}

<div class="content">
    <div class="cat-time">
        <time datetime="{{params.publishDate}}">{{params.publishDate}}</time>
    </div>
    <h2>${{ article.additionalInfo.pricerange }}</h2>
    <h3>{{ params.articleTitle }}</h3>
    
    <p class="excerpt">{{ quotes.smarten(article.excerpt | raw) }}</p>
                        
    <div class="listing-type">
        <img src="{{networkData.templatePath}}/static/icons/{{ article.additionalInfo.type }}.svg" class="">
        <p>{{ article.additionalInfo.type }}</p>
    </div>
</div>