{% import "quotes.twig" as quotes %}



{% if (article.hasMedia == 'TRUE' or article.hasPreviewMedia == 'TRUE') and params.imageSuppress == 'false' %}
    <figure class="{{params.figureClass}}">
        <picture>
            <source media="(max-width: 620px)" srcset="{{params.articleImgSmall}}">
            <img class="img-responsive" src="{{params.articleImg}}" data-original="{{params.articleImg}}"  {% if articleImg is not empty %} style="background-image:url('{{params.placeholder}}');" {%endif%}>
        </picture>
    </figure>
{% endif %}

{% if (networkData.title | lower) == 'frank uk' %}
    {% set forCurr = "£" %}
{% elseif (networkData.title | lower) == 'frank usa' or (networkData.title | lower) == 'frank global' %}
    {% set forCurr = "US$" %}
{% else %}
    {% set forCurr = "$" %}
{% endif %}

<div class="content">
    <div class="cat-time">
        <time datetime="{{params.publishDate}}">{{params.publishDate}}</time>
    </div>

    <div class="property__left">
        <h1 class="price">{{ forCurr }}{{ article.additionalInfo.pricerange | preg_replace("/(\\$|\\£)/", '')}}</h1>
        <h2>{{ params.articleTitle }}</h2>
    </div>


    <div class="property__right">
        <p class="region">{% if article.additionalInfo.location != "" %}{{ article.additionalInfo.location }}, {% endif %}{{ article.additionalInfo.region }}</p>
        <p class="excerpt">{{ quotes.smarten(article.excerpt | raw) }}</p>
    </div>
    <div class="listing-type">
        <img class="listing-type__img" src="{{networkData.templatePath}}/static/icons/property/{{ article.additionalInfo.type | split(" ")[0] | lower }}.svg?ver=update">
        <p class="listing-type__attribute listing-type__attribute--type">{{ article.additionalInfo.type }}</p>
        <p class="listing-type__attribute listing-type__attribute--contract">{{ article.additionalInfo.contracttype }}</p>
        <p class="region__below">{% if article.additionalInfo.location != "" %}{{ article.additionalInfo.location }}, {% endif %}{{ article.additionalInfo.region }}</p>
    </div>

</div>