{% import "quotes.twig" as quotes %}

{% if (networkData.title | lower) == 'frank uk' %}
    {% set forCurr = "£" %}
{% else %}
    {% set forCurr = "$" %}
{% endif %}


{% if (article.hasMedia == 'TRUE' or article.hasPreviewMedia == 'TRUE') and params.imageSuppress == 'false' %}
    <figure class="{{params.figureClass}}">
        <picture>
            <source media="(max-width: 620px)" srcset="{{params.articleImgSmall}}">
            <img class="img-responsive" src="{{params.articleImg}}" data-original="{{params.articleImg}}"  {% if articleImg is not empty %} style="background-image:url('{{params.placeholder}}');" {%endif%}>
        </picture>
    </figure>
{% endif %}

<div class="content">
    <p class="region">{% if article.additionalInfo.location != "" and (networkData.title | lower) == 'frank uk' %}{{ article.additionalInfo.location }}, {% endif %}{{ article.additionalInfo.region }}</p>
    <h1 class="price">{{ forCurr }}{{ article.additionalInfo.pricerange | preg_replace("/(\\$|\\£)/", '')}}</h1>
    
    <h2>{{ params.articleTitle }}</h2>  
</div>