{% import "quotes.twig" as quotes %}

{% set imageSuppress = imageSuppress is defined and imageSuppress == 'true' ? 'true' : 'false'  %}
{% set template = (template is defined and template != '') ? template : 'main'  %}
{% set swap = swap is defined and swap == 'false' ? '' : 'swap'  %}
{% set lightbox = ''  %}
{% set eventImg = '' %}

{% if behaviour is defined %} 
    {% if behaviour == 'noclick' %}
        {% set event = event | merge({'url' : 'javascript: void(0)'}) %}
    {% elseif behaviour == 'lightbox' %}
        {% set lightbox = behaviour %}
    {% endif %}
{% endif %}


{% set imgWidth = 0 %}
{% set imgHeight = 0 %}
{% if imageSize is defined %}
    {% set imgWidth = (imageSize.width is defined) ? imageSize.width : 0 %}
    {% set imgHeight = (imageSize.height is defined) ? imageSize.height : 0 %}
{% endif %}


{% set placeholder   = 'https://placeholdit.imgix.net/~text?txtsize=33&txt=Loading&w='~imgWidth~'&h='~imgHeight~'' %}
{% set promotedClass = (event.isPromoted) ? 'ad_icon' : '' %}
{% set hasMedia      = (event.media | length > 0 and imageSuppress == 'false') ? 'withImage__content': 'without__image' %}
{% set startDay      = _AppHelper.getDefaultTimezoneDateTime(event.startDate, 'd') %}
{% set startMonth    = _AppHelper.getDefaultTimezoneDateTime(event.startDate, 'M') %}
{% set startDate     = _AppHelper.getDefaultTimezoneDateTime(event.startDate, 'j F Y') %}
{% set startTime     = _AppHelper.getDefaultTimezoneDateTime(event.startDate, 'g:ia') %}
{% set eventTitle    = quotes.smarten(titleTruncateLength is defined ? event.title | truncate(titleTruncateLength) : event.title)  %}
{% set figureClass   = event.media['type'] == 'video' ? 'video' : '' %}


<div class="{{containerClass}}" data-title="{{ eventTitle | raw }}">
    {% set eventImgSmall = _Media.getMediaUrl(event.media[0],500, 500, {'crop': 'fill', 'gravity': 'faces'} ) %}
    {% set eventImg = _Media.getMediaUrl(event.media[0],imgWidth, imgHeight, {'crop': 'fill', 'gravity': 'faces'} ) %}

    <a  href="{{event.url}}" 
        class="{{swap}} card event {{hasMedia}}" 
        data-id="{{event.eventId}}" 
        data-guid="{{event.eventGuid}}" 
        data-position="{{position}}" 
        data-social="0"
        data-event-image="{{eventImg}}" 
        data-event-text="{{Helper.htmlToText(event.title, -1) | raw | escape('html')}}">

        <article class="{{lightbox}} {{figureClass}}">
            
            <time class="startdate" datetime="{{event.startDate}}">
                <span class="day">{{startDay}}</span>
                <span class="month">{{startMonth | upper}}</span>
            </time>

            {% if (hasMedia == 'withImage__content') %}
                <figure class="{{figureClass}}">
                    <picture>
                        <source media="(max-width: 620px)" srcset="{{eventImgSmall}}">
                        <img class="img-responsive" src="{{eventImg}}" data-original="{{eventImg}}"  {% if eventImg is not empty %} style="background-image:url('{{placeholder}}');" {%endif%}>
                    </picture>
                </figure>
            {% endif %}


            <div class="content">
                <div class="category">Events</div>
                <h2>{{ eventTitle | raw }}</h2>

                <time class="starttime" datetime="{{event.startDate}}">{{startDate}}</time>

                <p class="excerpt">{{ quotes.smarten(event.excerpt | raw) }}</p>
            </div>

        </article>

    </a>
</div>
