<div class="ajaxArticles clearfix">
    <div id="{{container}}" 
         class="clearfix"
         data-ads="{{ads}}"
         data-limit="{{limit}}"
         data-offset="{{offset}}"
         data-blogid="{{blogid}}"
         data-loadtype="{{loadtype}}"
         data-searchterm="{{searchTerm}}"
         data-card-class="{{card_class}}"
         data-button-label="{{label}}"
         data-card-template="{{cardTemplate}}"
         data-image-suppress="{{imageSupress}}"
         data-existing-nonpinned-count="{{non_pinned}}">
     </div>
    <a class="loadMoreArticles {{buttonClass}}" 
        data-container="{{container}}"
        href="#">{{label}}</a>

    <div class="row text-center NoArticlesMsg {{container}}" style="display:none">
        <p class="no-data text-center">No articles found.</p>  
    </div>
</div>
