{% import "partials/quotes.twig" as quotes %}

{% set blogInfo = _Blog.getBlog() %}


{{ set(this, 'title', article.title) }}
{% set networkData = _Network.getNetworkData() %}





<main id="main" class="" role="main">



    <article class="article-main">

        <div class="container">
            <div class="page-content">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="content-wrapper">
                            <div class="content-block-top">

                                <h1>{{ quotes.smarten(article.title) }}</h1>
                                <h2>{{parentBlog.title}} - <time datetime="{{publishedDate}}">{{publishedDate}}</time></h2> 

                            </div><!--content-block-top-->

                            <div class="article_content">
                                <p>{{ article.content | _resizeImages({'width': 500}) | raw }}</p>
                            </div><!-- .content-->
                        </div><!-- .content-->

                    </div><!-- .col-md-8-->
                </div>
            </div><!-- .page-content-->

        </div><!--container-->
    </article>
</main><!--site-main-->

