{% import "partials/quotes.twig" as quotes %}
{{ set(this, 'title', article.title) }}

{{ this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'}) }}
{{this.registerJs("Acme.lightbox = new Acme.Article();")}}

{% set blogInfo = _Blog.getBlog() %}
{% set networkData = _Network.getNetworkData() %}


{% set articleImg = false %}
{% if article.media|length > 0 %}
    {% set articleImg = true %}
{% endif %}



{% set profileImg = false %}
{% if article.createdBy['media'] is defined and article.createdBy['media']['path'] and article.createdBy['displayName'] != "AAP Newswire" %}
    {% set profileImg = _Media.getMediaUrl(article.createdBy['media'], 54, 54, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) %}
{% endif %}


{% set publishedDateTime =  (article.publishDate is defined) ? article.publishDate : article.publishDate %}
{% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishDate, 'F, Y') %}
{% set timeOnly = _AppHelper.getRelativeTime(publishedDateTime) ~ " ago" %}
{% set publishedAgo = _AppHelper.getSecondsSincePublished(publishedDateTime) %}
{% if publishedAgo < 86400 %}
    {# {% set publishDate = _AppHelper.getRelativeTime(publishedDateTime) ~ " ago" %} #}
    {% set publishDate = timeOnly %}
{% endif %}

{# {% set articles = _Article.getPopularArticles({ limit: 10, excludeArticleIds : article.id }) %} #}
{% set popularArticles = _Article.getPopularArticles({ limit: 3, blogId: article.blog.id, interval: 168 }) %}
{% set suggestedArticles = _Article.getPopularArticles({ limit: 3, interval: 168 }) %}

{% set articleCount = 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}







<main id="main" class="article_container" role="main">
   
    <article class="article-main">




        {# *********************************************************

                            MAIN IMAGE/GALLERY

        ********************************************************* #}

        {% if articleImg %} 

            <div class="gallery-container relative">

                {% if article.media|length > 0 %}
                    {% set imageFeature = featured == 'image' ? true : false %}
                    {{this.render('partials/gallery.twig', {
                        media: article.media,
                        default: imageFeature
                    }) | raw}}
                {% endif %}

            </div> 

        {% endif %}






            <div class="page-content">
                
                <div class="row">
                    <div class="col-md-8">
                        <div class="content-wrapper">



                        {# *********************************************************

                                           ARTICLE INFO

                        ********************************************************* #}

                            <div class="content-block-top">

                                <p class="category">{{article.label}}</p
                                ><time datetime="{{publishedDate}}">{{article.publishedDate}}</time>
                                {% if _User.isAdminUser() %}
                                    <br />
                                    <a href="{{article.editUrl}}" target="_blank" class="_btn _btn--red u-block centerText u-margin-bottom-25">Edit article</a>
                                    {# <a href="#" id="LightboxArticlePageBtn" data-id="{{article.id}}" target="_blank" class="_btn _btn--red u-block centerText u-margin-bottom-25">Lightbox article</a> #}
                                {% endif %}




                                <h1>{{ quotes.smarten(article.title) }}</h1>



                                <div class="row">
                                    {% set authorCount = 1 %}
                                    {% set colSpan = '12' %}

                                    {% if article['createdBy']['coauthors'] %}
                                        {% set authorCount = authorCount + article['createdBy']['coauthors'] | length %}
                                    {% endif %}

                                    {% if authorCount == 2 or authorCount == 4 %}
                                        {% set colSpan = '6' %}
                                    {% elseif authorCount == 3 %}
                                        {% set colSpan = '4' %}        
                                    {% endif %}



                                    <div class="col-sm-{{colSpan}} article-author media">
                                        {% if profileImg %}
                                            <img class="article-author__photo media__img" src="{{ profileImg }}" alt="Author photo">
                                        {% endif %}

                                        <div class="media__body article-author__media-body">
                                            <p class="article-author__name">{{ article.createdBy['displayName'] }}</p>

                                            {% if article.createdBy['bio'] != null and article.createdBy['displayName'] != "AAP Newswire" %} 
                                                <p class="article-author__bio">{{ article.createdBy['bio'] }}</p>
                                            {% endif %}  
                                        </div>
                                    </div>



                                    {% if article['createdBy']['coauthors'] %}
                                        {% for author in article['createdBy']['coauthors'] %}
                                            <div class="col-sm-{{colSpan}} article-author media">
                                                {% if author['media']['path'] %}
                                                    <img class="article-author__photo media__img" src="{{ _Media.getMediaUrl(author['media'], 54, 54, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) }}" alt="Author photo">
                                                {% endif %}

                                                <div class="media__body article-author__media-body">
                                                    <p class="article-author__name">{{ author['displayName'] }}</p>

                                                    {% if author['bio'] != null and author['displayName'] != "AAP Newswire" %} 
                                                        <p class="article-author__bio">{{ author['bio'] }}</p>
                                                    {% endif %}  
                                                </div>
                                            </div>

                                        {% endfor %}
                                    {% endif %}
                                </div>

                            </div><!--content-block-top-->






                        {# *********************************************************

                                           ARTICLE CONTENT

                        ********************************************************* #}


                            <div class="article_content">
                                {{ article.content | _resizeImages({'width': 500}) | raw }}
                            </div><!-- .content-->
                        </div><!-- .content-->

                    </div>











                    <div class="col-md-4">
                        <div class="article-sidebar">
                            <div class="advert">
                                <div id='blockAd1'></div>
                                <script>loadNextAd(invSpace,'blockAd1','mRec',mRecSize,mRecMap);</script>
                            </div>


                            <h2>POPULAR ARTICLES</h2>

                            
                            {% set suggestCount = 0 %}

                            {% for i in 0..2 if suggestedArticles[suggestCount] %}
                                {{this.render('partials/_single-article.twig', {
                                    article: suggestedArticles[suggestCount], 
                                    imageSize: {width: 75, height: 63},
                                    containerClass: 'card-article-suggested'
                                }) | raw}}
                                {% set suggestCount = (dev) ? suggestCount : suggestCount + 1 %}
                            {% endfor %}

{#                             {% if suggestedArticles[suggestCount] %}
                                {{this.render('partials/_single-article.twig', {
                                    article: suggestedArticles[suggestCount], 
                                    imageSize: {width: 300, height: 180},
                                    containerClass: 'card-sm-full'
                                }) | raw}}
                            {% endif %}
 #}
                        </div>
                    </div>



                </div>

            </div><!-- .page-content-->

            <section class="row">
                <div class="advert banner">
                    <div id='banerAd2'></div>
                    <script>loadNextAd(invSpace,'banerAd2','bannerad',bannerSize,bannerMap)</script>
                </div>
            </section>

            <div class="row related-articles">
                <div class="col-md-12">
                    <h1>POPULAR ARTICLES</h1>
                </div>

                {% for i in 0..2 if popularArticles[i] %}
                    <div class="col-md-4">
                        {{this.render('partials/_single-article.twig', {
                            article: popularArticles[i], 
                            imageSize: {width: 300, height: 180},
                            containerClass: 'card-sm card-sm-mobile'
                        }) | raw}}
                    </div>
                {% endfor %}

            </div>


    </article>
</main><!--site-main-->

