{% import "partials/quotes.twig" as quotes %}
{{ set(this, 'title', article.title) }}

{{ this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'}) }}

{% set blogInfo = _Blog.getBlog() %}
{% set networkData = _Network.getNetworkData() %}


{% set articleImg = false %}
{% if article.media|length > 0 %}
    {% set articleImg = _Media.getMediaUrl(article.media[0],1094, 515, {'crop': 'fill', 'gravity': 'auto'} ) %}
{% endif %}

{% set publishDate = _AppHelper.getDateTimeBasedOnTimezone(article.publishDate, 'F, Y') %}

{% set articles = _Article.getPopularArticles({ limit: 10, excludeArticleIds : article.id }) %}
{% set popularArticles = _Article.getPopularArticles({ limit: 5, sortBy: 'VIEWS', blogId: blogInfo.id, type: 'article' }) %}
{% set suggestedArticles = _Article.getPopularArticles({ limit: 6, sortBy: 'VIEWS', scope: 'network' }) %}

{% set articleCount = 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}



<main id="main" class="article_container" role="main">



    <article class="article-main">





            {% if articleImg %} 
                 <figure class="featured">
                     <img src="{{articleImg}}" class="img-responsive">
                     {% if article.media[0].type == 'video' %} 
                         {% set mediaUrl = "" %}
                         {% if article.media[0].media.isSystemVideo == 'TRUE'%}
                             {% set mediaUrl = _Media.getMediaVideoUrl(article.media[0].media, 0, 0,{resource_type: 'video', format: 'mp4'})  %}
                         {% endif %}
                         <a href="javascript:void(0)" 
                            itemprop="video" 
                            class="video-overlay video-player" 
                            data-source="{{article.media[0].source}}" 
                            data-video-id="{{article.media[0].videoId}}" 
                            data-url="{{mediaUrl}}" 
                            data-poster="{{article.media[0].path}}" 
                            data-caption="{{article.title | raw}}">
                         </a>
                     {% endif %}
                     <figcaption>
                         <p>{{article.media[0].caption}}</p>
                     </figcaption>
                 </figure>
             {% endif %}







            <div class="page-content">
                
                <div class="row">
                    <div class="col-md-8">
                        <div class="content-wrapper">


                            <div class="content-block-top">

                                <p class="category">{{article.label}}</p
                                ><time datetime="{{publishedDate}}">{{article.publishedDate}}</time>
                                
                                <h1>{{ quotes.smarten(article.title) }}</h1>
                                
                                <p class="author">{{ article.createdBy['displayName'] }}</p>
                                <p class="author">{{ article.createdBy['bio'] }}</p>

                            </div><!--content-block-top-->

                            <div class="article_content">
                                {{ article.content | _resizeImages({'width': 500}) | raw }}
                            </div><!-- .content-->
                        </div><!-- .content-->

                    </div>


                    <div class="col-md-4">
                        <div class="article-sidebar">
                        <div class="advert">
                            <img src="{{networkData.templatePath}}/static/images/ads/300x250.jpg">
                        </div>

                            <h2>SUGGESTED READINGS</h2>

                            
                            {% set suggestCount = 0 %}

                            {% for i in 0..4 if suggestedArticles[suggestCount] %}
                                {{this.render('partials/_single-article.twig', {
                                    article: suggestedArticles[suggestCount], 
                                    imageSize: {width: 75, height: 63},
                                    containerClass: 'card-article-suggested'
                                }) | raw}}
                                {% set suggestCount = (dev) ? suggestCount : suggestCount + 1 %}
                            {% endfor %}

                            {% if suggestedArticles[suggestCount] %}
                                {{this.render('partials/_single-article.twig', {
                                    article: suggestedArticles[suggestCount], 
                                    imageSize: {width: 300, height: 180},
                                    containerClass: 'card-sm-full'
                                }) | raw}}
                            {% endif %}

                        </div>
                    </div>



                </div>

            </div><!-- .page-content-->



            <div class="row related-articles">
                <div class="col-md-12">
                    <h1>RELATED ARTICLES</h1>
                </div>

                {% for i in 0..2 if popularArticles[i] %}
                    <div class="col-md-4">
                        {{this.render('partials/_single-article.twig', {
                            article: popularArticles[i], 
                            imageSize: {width: 300, height: 180},
                            containerClass: 'card-sm card-sm-mobile'
                        }) | raw}}
                    </div>
                {% endfor %}

            </div>


    </article>
</main><!--site-main-->

