{% import "partials/quotes.twig" as quotes %}
{{ set(this, 'title', article.title) }}

{{ this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'}) }}

{% set blogInfo = _Blog.getBlog() %}
{% set networkData = _Network.getNetworkData() %}

{% set carousel = false %}
{% if article.media|length > 1 %}
    {% set carousel = true %}
{% endif %}

{# {% set articleImg = false %}
{% if article.media|length > 0 %}
    {% set articleImg = _Media.getMediaUrl(article.media[0],1094, 515, {'crop': 'fill', 'gravity': 'auto'} ) %}
{% endif %} #}

{% set profileImg = false %}
{% if article.createdBy['media'] is defined and article.createdBy['media']['path'] and article.createdBy['displayName'] != "AAP Newswire" %}
    {% set profileImg = _Media.getMediaUrl(article.createdBy['media'], 54, 54, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) %}
{% endif %}

{% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishDate, 'F, Y') %}

{% set articles = _Article.getPopularArticles({ limit: 10, excludeArticleIds : article.id }) %}
{% set popularArticles = _Article.getPopularArticles({ limit: 5, sortBy: 'VIEWS', blogId: article.blog.id, type: 'article' }) %}
{% set suggestedArticles = _Article.getPopularArticles({ limit: 3, sortBy: 'VIEWS' }) %}

{% set articleCount = 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}


{# {% set view = _Article.paywallViewCount() %} #}

<main id="main" class="article_container" role="main">



    <article class="article-main">



        {% if carousel %}
            <div id="owl-thumbnails" class="owl-carousel owl-shep-theme owl-carousel__base" data-slider-id="1">
        {% endif %}

            {% for image in article.media %}
                {% set articleImg = _Media.getMediaUrl(image,1094, 515, {'crop': 'fill', 'gravity': 'auto'} ) %}

                <figure class="featured">
                    
                    {% if image.type == 'image' %} 

                        <img src="{{articleImg}}" class="{{galleryStyle}}-featured-image__img">

                    {% endif %}



                    {% if image.type == 'video' %} 
                        
                        {% set mediaUrl = "" %}
                        
                        {% if image.isSystemVideo == 'TRUE'%}
                            
                            {% set mediaUrl = _Media.getMediaVideoUrl(image, 0, 0,{resource_type: 'video', format: 'mp4'})  %}

                            <video controls class="article-video" poster="{{image.path}}">
                                <source src="{{mediaUrl}}" type="video/mp4"/>
                            </video>
                        
                        {% endif %}

                        {% if image.source == 'youtube' %}
                            {% set mediaUrl = "//www.youtube.com/embed/" ~ image.videoId  %}
                        
                        {% elseif image.source == 'vimeo' %}
                            {% set mediaUrl = "//player.vimeo.com/video/" ~ image.videoId  %}
                        
                        {% elseif image.source == 'brightcove' %}
                            {% set videoId      = image.videoId | split("::")[0]  %}
                            {% set accountID    = image.videoId | split("::")[1]  %}
                            {% set playerID     = image.videoId | split("::")[2]  %}
                            {% set mediaUrl = "//players.brightcove.net/" ~ accountID ~ "/" ~ playerID ~ "_default/index.html?videoId=" ~ videoId ~ "&playsinline"  %}
                        {% endif %}


                        <iframe src="{{mediaUrl}}" 
                            allowfullscreen
                            webkitallowfullscreen
                            mozallowfullscreen
                            style="width: 100%; height: 100%; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;">
                        </iframe>

                        
                    {% endif %}
                     

                     <figcaption>
                         <p>{{image.caption}}</p>
                     </figcaption>
                </figure>
            {% endfor %}

        {% if carousel %}
            </div>
        {% endif %}







            <div class="page-content">
                
                <div class="row">
                    <div class="col-md-8">
                        <div class="content-wrapper">


                            <div class="content-block-top">

                                <p class="category">{{article.label}}</p
                                ><time datetime="{{publishedDate}}">{{article.publishedDate}}</time>
                                {% if _User.isAdminUser() %}
                                    <br />
                                    <a href="{{article.editUrl}}" target="_blank" class="_btn _btn--red u-block centerText u-margin-bottom-25">Edit article</a>
                                {% endif %}

                                <h1>{{ quotes.smarten(article.title) }}</h1>
                                {% if profileImg %}
                                    <img class="author-photo" src="{{ profileImg }}" alt="Author photo">
                                {% endif %}
                                <p class="author">{{ article.createdBy['displayName'] }}</p>

                                {% if article.createdBy['bio'] != null and article.createdBy['displayName'] != "AAP Newswire" %} 
                                    <p class="author_bio">{{ article.createdBy['bio'] }}</p>
                                {% endif %}   

                            </div><!--content-block-top-->

                            <div class="article_content">
                                {{ article.content | _resizeImages({'width': 500}) | raw }}
                            </div><!-- .content-->
                        </div><!-- .content-->

                    </div>


                    <div class="col-md-4">
                        <div class="article-sidebar">
                            <div class="advert">
                                <div id='blockAd1'></div>
                                <script>loadNextAd(invSpace,'blockAd1','mRec',mRecSize,mRecMap)</script>
                            </div>


                            <h2>POPULAR ARTICLES</h2>

                            
                            {% set suggestCount = 0 %}

                            {% for i in 0..2 if suggestedArticles[suggestCount] %}
                                {{this.render('partials/_single-article.twig', {
                                    article: suggestedArticles[suggestCount], 
                                    imageSize: {width: 75, height: 63},
                                    containerClass: 'card-article-suggested'
                                }) | raw}}
                                {% set suggestCount = (dev) ? suggestCount : suggestCount + 1 %}
                            {% endfor %}

{#                             {% if suggestedArticles[suggestCount] %}
                                {{this.render('partials/_single-article.twig', {
                                    article: suggestedArticles[suggestCount], 
                                    imageSize: {width: 300, height: 180},
                                    containerClass: 'card-sm-full'
                                }) | raw}}
                            {% endif %}
 #}
                        </div>
                    </div>



                </div>

            </div><!-- .page-content-->

            <section class="row">
                <div class="advert banner">
                    <div id='banerAd2'></div>
                    <script>loadNextAd(invSpace,'banerAd2','bannerad',bannerSize,bannerMap)</script>
                </div>
            </section>

            <div class="row related-articles">
                <div class="col-md-12">
                    <h1>RELATED ARTICLES</h1>
                </div>

                {% for i in 0..2 if popularArticles[i] %}
                    <div class="col-md-4">
                        {{this.render('partials/_single-article.twig', {
                            article: popularArticles[i], 
                            imageSize: {width: 300, height: 180},
                            containerClass: 'card-sm card-sm-mobile'
                        }) | raw}}
                    </div>
                {% endfor %}

            </div>


    </article>
</main><!--site-main-->

