{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}




{{this.registerJs("CardController();")}}

{% set limit = 10 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

{% set events = _Event.getEvents() %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}
{% set testCount = 0 %}



    <main id="main" class="channel_container channel-main" role="main">
        



        <section class="row">
            <div class="col-md-12 section-header">
                <h2>National</h2>
                <p>
                    Nam porti tasse plat dictmst  blandit accaserio sln hac curabitur hendrerit 
                    quam ac arcu facilisis faucibus. Curabitur tempus, urna sed semperc
                </p>
            </div>
        </section>
        
        <section class="row">

            <div class="col-md-8">
                {% if articles[testCount] %}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[testCount], 
                        position: (articleCount+1),
                        imageSize: {width: 640, height: 309},
                        containerClass: 'card-main-2col'
                    }) | raw}}
                    {% set articleCount = articleCount + 1 %}
                {% endif %}


                {% for i in 0..4 if articles[testCount] %}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[testCount], 
                        position: (articleCount+1),
                        imageSize: {width: 200, height: 140},
                        containerClass: 'card-rec'
                    }) | raw}}
                    {% set articleCount = articleCount + 1 %}
                {% endfor %}

            </div>




            <div class="col-md-4">

                <div class="advert">
                </div>




                {% for i in 0..2 if articles[testCount] %}
                    {% set classes = ["card-sm", "card-sm-full", "card-sm"] %}
                    {% set images = [false, false, true] %}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[testCount], 
                        position: (articleCount+1),
                        imageSuppress: images[i],
                        imageSize: {width: 300, height: 185},
                        containerClass: classes[i]
                    }) | raw}}
                    {% set articleCount = articleCount + 1 %}
                {% endfor %}
                {% set articleCount = articleCount + 1 %}
                
            </div>

        </section>    






        <section class="row advert-banner-small">
            <div class="advert"></div>
        </section>







        <section class="row">
            {% for i in 0..2 if articles[testCount] %}
                <div class="col-md-4">
                    {{this.render('partials/_single-article.twig', {
                        article: articles[testCount], 
                        position: (articleCount+1),
                        imageSize: {width: 300, height: 180},
                        containerClass: "card-sm-full"
                    }) | raw}}
                </div>
                {% set articleCount = articleCount + 1 %}
            {% endfor %}
        </section>


    </main><!-- .site-main -->