{{ set(this, 'title', 'Edit Profile') }}

{% set user = _User.getUser() %}
{% set userString = "window.Acme.UserProfile.data = {first: '" ~ user.firstname ~ "',
    last: '" ~ user.lastname ~ "',
    username: '" ~ user.username ~ "',
    email: '" ~ user.email ~ "',
};" %}
{{this.registerJs( userString )}}

<!-- Begin User Profile Page -->
{% set user = _User.getUser()%}
<main id="main" class="user_profile listingForm" role="main">
    <div class="container">

        <div class="user_profile_section">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {{this.render('layouts/partials/messages.twig') | raw}}

                    <div class="profile-details listingForn">

                        <div class="profile-header">
                            <p>My Details</p>
                            <div class="name-inputs">
                                <span>{{user.firstname}} {{user.lastname}}</span>

                                <input type="text" id="firstname" class="form-control hidden" name="firstname" value="{{user.firstname}}" placeholder="First" >
                                <input type="text" id="lastname" class="form-control hidden" name="lastname" value="{{user.lastname}}" placeholder="Last" >
                            </div>
                        </div>

                        <form id="profile-form" class="form-horizontal" action="" method="post" enctype="multipart/form-data" autocomplete="off" >
                            <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" />
                            <input type="hidden" name="profileImage" id="userProfileImage" value="" />

                            <div class="inline-inputs">
                                <label for="firstname">First name</label>
                                <input type="text" id="firstname" class="form-control" name="firstname" value="{{user.firstname}}" placeholder="firstname" >
                            </div>

                            <div class="inline-inputs">
                                <label for="lastname">Last name</label>
                                <input type="text" id="lastname" class="form-control" name="lastname" value="{{user.lastname}}" placeholder="lastname" >
                            </div>                            
                           
                            <div class="inline-inputs">
                                <label for="username">Username</label>
                                <input type="text" id="username" class="form-control" name="username" value="{{user.username}}" placeholder="Username" >
                            </div>

                            <div class="inline-inputs">
                                <label for="email">Email</label>
                                <input type="text" id="email" class="form-control" name="email" value="{{user.email}}" placeholder="email@domain.com" >
                            </div>

                            <div class="button-full">
                                <button type="submit" class="button green button-large">Save</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</main>
<!-- //End User Profile Page -->