{{ set(this, 'title', 'Edit Profile') }}
{{this.registerJs("UserProfielController.load()")}}
{% set networkData = _Network.getNetworkData() %}
{% set blogData = _Blog.getBlog() %}
{% set jobsBlogId = blogData.additionalInfo['joblistingsid'] %}
{% set propBlogId = blogData.additionalInfo['propertylistingsid'] %}

<!-- Begin User Profile Page -->

{% set jobListingsArr = [] %}
{% set propListingsArr = [] %}
{% set pwstats = _User.getPaywallStats(true) %}
{% set plans = _Network.getNetworkData()['paywallPlans'] %}

{% set user = _User.getUser() %}
{% if user %} 
    {% set jobListingsArr = _User.getUserArticles(user.guid, 0, 1000, {'blogs':[jobsBlogId], 'status': '-1'}) %}
    {% set propListingsArr = _User.getUserArticles(user.guid, 0, 1000, {'blogs':[propBlogId], 'status': '-1'}) %}
{% endif %}

{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
<!-- 3 is job, 4 is property, 5 is event -->
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}

<main id="main" class="user_profile listingForm" role="main">
    <div id="stripekey" class="hidden" >{{_Network.getNetworkData()['stripe_publishable_key']}}</div>
    <div class="container">

        <div class="user_profile_section">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {{this.render('layouts/partials/messages.twig') | raw}}

                    <div class="profile-section with-border">
                        <div class="section-heading">
                            <p>My details</p>                                    
                            <a class="button" href="/auth/logoff">Log Out</a> 

                        </div>
                        <div class="profile-details listingForn">
                            <form id="profile-form" class="form-horizontal" action="" method="post" enctype="multipart/form-data" autocomplete="off" >
                                <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" />
                                <input type="hidden" name="profileImage" id="userProfileImage" value="" />

                                <div class="inline-inputs">
                                    <label for="firstname">First name</label>
                                    <input type="text" id="firstname" class="form-control" name="firstname" value="{{user.firstname}}" placeholder="First name" >
                                </div>

                                <div class="inline-inputs">
                                    <label for="lastname">Last name</label>
                                    <input type="text" id="lastname" class="form-control" name="lastname" value="{{user.lastname}}" placeholder="Last name" >
                                </div>                            
                               
                                <div class="inline-inputs">
                                    <label for="company">Company</label>
                                    <input type="text" id="company" class="form-control" name="company" value="{{user.company}}" placeholder="Company" >
                                </div>

                                <div class="inline-inputs">
                                    <label for="username">Username</label>
                                    <input type="text" id="username" class="form-control" name="username" value="{{user.username}}" placeholder="Username" >
                                </div>

                                <div class="inline-inputs">
                                    <label for="email">Email</label>
                                    <input type="text" id="email" class="form-control" name="email" value="{{user.email}}" placeholder="email@domain.com" >
                                </div>

                                <div class="inline-inputs">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" class="form-control" name="password" placeholder="new password" >
                                </div>


                                <div class="inline-inputs">
                                    <label for="password">Verify Password</label>
                                    <input type="password" id="verifypassword" class="form-control" name="verifypassword" placeholder="verify password" >
                                </div>
                                
{#                                 <div class="inline-inputs" style="height:0;">
                                    <label></label>
                                    <span class="change-password">Change password</span>
                                </div>
 #}
                                <div class="button-full">
                                    <button type="submit" class="button u-margin-top-25">Update Details</button>
                                </div>
                            </form>

                            <div class="button-full">
                                <button type="submit" id='cancelAccount' class="button u-margin-top-25">Cancel Account</button>
                            </div>
                        </div>
                    </div>



                    {% if pwstats.userManager == true %}
                        {% set managedUers = _User.getPaywallManagedUsers() %}

                        <div class="profile-section">
                            <div class="section-heading">
                                <p>Subscription Details </p>
                            </div>
                            <div  id="userListing" class="col-md-12">
                                <div class="user-details">
                                    {% if pwstats['type'] == 'time' %}
                                        <p> Current Plan: {{ pwstats['plan_value']/100}}/{{pwstats['period']}}</p>
                                        <p> Total Users: {{ pwstats['user_count']}}</p>
                                        <p> Active Users: {{ managedUers|length}}</p>
                                        <p> Expires: {{ pwstats['expiry_date']}}</p>
                                    {% else %}  
                                        <p> Current Plan: {{ pwstats['plan_value']/100}}/{{pwstats['total_articles']}}</p>
                                        <p> Articles Remaining: {{ pwstats['article_count']}}</p>
                                    {% endif %}
                                    <p> Nane on Card: {{ pwstats['card_name']}}</p>
                                    <p> Payemnt Method: {{ pwstats['card_brand']}} / •••• •••• •••• {{ pwstats['card_last_4']}}</p>
                                </div>

                                <div class='update-card'>
                                    <form id="update-form">
                                        <div class="form-row">
                                        <label for="card-element">Credit or debit card</label>
                                    <div id="card-element">
                                      <!-- a Stripe Element will be inserted here. -->
                                    </div>
    
                                    <!-- Used to display Element errors -->
                                    <div id="card-errors" role="alert"></div>
                                    </div>
    
                                    <button>Update Card</button>
                                    </form>
                                </div>






                                <div class="section-heading" style="margin-top:50px">
                                    <p>Change Plan</p>
                                </div>
                                <div class="planscontainer" >
                                {% for plan in plans %}
                                    {% if plan.guid != pwstats['plan_guid'] %}
                                    <div class="col-sm-3 planbox">
                                        <div class="plan-card">
                                            <h3>{{plan.name}}</h3>
                                            <p class="usercount">{{plan.user_count}} Users</p>
                                            <p class="price">${{plan.plan_value/100}}/{{plan.period}}</p>
                                            <input type="hidden" id="planid" value="{{plan.guid}}">
                                            <input type="hidden" id="planusercount" value="{{plan.user_count}}">
                                            <input type="hidden" id="plancost" value="{{plan.plan_value}}">
                                            <input type="hidden" id="planperiod" value="{{plan.period}}">
                                            <input type="hidden" id="currentcost" value="{{pwstats['plan_value']}}">
                                            <input type="hidden" id="currentperiod" value="{{pwstats['period']}}">
                                            <input type="hidden" id="currentusers" value="{{managedUers|length}}">
                                            <input type="hidden" id="expdate" value="{{ pwstats['expiry_date']}}">
                                            <input type="hidden" id="_csrf" value="{{_AppHelper.getCsrfToken()}}" /> 
                                            <a class="setplan">CHANGE PLAN</a>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                </div>

                            </div>

                        </div>



                        <div class="profile-section">
                            <div class="section-heading">
                                <p>My Users </p><a> {{managedUers|length}} of {{pwstats['user_count']}} used </a>
                            </div>
                            <div class="row">
                                <div  id="user_profile" class="col-md-12">
                                    <ul id="mangedUsers" class="managed-user" >
                                    {% if managedUers|length == 0 %} 
                                    <div id="nousers" class="empty-listing">
                                        <p>You have no current users.</p>
                                    </div>
                                    {% else %}
                                        {% for user in managedUers %}
                                        <li id="{{user.id}}">
                                            <div class="userdetails" >
                                                <p><a contenteditable="true" id='muFirstname' class="displayname">{{user.firstname}}</a> <a contenteditable="true" id='muLastname' class="displayname">{{user.lastname}}</a></p>
                                                <p><a contenteditable="true" id='muUsername' class="username">{{user.username}}</a></p>
                                            </div>
                                            <div class="useremailbuttons">
                                                <div><p><a contenteditable="true" id='muEmail' class="uesremail">{{user.email}}</a> <a class="saveedit hidden">save</a> <a class="canceledit hidden">cancel</a><a class="edituser">edit</a><a class="reallydelete hidden">really delete</a><a class="deleteuser">delete</a></p></div>   
                                            </div>
                                        </li>
                                        {% endfor %}
                                    {% endif %}
                                    </ul>
                                </div>
                                {% if managedUers|length < pwstats['user_count'] %}
                                    <a id="createUserErrorMessage"></a><a id="addManagedUser" style="z-index:1000;" class="addUser">+ Add users</a>
                                {% endif %}
                            </div>

                                </div>
                        </div>
                    {% endif %}


                    {% if jobListingsArr | length > 0  %}

                    <div class="profile-section">
                        <div class="section-heading">
                            <p>Job Listings</p>
                            <a href="{{networkData.defaultBlogUrl}}/@jobs-form">Edit listings</a>
                        </div>
                        <div class="row">
                            <div  id="jobListings" class="col-md-12">
                                {% set articleCount = (dev) ? articleCount : 0 %}
                                {% for i in 0..2 if jobListingsArr[articleCount] %}

                                    {{this.render('partials/_single-article.twig', {
                                        article: jobListingsArr[articleCount], 
                                        behaviour: 'noclick',
                                        template: 'jobs',
                                        containerClass: "card-rec-jobs card-rec-jobs-tablet listingCard"
                                    }) | raw}}
                                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}



                    {% if propListingsArr | length > 0 %}

                    <div class="profile-section">
                        <div class="section-heading">
                            <p>Realestate Listings</p>
                            <a href="{{networkData.defaultBlogUrl}}/@property-form">Edit Listings</a>
                        </div>
                        <div class="row">
                            <div  id="realEstateListings" class="col-md-12">
                                {% set articleCount = (dev) ? articleCount : 0 %}
                                {% for i in 0..2 if propListingsArr[articleCount] %}

                                    {{this.render('partials/_single-article.twig', {
                                        article: propListingsArr[articleCount], 
                                        behaviour: 'noclick',
                                        template: 'property',
                                        containerClass: "card-rec-realestate card-rec-realestate-tablet listingCard"
                                    }) | raw}}
                                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>




</main>
<!-- //End User Profile Page -->