{% import "partials/quotes.twig" as quotes %}

{{ set(this, 'title', event.title) }}
{{this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'})}}


{% set network = _Network.getNetworkData() %}
{% set eventImage = false %}
{% if event.media | length > 0 %}
    {% set eventImage = _Media.getMediaUrl(event.media[0], 1094, 515, {'crop': 'fill', 'gravity': 'auto'} ) %}
{% endif %}

{% set startDate = _AppHelper.getDefaultTimezoneDateTime(event.startDate, 'j F Y') %}
{% set endDate = _AppHelper.getDefaultTimezoneDateTime(event.endDate, 'j F Y') %}

{% set startTime = _AppHelper.getDefaultTimezoneDateTime(event.startDate, 'g:ia') %}
{% set endTime = _AppHelper.getDefaultTimezoneDateTime(event.endDate, 'g:ia') %}

<section class="event">

    <div class="container-fluid main-content">

        <div class="row">
            <div class="col-md-offset-2 col-sm-12 col-md-8 event-content">


                {% if eventImage %} 
                     <figure class="featured">
                         <img src="{{eventImage}}" class="img-responsive">
                     </figure>
                 {% endif %}                

                <div class="content-block-top">

                    <p class="category">Events</p
                    ><time datetime="{{publishDate}}">{{ event.publishDate }}</time>
                    
                    <h1>{{ quotes.smarten(event.title) }}</h1>
                    
                    <p class="author"><span>By</span> {{ event.createdBy['name'] }}</p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-offset-2 col-sm-12 col-md-8 event-details">
                <div class="row">
                    <div class="col-md-8 side-border">


                        {% set difference = date(event.endDate).diff(date(event.startDate)) %}
                        {% set leftDays = difference.days %}
                        {% if leftDays > 0 %}
                            <p class="date">{{ startDate }} - {{ endDate }}</p>
                        {% else %}
                            <p class="date">{{ startDate }}</p>
                            <p class="time">{{ startTime }} - {{ endTime }} </p>
                        {% endif %}

                        <p class="address">
                            {% if event.address.address1 %}
                                {{ event.address.address1 }},<br/>
                            {% endif %}
                            {{ event.address.suburb }} {{ event.address.state  }}
                        </p>
                    </div>

                    {% if event.contactName %}
                        <div class="col-md-4">
                            <p class="contactinfo">For more information please contact</p>
                            <p class="contactname">{{event.contactName}}</p>
                            <p class="contactnumber">{{event.contactNumber}}</p>
                        </div>
                    {% endif %}
                </div>

                <p class="content">
                    {{ event.content | raw }}
                </p>


            </div>
        </div>
    </div>

</section><!-- .home-page-content-->
