{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogNetworkNameIs = networkData.title | lower %}


{{this.registerJs("CardController();")}}

{% set templatePath = "window.Acme.templatePath = '" ~ networkData.templatePath ~ "';" %}
{{this.registerJs( templatePath )}}

{% set weatherJs = 

    " var locations = new Acme.Locations();
      var location = localStorage.getItem('city');
      var alllocations = locations.data.concat(locations.regional);
      console.log(alllocations);
      var selectedLocation = alllocations.filter(function(l) {
         return l == location;
      })[0] || locations.data[0];

      Acme.weather_model = new Acme.Weather();
      Acme.weather_model.fetch(selectedLocation, 'localweather');
      Acme.weather_view = new Acme.WeatherHeader_View({'container': $('#weather'), locations: locations});" %}

{{this.registerJs( weatherJs )}}


{% set limit = 15 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

{% set recentArticles = _Article.getRecentArticles({'limit': 5}) %}
{% set events = _Event.getEvents() %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}

{% set sectionCount = 0 %}

{% set sections =  {
        "world": {
            "title": "World",
            "feed": "",
            "link": "",
            "description": "",
            "limit": 3
        }, 
        "business": {
            "title": "Business",
            "feed": "",
            "link": "",
            "description": "",
            "limit": 5
        },
        "videos": {
            "title": "Videos",
            "feed": "",
            "link": "",
            "description": "",
            "limit": 4
        },
        "community": {
            "title": "Community",
            "feed": "",
            "link": "",
            "description": "",
            "limit": 4
        },
        "finance" : {
            "title": "Finance",
            "feed": "",
            "link": "",
            "description": "",
            "limit": 2
        },

        "australia": {
            "title": "Australia",
            "feed": "",
            "link": "",
            "description": "",
            "limit": 6
        },
        "new zealand": {
            "title": "New Zealand",
            "feed": "",
            "link": "",
            "description": "",
            "limit": 6
        },
        "uk" : {
            "title": "UK",
            "feed": "",
            "link": "",
            "description": "",
            "limit": 6
        },
        "europe" : {
            "title": "Europe",
            "feed": "",
            "link": "",
            "description": "",
            "limit": 4
        }
    }
%}

{% for key, value in sections %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key %}
            {% set sections = sections | merge({
                (key) : {
                    'feed'          : _Blog.getBlogFeed({'limit': sections[key]['limit'], 'offset': 0, 'blogid':blog.guid}),
                    'link'          : blog.link,
                    'description'   : blog.short_description,
                    'title'         : sections[key]['title']
                    }
                }) %}
        {% endif %}
    {% endfor %}
{% endfor %}


{# First set a common order then add site order to beginning #}
{% set sectionOrder = ["world", "business", "videos", "community"] %}

{% if blogNetworkNameIs == 'frank uk' %}

    {% set sectionOrder = ["uk", "europe"] | merge(sectionOrder ) %}

{% elseif blogNetworkNameIs == 'frank nz'  %}

    {% set sectionOrder = ["new zealand", "australia"] | merge(sectionOrder ) %}

{% else %}

    {% set sectionOrder = ["australia", "new zealand"] | merge(sectionOrder ) %}

{% endif %}






    <main id="main" class="container-fluid site-main" role="main">
        



        <section class="row top-cards">
            

            <div class="col-sm-6 col-sm-push-3">
                {% set class = 'card-main card-main-tablet card-main-mobile' %}
                {% for i in 0..2 if articles[articleCount] %}

                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 645, height: 310},
                        containerClass: class
                    }) | raw}}
                    {% set class = 'card-rec  card-rec-tablet card-rec-mobile' %}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endfor %}
            </div>


            <div class="col-sm-3 col-sm-pull-6">
                {% set class = ['card-sm-short card-sm-mobile card-sm-short-tablet', 'card-sm card-sm-tablet card-sm-mobile', 'card-sm-short card-sm-mobile card-sm-short-tablet'] %}
                {% set suppress = [true, false, true] %}

                {% for i in 0..2 if articles[articleCount]%}

                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSuppress: suppress[i],
                        imageSize: {width: 330, height: 235},
                        containerClass: class[i]
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endfor %}
            </div>



            <div class="col-sm-3">

                <a target="_blank" href="https://submit.pagemasters.com.au/franknews/analysis.pdf" >
                    <div class="e-edition">
                        <div>
                            <p class="icon"></p>
                            <img src="{{networkData.templatePath}}/static/images/frank-analysis-logo.svg">
                        </div>
                        <p class="description">The best of frank. <br />The e-editon available for download here.</p>
                    </div>
                </a>

                <div class="advert" style="margin-top:0;">
                    <div id='blockAd1'></div>
                    <script>loadNextAd(invSpace,'blockAd1','mRec',mRecSize,mRecMap)</script>
                </div>

                <hr class="divide visible-md-block visible-lg-block">

                {# {% if articles[articleCount] %}

                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 330, height: 235},
                        containerClass: 'card-sm card-sm-tablet card-sm-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endif %} #}
                <div id="id1149b8" style="padding-left:12%;"></div>

                {% if blogNetworkNameIs == 'frank nz' %}
                    {% set Curr1 = 'NZD' %}
                    {% set Curr2 = 'AUD' %}
                {% elseif blogNetworkNameIs == 'frank australia'  %}
                    {% set Curr1 = 'AUD' %}
                    {% set Curr2 = 'NZD' %}
                {% elseif blogNetworkNameIs == 'frank uk'  %}
                    {% set Curr1 = 'GBP' %}
                    {% set Curr2 = 'EUR' %}
                {% else %}
                    {% set Curr1 = 'USD' %}
                    {% set Curr2 = 'EUR' %}
                {% endif %}

                <script type="text/javascript" src="//mediatools.hifx.com/widget/compact-converter-widget/id1149b8/?affiliate=HIFX0110780606&amp;sell={{Curr1}}&amp;buy={{Curr2}}&amp;amount=1&amp;brandcolour=bbc614&amp;fontcolour=001f2b"></script>
            </div>


        </section>
    

        <section class="row">
            <div class="advert banner">
                <div id='Banner2'></div>
                <script>loadNextAd(invSpace,'Banner2','banner',bannerSize,bannerMap)</script>
            </div>
            {# <div class="advert banner hidden-xs" style="margin-left: 1.4%;margin-right: 1.4%;">
                <a href="mailto:franknews@ubteam.com">
                <img src="{{networkData.templatePath}}/static/images/ads/any-questions.svg">
                </a>
            </div> #}
        </section>











        <section class="row bottom-cards">
            
            <div class="col-sm-9">
                
                <div class="row">
                

                    <div class="col-sm-8 col-sm-push-4">
                        <div class="row">
                            {% set class = 'col-sm-12 card-main-2col card-main-2col-tablet card-main-2col-mobile' %}
                            {% set showimages = [false, true, true] %}

                            {% for i in 0..2 if articles[articleCount] %}

                                {{this.render('partials/_single-article.twig', {
                                    article: articles[articleCount], 
                                    position: (articleCount+1),
                                    imageSuppress: showimages[i],
                                    imageSize: {width: 640, height: 310},
                                    containerClass: class
                                }) | raw}}
                                {% set class = 'col-sm-6 card-sm-short card-sm-short-tablet card-sm-mobile' %}
                                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                            {% endfor %}
                        </div>
                    </div>




                    <div class="col-sm-4 col-sm-pull-8">
                        {% if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: (articleCount+1),
                                imageSize: {width: 300, height: 422},
                                containerClass: 'card-md-full card-md-full-tablet card-md-full-mobile'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endif %}

                        <div class="row top-stories">
                            <h2>LATEST STORIES</h2>

                            {% for i in 0..3 if recentArticles|length > 0 %}
                                {{this.render('partials/_single-article.twig', {
                                    article: recentArticles[i], 
                                    imageSuppress: true,
                                    containerClass: "card-top-story card-top-story-dt card-top-story-tablet card-top-story-mobile"
                                }) | raw}}
                            {% endfor %}
                        </div>
                    </div>

                </div>

                <section class="row">
                    {# <div class="advert banner">
                       <div id='bannerAd3'></div>
                        <script>loadNextAd(invSpace,'bannerAd3','bannerad',sBannerSize,sBannerMap);</script>
                    </div> #}
                    <div class="advert banner hidden-sm hidden-xs">
                        <a href="mailto:franknews@ubteam.com">
                        <img src="{{networkData.templatePath}}/static/images/ads/ideas-banner.jpg">
                        </a>
                    </div>

                </section>
            </div>


            <div class="col-sm-3">

                {% for i in 0..3 if articles[articleCount] %}

                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 300, height: 180},
                        containerClass: 'card-sm-full card-sm-full-tablet'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endfor %}
            </div>

        </section>



        {% set sectionFeed = sections[ sectionOrder[0] ] %}
        {% if sectionFeed.feed.articles|length > 0 %}
            {% set sectionCount = 0 %}


            <section class="row section">


                <div class="col-sm-12 section-header">
                    <h2 class="section-header__title">
                        <a class="section-header__link" href="{{sectionFeed.link}}">{{sectionFeed.title}}</a>
                    </h2>
                    <p class="section-header__description">{{sectionFeed.description}}</p>
                </div>


                <div class="col-sm-6">
                    {% for i in 0..2 if sectionFeed.feed.articles[sectionCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: sectionFeed.feed.articles[sectionCount], 
                            position: (articleCount+1),
                            imageSize: {width: 198, height: 141},
                            containerClass: 'card-rec card-rec-tablet card-rec-mobile'
                        }) | raw}}
                        {% set sectionCount = (dev) ? sectionCount : sectionCount + 1 %}
                    {% endfor %}
                </div>

                <div class="col-sm-3">
                    {% if sectionFeed.feed.articles[sectionCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: sectionFeed.feed.articles[sectionCount], 
                            position: (sectionCount+1),
                            imageSize: {width: 243, height: 422},
                            containerClass: "card-md-full card-md-full-tablet card-md-full-mobile"
                        }) | raw}}
                        {% set sectionCount = (dev) ? sectionCount : sectionCount + 1 %}
                    {% endif %}
                </div>


                <div class="col-sm-3">

                    {% for i in 0..1 if sectionFeed.feed.articles[sectionCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: sectionFeed.feed.articles[sectionCount], 
                            position: (sectionCount+1),
                            imageSuppress: true,
                            containerClass: 'card-sm-short card-sm-short-tablet card-sm-mobile'
                        }) | raw}}
                        {% set sectionCount = (dev) ? sectionCount : sectionCount + 1 %}
                    {% endfor %}
                </div>
                    <div class="sRec col-sm-3">
                       <div id='sRecAd4'></div>
                        <script>loadNextAd(invSpace,'sRecAd4','srec',sRecSize,sRecMap);</script>
                    </div>
            </section>
        {% endif %}
           

        {% set sectionFeed = sections[ sectionOrder[1] ] %}
        {% if sectionFeed.feed.articles|length > 0 %}
            {% set sectionCount = 0 %}

            <section class="row section">


                <div class="col-sm-12 section-header">
                    <h2 class="section-header__title">
                        <a class="section-header__link" href="{{sectionFeed.link}}">{{sectionFeed.title}}</a>
                    </h2>
                    <p class="section-header__description">{{sectionFeed.description}}</p>
                </div>


                <div class="col-sm-6">
                    {% if sectionFeed.feed.articles[sectionCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: sectionFeed.feed.articles[sectionCount], 
                            imageSize: {width: 640, height: 420},
                            containerClass: 'card-md-full card-md-full-tablet card-md-full-mobile'
                        }) | raw}}
                        {% set sectionCount = (dev) ? sectionCount : sectionCount + 1 %}
                    {% endif %}
                </div>

                <div class="col-sm-6">
                    <div class="row">
                        {% if sectionFeed.feed.articles[sectionCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: sectionFeed.feed.articles[sectionCount], 
                                imageSize: {width: 198, height: 141},
                                containerClass: "col-sm-12 card-rec  card-rec-tablet card-rec-mobile"
                            }) | raw}}

                            {% set sectionCount = (dev) ? sectionCount : sectionCount + 1 %}
                        {% endif %}
                    </div>



                    <div class="row">
                        {% for i in 0..1 if sectionFeed.feed.articles[sectionCount] %}
                            <div class="col-sm-6">
                                {{this.render('partials/_single-article.twig', {
                                    article: sectionFeed.feed.articles[sectionCount], 
                                    imageSize: {width: 198, height: 141},
                                    containerClass: "card-sm-full card-sm-full-tablet community"
                                }) | raw}}
                            </div>
                            {% set sectionCount = (dev) ? sectionCount : sectionCount + 1 %}
                        {% endfor %}
                    </div>
                </div>

            </section>
        {% endif %}






        {% set sectionFeed = sections[ sectionOrder[2] ] %}
        {% if sectionFeed.feed.articles|length > 0 %}
            {% set sectionCount = 0 %}

            <section class="row section world">

                <div class="col-sm-12 section-header">
                    <h2 class="section-header__title">
                        <a class="section-header__link" href="{{sectionFeed.link}}">{{sectionFeed.title}}</a>
                    </h2>
                    <p class="section-header__description">{{sectionFeed.description}}</p>
                </div>


                <div class="col-sm-6">
                    {% if sectionFeed.feed.articles[sectionCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: sectionFeed.feed.articles[sectionCount], 
                            imageSize: {width: 640, height: 420},
                            containerClass: 'card-md-full card-md-full-tablet card-md-full-mobile'
                        }) | raw}}
                        {% set sectionCount = (dev) ? sectionCount : sectionCount + 1 %}
                    {% endif %}
                </div>

                <div class="col-sm-3">
                    {% if sectionFeed.feed.articles[sectionCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: sectionFeed.feed.articles[sectionCount], 
                            imageSize: {width: 330, height: 235},
                            containerClass: "card-sm card-sm-tablet card-sm-mobile"
                        }) | raw}}

                        {% set sectionCount = (dev) ? sectionCount : sectionCount + 1 %}
                    {% endif %}
                </div>


                <div class="col-sm-3">
                    {% if sectionFeed.feed.articles[sectionCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: sectionFeed.feed.articles[sectionCount], 
                            imageSize: {width: 330, height: 235},
                            containerClass: "card-sm card-sm-tablet card-sm-mobile"
                        }) | raw}}

                        {% set sectionCount = (dev) ? sectionCount : sectionCount + 1 %}
                    {% endif %}
                </div>

            </section>
        {% endif %}












        {% set sectionFeed = sections[ sectionOrder[3] ] %}
        {% if sectionFeed.feed.articles|length > 0 %}
            {% set sectionCount = 0 %}

            <section class="row section business">


                <div class="col-sm-12 section-header">
                    <h2 class="section-header__title">
                        <a class="section-header__link" href="{{sectionFeed.link}}">{{sectionFeed.title}}</a>
                    </h2>
                    <p class="section-header__description">{{sectionFeed.description}}</p>
                </div>


                <div class="col-sm-3">
                    {% for i in 0..1 if sectionFeed.feed.articles[sectionCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: sectionFeed.feed.articles[sectionCount], 
                            imageSuppress: true,
                            containerClass: 'card-sm-short card-sm-short-tablet card-sm-mobile'
                        }) | raw}}
                        {% set sectionCount = (dev) ? sectionCount : sectionCount + 1 %}
                    {% endfor %}
                </div>

                <div class="col-sm-6">
                    {% for i in 0..2 if sectionFeed.feed.articles[sectionCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: sectionFeed.feed.articles[sectionCount], 
                            imageSize: {width: 198, height: 141},
                            containerClass: "card-rec  card-rec-tablet card-rec-mobile"
                        }) | raw}}

                        {% set sectionCount = (dev) ? sectionCount : sectionCount + 1 %}
                    {% endfor %}
                </div>


                <div class="col-sm-3">
                    <div class="finance-widget">
                        {% for i in 0..1 if sections['finance'].feed.articles[i] %}
                            {{this.render('partials/_single-article.twig', {
                                article: sections['finance'].feed.articles[i], 
                                imageSuppress: true,
                                containerClass: "card-rec-finance"
                            }) | raw}}
                        {% endfor %}
                    </div>
                </div>

            </section>
        {% endif %}






        {% set sectionFeed = sections[ sectionOrder[4] ] %}
        {% if sectionFeed.feed.articles|length > 0 %}
            {% set sectionCount = 0 %}

            <section class="row section national">


                <div class="col-sm-12 section-header">
                    <h2 class="section-header__title">
                        <a class="section-header__link" href="{{sectionFeed.link}}">{{sectionFeed.title}}</a>
                    </h2>
                    <p class="section-header__description">{{sectionFeed.description}}</p>
                </div>


                {% for i in 0..3 if sectionFeed.feed.articles[i] %}
                    <div class="col-sm-3">
                        {{this.render('partials/_single-article.twig', {
                            article: sectionFeed.feed.articles[sectionCount], 
                            imageSize: {width: 300, height: 180},
                            containerClass: 'card-sm-full card-sm-full-tablet'
                        }) | raw}}
                        {% set sectionCount = (dev) ? sectionCount : sectionCount + 1 %}

                    </div>
                {% endfor %}

            </section>
        {% endif %}













        {% set sectionFeed = sections[ sectionOrder[5] ] %}
        {% if sectionFeed.feed.articles|length > 0 %}
            {% set sectionCount = 0 %}

            <section class="row section events">

                <div class="col-sm-12 section-header">
                    <h2 class="section-header__title">
                        <a class="section-header__link" href="{{sectionFeed.link}}">{{sectionFeed.title}}</a>
                    </h2>
                    <p class="section-header__description">{{sectionFeed.description}}</p>
                </div>


                <div class="col-sm-9" style="position:relative">
                    {% for i in 0..0 if sectionFeed.feed.articles[sectionCount]  %}
                        {{this.render('partials/_single-article.twig', {
                            article: sectionFeed.feed.articles[sectionCount] , 
                            imageSize: {width: 980, height: 420},
                            containerClass: 'card-lg-full card-lg-full-tablet card-lg-full-mobile'
                        }) | raw}}
                        {% set sectionCount = (dev) ? sectionCount : sectionCount + 1 %}
                    {% endfor %}

                    <div class="inside">
                        {% for i in 0..2 if sectionFeed.feed.articles[sectionCount]  %}
                            {{this.render('partials/_single-article.twig', {
                                article: sectionFeed.feed.articles[sectionCount] , 
                                imageSuppress: true,
                                containerClass: 'card-xs card-xs-tablet card-xs-mobile'
                            }) | raw}}
                            {% set sectionCount = (dev) ? sectionCount : sectionCount + 1 %}
                        {% endfor %}
                    </div>
                </div>

                <div class="col-sm-3 eventlist">
                    <h2>EVENTS</h2>

                    {% for i in 0..3 if events[i] %}
                        {{this.render('partials/_single-event.twig', {
                            event: events[i], 
                            imageSize: {width: 60, height: 37},
                            containerClass: "card-event card-event-tablet card-event-mobile"
                        }) | raw}}
                    {% endfor %}
                </div>
                <div class="advert sRec col-sm-3" style="margin-top:22px;">
                       <div id='sRecAdcomm'></div>
                        <script>loadNextAd(invSpace,'sRecAdcomm','srec',sRecSize,sRecMap);</script>
                    </div>

            </section>
        {% endif %}














    </main><!-- .site-main -->