{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}




{{this.registerJs("CardController();")}}

{% set limit = 15 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set popularArticles = _Article.getPopularArticles({ limit: 5, sortBy: 'VIEWS', scope: 'network' }) %}

{% set events = _Event.getEvents() %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}


    {% set sections =  {
            "world": {
                "feed": "",
                "link": "",
                "description": ""
            }, 
            "business": {
                "feed": "",
                "link": "",
                "description": ""
            },
            "community": {
                "feed": "",
                "link": "",
                "description": ""
            },
            "videos": {
                "feed": "",
                "link": "",
                "description": ""
            },
            "australia": {
                "feed": "",
                "link": "",
                "description": ""
            },
            "new zealand": {
                "feed": "",
                "link": "",
                "description": ""
            }
        }
    %}

    {% for key, value in sections %}
        {% for blog in networkData.networkBlogs %}
            {% if blog.title | lower == key %}
                {% set sections = sections | merge({
                    (key) : {
                        'feed': _Blog.getBlogFeed({'limit': 10, 'offset': 0, 'blogid':blog.guid}),
                        'link' : blog.link,
                        'description' : blog.short_description
                        }
                    }) %}
            {% endif %}
        {% endfor %}
    {% endfor %}



    <main id="main" class="container-fluid site-main" role="main">
        



        <section class="row top-cards">
            

            <div class="col-sm-6 col-sm-push-3">
                {% set class = 'card-main card-main-tablet card-main-mobile' %}
                {% for i in 0..2 if articles[articleCount] %}

                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 640, height: 310},
                        containerClass: class
                    }) | raw}}
                    {% set class = 'card-rec  card-rec-tablet card-rec-mobile' %}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endfor %}
            </div>


            <div class="col-sm-3 col-sm-pull-6">
                {% set class = ['card-sm-short card-sm-mobile card-sm-short-tablet', 'card-sm card-sm-tablet card-sm-mobile', 'card-sm-short card-sm-mobile card-sm-short-tablet'] %}
                {% set suppress = [true, false, true] %}

                {% for i in 0..2 if articles[articleCount]%}

                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSuppress: suppress[i],
                        imageSize: {width: 330, height: 235},
                        containerClass: class[i]
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endfor %}
            </div>



            <div class="col-sm-3">

                <div class="e-edition">
                    <div>
                        <a href="#"></a>
                        <img src="{{networkData.templatePath}}/static/images/frank-analysis-logo.svg">
                    </div>
                    <p class="description">The best of frank. <br />The e-editon available for download here.</p>
                </div>

                <div class="advert visible-md-block visible-lg-block">
                </div>

                <hr class="divide visible-md-block visible-lg-block">

                {% if articles[articleCount] %}

                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 330, height: 235},
                        containerClass: 'card-sm card-sm-tablet card-sm-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endif %}
            </div>


        </section>
    

        <section class="row advert-banner-small">
            <div class="advert"></div>
        </section>











        <section class="row bottom-cards">
            
            <div class="col-sm-9">
                
                <div class="row">
                

                    <div class="col-sm-8 col-sm-push-4">
                        <div class="row">
                            {% set class = 'col-sm-12 card-main-2col card-main-2col-tablet card-main-2col-mobile' %}
                            {% set showimages = [false, true, true] %}

                            {% for i in 0..2 if articles[articleCount] %}

                                {{this.render('partials/_single-article.twig', {
                                    article: articles[articleCount], 
                                    position: (articleCount+1),
                                    imageSuppress: showimages[i],
                                    imageSize: {width: 640, height: 310},
                                    containerClass: class
                                }) | raw}}
                                {% set class = 'col-sm-6 card-sm-short card-sm-short-tablet card-sm-mobile' %}
                                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                            {% endfor %}
                        </div>
                    </div>




                    <div class="col-sm-4 col-sm-pull-8">
                        {% if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: (articleCount+1),
                                imageSize: {width: 300, height: 422},
                                containerClass: 'card-md-full card-md-full-tablet card-md-full-mobile'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endif %}

                        <div class="row top-stories">
                            <h2>TOP STORIES</h2>

                            {% for i in 0..3 if popularArticles|length > 0 %}
                                {{this.render('partials/_single-article.twig', {
                                    article: popularArticles[i], 
                                    imageSuppress: true,
                                    containerClass: "card-top-story card-top-story-dt card-top-story-tablet"
                                }) | raw}}
                            {% endfor %}
                        </div>
                    </div>

                </div>

                <section class="row advert-banner-small">
                    <div class="col-sm-12">
                        <div class="advert"></div>
                    </div>
                </section>
            </div>


            <div class="col-sm-3">

                {% for i in 0..3 if articles[articleCount] %}

                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 300, height: 180},
                        containerClass: 'card-sm-full card-sm-full-tablet'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endfor %}
            </div>

        </section>






        {% if sections['australia'].feed.articles|length > 0 %}
            {% set australiaCount = 0 %}

            <section class="row section australia">

                <div class="col-sm-12 section-header">
                    <h2><a href="{{sections['australia'].link}}">Australia</a></h2>
                    <p class="description">{{sections['australia'].description}}</p>
                </div>


                <div class="col-sm-6">
                    {% if sections['australia'].feed.articles[australiaCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: sections['australia'].feed.articles[australiaCount], 
                            imageSize: {width: 640, height: 420},
                            containerClass: 'card-md-full card-md-full-tablet card-md-full-mobile'
                        }) | raw}}
                        {% set australiaCount = (dev) ? australiaCount : australiaCount + 1 %}
                    {% endif %}
                </div>

                <div class="col-sm-6">
                    <div class="row">
                        {% if sections['australia'].feed.articles[australiaCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: sections['australia'].feed.articles[australiaCount], 
                                imageSize: {width: 198, height: 141},
                                containerClass: "col-sm-12 card-rec  card-rec-tablet card-rec-mobile"
                            }) | raw}}

                            {% set australiaCount = (dev) ? australiaCount : australiaCount + 1 %}
                        {% endif %}
                    </div>



                    <div class="row">
                        {% for i in 0..1 if sections['australia'].feed.articles[australiaCount] %}
                            <div class="col-sm-6">
                                {{this.render('partials/_single-article.twig', {
                                    article: sections['australia'].feed.articles[australiaCount], 
                                    imageSize: {width: 198, height: 141},
                                    containerClass: "card-sm-full card-sm-full-tablet"
                                }) | raw}}
                            </div>
                            {% set australiaCount = (dev) ? australiaCount : australiaCount + 1 %}
                        {% endfor %}
                    </div>
                </div>

            </section>
        {% endif %}













        {% if sections['new zealand'].feed.articles|length > 0 %}
            {% set nzCount = 0 %}
            
            <section class="row section">

                <div class="col-sm-12 section-header">
                    <h2><a href="{{sections['new zealand'].link}}">New Zealand</a></h2>
                    <p class="description">{{sections['new zealand'].description}}</p>
                </div>


                <div class="col-sm-6">
                    {% for i in 0..2 if sections['new zealand'].feed.articles[nzCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: sections['new zealand'].feed.articles[nzCount], 
                            position: (articleCount+1),
                            imageSize: {width: 300, height: 422},
                            containerClass: 'card-rec card-rec-tablet card-rec-mobile'
                        }) | raw}}
                        {% set nzCount = (dev) ? nzCount : nzCount + 1 %}
                    {% endfor %}
                </div>

                <div class="col-sm-3">
                    {% if sections['new zealand'].feed.articles[nzCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: sections['new zealand'].feed.articles[nzCount], 
                            position: (nzCount+1),
                            imageSize: {width: 330, height: 235},
                            containerClass: "card-md-full card-md-full-tablet card-md-full-mobile"
                        }) | raw}}
                        {% set nzCount = (dev) ? nzCount : nzCount + 1 %}
                    {% endif %}
                </div>


                <div class="col-sm-3">

                    {% for i in 0..1 if sections['new zealand'].feed.articles[nzCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: sections['new zealand'].feed.articles[nzCount], 
                            position: (articleCount+1),
                            imageSuppress: true,
                            containerClass: 'card-sm-short card-sm-short-tablet card-sm-mobile'
                        }) | raw}}
                        {% set nzCount = (dev) ? nzCount : nzCount + 1 %}
                    {% endfor %}
                </div>

            </section>


        {% endif %}










        {% if sections['world'].feed.articles|length > 0 %}
            {% set worldCount = 0 %}

            <section class="row section world">

                <div class="col-sm-12 section-header">
                    <h2><a href="{{sections['world'].link}}">World</a></h2>
                    <p class="description">{{sections['world'].description}}</p>
                </div>


                <div class="col-sm-6">
                    {% if sections['world'].feed.articles[worldCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: sections['world'].feed.articles[worldCount], 
                            imageSize: {width: 640, height: 420},
                            containerClass: 'card-md-full card-md-full-tablet card-md-full-mobile'
                        }) | raw}}
                        {% set worldCount = (dev) ? worldCount : worldCount + 1 %}
                    {% endif %}
                </div>

                <div class="col-sm-3">
                    {% if sections['world'].feed.articles[worldCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: sections['world'].feed.articles[worldCount], 
                            imageSize: {width: 330, height: 235},
                            containerClass: "card-sm card-sm-tablet card-sm-mobile"
                        }) | raw}}

                        {% set worldCount = (dev) ? worldCount : worldCount + 1 %}
                    {% endif %}
                </div>


                <div class="col-sm-3">
                    {% if sections['world'].feed.articles[worldCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: sections['world'].feed.articles[worldCount], 
                            imageSize: {width: 330, height: 235},
                            containerClass: "card-sm card-sm-tablet card-sm-mobile"
                        }) | raw}}

                        {% set worldCount = (dev) ? worldCount : worldCount + 1 %}
                    {% endif %}
                </div>

            </section>
        {% endif %}













        {% if sections['business'].feed.articles|length > 0 %}
            {% set businessCount = 0 %}

            <section class="row section business">

                <div class="col-sm-12 section-header">
                    <h2><a href="{{sections['business'].link}}">Business</a></h2>
                    <p class="description">{{sections['business'].description}}</p>
                </div>


                <div class="col-sm-3">
                    {% for i in 0..1 if sections['business'].feed.articles[businessCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: sections['business'].feed.articles[businessCount], 
                            imageSuppress: true,
                            containerClass: 'card-sm-short card-sm-short-tablet card-sm-mobile'
                        }) | raw}}
                        {% set businessCount = (dev) ? businessCount : businessCount + 1 %}
                    {% endfor %}
                </div>

                <div class="col-sm-6">
                    {% for i in 0..2 if sections['business'].feed.articles[businessCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: sections['business'].feed.articles[businessCount], 
                            imageSize: {width: 198, height: 141},
                            containerClass: "card-rec  card-rec-tablet card-rec-mobile"
                        }) | raw}}

                        {% set businessCount = (dev) ? businessCount : businessCount + 1 %}
                    {% endfor %}
                </div>


                <div class="col-sm-3">
                    <div class="finance-widget"></div>
                </div>

            </section>
        {% endif %}












        {% if sections['community'].feed.articles|length > 0 %}
            {% set communityCount = 0 %}

            <section class="row section events">

                <div class="col-sm-12 section-header">
                    <h2><a href="{{sections['community'].link}}">Community</a></h2>
                    <p class="description">{{sections['community'].description}}</p>
                </div>


                <div class="col-sm-9" style="position:relative">
                    {% for i in 0..0 if sections['community'].feed.articles[communityCount]  %}
                        {{this.render('partials/_single-article.twig', {
                            article: sections['community'].feed.articles[communityCount] , 
                            imageSize: {width: 980, height: 420},
                            containerClass: 'card-lg-full card-lg-full-tablet'
                        }) | raw}}
                        {% set communityCount = (dev) ? communityCount : communityCount + 1 %}
                    {% endfor %}

                    <div class="inside">
                        {% for i in 0..2 if sections['community'].feed.articles[communityCount]  %}
                            {{this.render('partials/_single-article.twig', {
                                article: sections['community'].feed.articles[communityCount] , 
                                imageSuppress: true,
                                containerClass: 'card-xs card-xs-tablet card-xs-mobile'
                            }) | raw}}
                            {% set communityCount = (dev) ? communityCount : communityCount + 1 %}
                        {% endfor %}
                    </div>
                </div>

                <div class="col-sm-3 eventlist">
                    <h2>EVENTS</h2>

                    {% for i in 0..5 if events[0] %}
                        {{this.render('partials/_single-event.twig', {
                            event: events[0], 
                            imageSize: {width: 60, height: 37},
                            containerClass: "card-event card-event-tablet"
                        }) | raw}}
                    {% endfor %}
                </div>


            </section>
        {% endif %}










        {% if sections['videos'].feed.articles|length > 0 %}
            {% set videoCount = 0 %}

            <section class="row section national">

                <div class="col-sm-12 section-header">
                    <h2><a href="{{sections['videos'].link}}">Videos</a></h2>
                    <p class="description">{{sections['videos'].description}}</p>
                </div>


                {% for i in 0..3 if sections['videos'].feed.articles[i] %}
                    <div class="col-sm-3">
                        {{this.render('partials/_single-article.twig', {
                            article: sections['videos'].feed.articles[videoCount], 
                            imageSize: {width: 300, height: 180},
                            containerClass: 'card-sm-full card-sm-full-tablet'
                        }) | raw}}
                        {% set videoCount = (dev) ? videoCount : videoCount + 1 %}

                    </div>
                {% endfor %}

            </section>
        {% endif %}













    </main><!-- .site-main -->