{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData      = _Blog.getBlog() %}
{% set blogName      = blogData.title %}




{{this.registerJs("CardController();")}}

{% set limit = 10 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}
{% set testCount = 0 %}



    <main id="main" class="container site-main" role="main">
        



        <section class="row speakers">
            <div class="col-sm-3">
                {% set showimages = [true, false, true] %}
                {% for i in 0..2 if articles[testCount]%}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[testCount], 
                        position: (articleCount+1),
                        imageSuppress: showimages[i],
                        imageSize: {width: 330, height: 235},
                        containerClass: 'card-sm'
                    }) | raw}}
                    {% set articleCount = articleCount + 1 %}
                {% endfor %}
            </div>

            <div class="col-sm-6">
                {% set class = 'card-main' %}
                {% for i in 0..2 if articles[testCount] %}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[testCount], 
                        position: (articleCount+1),
                        imageSize: {width: 330, height: 235},
                        containerClass: class
                    }) | raw}}
                    {% set class = 'card-rec' %}
                    {% set articleCount = articleCount + 1 %}
                {% endfor %}
            </div>


            <div class="col-sm-3">

                <div class="e-edition">
                </div>

                <div class="advert">
                </div>

                <hr class="divide">

                {% if articles[testCount] %}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[testCount], 
                        position: (articleCount+1),
                        imageSize: {width: 330, height: 235},
                        containerClass: 'card-sm'
                    }) | raw}}
                    {% set articleCount = articleCount + 1 %}
                {% endif %}
            </div>


        </section>
    






    </main><!-- .site-main -->