{{ set(this, 'title', _Blog.getBlogTitle()) }}
{{this.registerJs("window.Acme.cards = CardController();")}}
{# {{this.registerJs("window.Acme.listing = ListingController();")}} #}

{# {% set networkData = _Network.getNetworkData() %} #}
{% set blogData    = _Blog.getBlog() %}
{% set limit = 10 %}

{% set user = false %}

{% if not _User.isGuest %} 
    {% set user = _User.getUser() %}
    {% set userString = "window.Acme.currentUser = '" ~ user.guid ~ "';" %}
    {{this.registerJs( userString )}}
{% endif %} 

{% set userArticlesArr = [] %}
{% if user %} 
    {% set userArticlesArr = _User.getUserArticles(user.guid, 0, limit, [blogData.id]) %}
{% endif %}


{# {% set events = _Event.getEvents() %} #}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}



    <main id="main" class="container-fluid site-main listingForm" role="main">
        
        <section class="row section">
            <div class="col-sm-10 section-header">
                <h2>{{blogData.title}}</h2>
                <p class="description">
                    {{blogData.shortDescription}}
                </p>
            </div>
        </section>


        <section class="row">

            <div class="col-md-7">

                <form class="" method="post" action="#" id="listingForm">
                    <input type="text" class="articleExtendedData" name="" id="title" value="" placeholder="Name of event">
                    <input type="text" class="articleExtendedData" name="extendedData.date" id="eventDate" value="" placeholder="Date">
                    <input type="text" class="articleExtendedData" name="extendedData.time" id="eventTime" value="" placeholder="Time">

                    <p class="form-section-label">Location</p>

                    <fieldset>
                        <div class="inline">
                            <input type="radio" name="extendedData.salary" id="map1" class="articleExtendedData" value="1" checked="checked" />
                            <label for="map1">Show map</label>
                        </div>
                        <div class="inline">
                            <input type="radio" name="extendedData.salary" id="map2" class="articleExtendedData" value="2" />
                            <label for="map2">Hide map</label>
                        </div>

                    </fieldset>
                    <input type="text" class="articleExtendedData" name="extendedData.address" id="address" value="" placeholder="Address">
                    
                    <div class="row">
                        <div class="col-md-9">
                            <textarea name="content" id="content"></textarea>
                        </div>
                        <div class="col-md-3">
                            <div data-imgcls="images" data-id="imageArray" class="uploadFileBtn">Upload logo <br />(optional)</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div id="imageArray" data-media="" class="imagearray"></div>
                    
                            <button class="_btn" type="submit" id="listingFormSubmit">SEND</button>
                            <button class="_btn" type="reset" id="listingFormClear">CLEAR</button>
                        </div>
                    </div>
                </form>


            </div>
            <div  id="userListings" class="col-sm-offset-1 col-md-4">

                {% for article in userArticlesArr %}

                    {{this.render('partials/_single-article.twig', {
                        article: article, 
                        position: loop.index,
                        behaviour: 'noclick',
                        imageSize: {width: 150, height: 120},
                        template: 'listing',
                        containerClass: "card-article-suggested listingCard"
                    }) | raw}}

                {% endfor %}
            </div>


        </section>

    </main><!-- .site-main -->