{% set networkData = _Network.getNetworkData() %}

{% set blogInfo = _Blog.getBlog() %}
{{ set(this, 'title', blogInfo.title) }}


{{this.registerJs("CardController().screen();")}}
{{this.registerJs("var clock = new Acme.Clock(); clock.render();")}}

{% set weatherJs = 
    " var locations = new Acme.Locations();
      Acme.weather_model = new Acme.Weather();
      Acme.weather_model.fetch(locations.data[0], 'localweather');
      Acme.weather_view = new Acme.WeatherScreen_View({'container': $('#screenweather'), locations: locations});" %}

{{this.registerJs( weatherJs )}}




{% set limit = 7 %}

{# {% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}#}
{% set tickerArticles = _Article.getPopularArticles({ limit: limit, sortBy: 'VIEWS', scope: "network" }) %}
{# {% set articles = tickerArticles.articles %} #}

{# <pre>
    {{dump(articles)}}
</pre>
 #}



<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}

    <!--placeholder temp -->

<main id="main" class="full-height" role="main">
    
    <div class="screen-header">
        <img id="frank-logo" class="frank-logo" height="60px" class="" src="{{networkData.templatePath}}/static/images/frank-logo-reverse.svg">
        <time id="screentime" class="screentime"></time>
        <div id="screenweather" class="screenweather"></div>
    </div>

    <div class="main-screen flex_col full-height">

        <div class="flex1" style="background:green">

            <div id="ajaxArticles" 
                 data-offset="0"
                 data-blogid="{{blogid}}"
                 data-articlecount="1"
                 data-containerclass="screen-card card-sm-screen"
                 data-existing-nonpinned-count=""
                 class="full-height">
           </div>

            <a  class="loadMoreArticles" 
                style="display:none;"
                data-container="ajaxArticles"
                data-limit="2"
                href="#">Load more articles</a>
                
        </div>

        <div class="ticker flex1 flex-shrink0">
            <ul class="ticker__list" id="screenTicker">
                {% for article in tickerArticles %}
                    <li class="ticker__item"><p class="ticker__text">{{article.title}}</p></li>
                {% endfor %}
            </ul>

        </div>
    </div>







</main>
<script>
</script>
