{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}



{{this.registerJs("Acme.cards = CardController();")}}
{{this.registerJs("Acme.searchFeed = new Acme.View.articleFeed(Acme.cards);")}}
{{this.registerJs("Acme.searchCollection = new Acme.searchCollectionClass(["~blogData['id']~"]);")}}
{{this.registerJs("Acme.jobRegionFilter = new Acme.regionSearchView();")}}
{{this.registerJs("Acme.jobsSearchResults = new Acme.jobsSearchResultsClass('job-listings', 'jobCardTemplate');")}}


{# {{this.registerJs("ListingController();")}} #}

{% set limit = 10 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}



    <main id="main" class="container-fluid site-main" role="main">
        



        <section class="row section">

            <div class="col-md-offset-1 col-sm-10 section-header">
                <h2 class="section-header__title">{{this.title}}</h2>
            </div>
            <div class="col-md-offset-1 col-sm-7 subsection-header" >
                <p class="section-header__description">
                    {{blogData.shortDescription}}
                </p>
            </div>
            <div class="col-sm-3 hidden-xs">
                <a class="listing-link" href="{{networkData.defaultBlogUrl}}/@job-form">Submit a job</a>
            </div>
            
        </section>


        <section class="row">
            
            <div class="col-sm-10 col-md-offset-1 col-md-6">
                <div class="listing-filter-menu">
                    <div id="regionSelect" class="regionSelect"></div>
                </div>
            </div>
            <div class="col-sm-2">
                <a class="listing-filter-menu__link" id="searchButton" href="#">Search</a>
            </div>




            <div class="col-md-offset-1 col-sm-7 col-md-6">


                <div id="job-listings">
                    {% for i in 0..6 if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1),
                            template: 'jobs',
                            imageSuppress: true,
                            containerClass: 'card-rec-jobs card-rec-jobs-tablet card-rec-jobs-mobile'
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% endfor %}
                </div>



                {% if articles|length >= limit %}
                    {{ this.render('partials/ajaxarticles.twig', {
                        limit           : limit,
                        name            : "jobs-load",
                        label           : "Show more",
                        non_pinned      : articlesArr.existingNonPinnedCount, 
                        cardTemplate    : "jobCardTemplate",
                        rendertype      : "write", 
                        card_class      : "card-rec-jobs card-rec-jobs-tablet card-rec-jobs-mobile",
                        container       : "mainAjaxArticles",
                        blogid          : blogData['guid']
                    }) | raw }}
                {% endif %}

            </div>




            <div class="col-sm-offset-1 col-sm-4 col-md-3">
                <div class="advert">
                       <div id='hPageAd1'></div>
                        <script>loadNextAd(invSpace,'hPageAd1','halfAd',hPageSize,hPageMap);</script>
                </div>
            </div>
        </section>


        <section class="row visible-xs">
            <div class="col-sm-12">
                <a class="listing-link" href="{{networkData.defaultBlogUrl}}/@job-form">Submit a listing</a>
            </div>
        </section>


    </main><!-- .site-main -->