{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}



{{this.registerJs("window.Acme.cards = CardController();")}}



{# {{this.registerJs("ListingController();")}} #}

{% set limit = 10 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}



    <main id="main" class="container-fluid site-main" role="main">


        <section class="row section">

            <div class="col-sm-offset-1 col-sm-10 section-header">
                <h2 class="section-header__title">{{this.title}}</h2>
                <p class="section-header__description">{{blogData.shortDescription}}</p>
            </div>
            
        </section>


        <section class="row">

            <div class="col-sm-offset-1 col-sm-6">

                <div id="sports-results">
                    {% for i in 0..10 if articles[articleCount] %}
                        {{this.render('partials/_single-article.twig', {
                            article: articles[articleCount], 
                            position: (articleCount+1),
                            imageSize: {width: 217, height: 231},
                            containerClass: 'card-rec-sport card-rec-sport-tablet card-rec-sport-mobile'
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% endfor %}
                </div>

                {% if articles|length >= limit %}
                <div class="row">
                    {{ this.render('partials/ajaxarticles.twig', {
                        offset      : limit, 
                        limit       : 10,
                        label       : "Show more",
                        non_pinned  : articlesArr.existingNonPinnedCount, 
                        card_class  : "col-sm-12 card-rec-sport card-rec-sport-tablet card-rec-sport-mobile",
                        container   : "mainAjaxArticles"
                    }) | raw }}
                </div>
                {% endif %}

            </div>

            <div class="col-sm-offset-1 col-sm-3">
                <div class="advert">
                       <div id='hPageAd1'></div>
                        <script>loadNextAd(invSpace,'hPageAd1','halfAd',hPageSize,hPageMap);</script>
                </div>
            </div>
        </section>




    </main><!-- .site-main -->