{{ set(this, 'title', _Blog.getBlogTitle()) }}

{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set jobsBlogId = blogData.additionalInfo['publishto'] %}

{{this.registerJs("window.Acme.cards = CardController();")}}
{{this.registerJs("Acme.jobForm = new Acme.JobForm(["~jobsBlogId~"], 'Single Job Listing');")}}
{{this.registerJs("Acme.listingView.init("~jobsBlogId~", 'job');")}}
{{this.registerJs("Acme.listingCollection = new Acme.listingCollectionClass('listingCollection', "~jobsBlogId~");")}}


{% set limit = 10 %}

{% set user = false %}

{% if not _User.isGuest %} 
    {% set user = _User.getUser() %}
    {% set userString = "window.Acme.currentUser = '" ~ user.guid ~ "';" %}
    {{this.registerJs( userString )}}
{% endif %} 
{% set userArticlesArr = [] %}
{% if user %}                                                         
    {% set userArticlesArr = _User.getUserArticles(user.guid, 0, limit, {'blogs':[jobsBlogId], 'status': '-1'}) %}
{% endif %}



<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}



    <main id="main" class="container-fluid site-main listingForm" role="main">
        
        <section class="row section">
            <div class="col-sm-11 col-md-offset-2 col-md-7">
                <div class="row">

                    <div class="col-md-12 section-header">
                        <h2 class="section-header__title">{{this.title}}</h2>
                        <p class="section-header__description">{{blogData.shortDescription}}</p>
                    </div>

                </div>

                <section class="row">

                    <div class="col-md-12">

                        <div id="formerror" class="error-message">All fields have not been filled. Please review and <b>submit</b>.</div>

                        <form class="" method="post" action="#" id="listingForm" data-type="jobs">
                            <div class="row">
                                <div class="col-sm-9">
                                    <input type="text" class="articleExtendedData" name="extendedData.company" id="company" value="" placeholder="Company name*">
                                    <input type="text" class="articleExtendedData" name="extendedData.website" id="website" value="" placeholder="Company website">
                                </div>
                                <div class="col-sm-3">

                                    <div id="uploadFileBtn" data-imgcls="images" data-id="imageArray" class="uploadFileBtn jobs">
                                        <div class="innerImgBtn">
                                            <div id="InnerUploadFileBtn" class="vertical">
                                                <p>Upload logo <br />(optional)</p>
                                                <img src="{{networkData.templatePath}}/static/icons/upload-arrow.svg">
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="text" class="articleExtendedData" name="extendedData.contactname" id="contactname" value="" placeholder="Contact name*">
                                    <input type="email" class="articleExtendedData" name="extendedData.contactemail" id="contactemail" value="" placeholder="Contact email*">

                                    <input type="text" class="" name="title" id="title" value="" placeholder="Job title*">
                                    <div id="worktypeSelect" class="propertyListingSelect"></div>
                                    <input type="text" class="articleExtendedData" name="extendedData.location" id="location" value="" placeholder="Job location (suburb or postcode)*">
                                    <div id="regionSelect" class="propertyListingSelect"></div>

                                    <p class="form-section-label">Salary</p>

                                    <fieldset>
                                        <div class="inline">
                                            <input type="radio" name="extendedData.salary" id="salary1" class="articleExtendedData" value="1" />
                                            <label for="salary1">Annual salary</label>
                                        </div>


                                        <div class="inline">
                                            <input type="radio" name="extendedData.salary" id="salary2" class="articleExtendedData" value="2" />
                                            <label for="salary4">Hourly rate</label>
                                        </div>

                                        <div class="inline">
                                            <input type="radio" name="extendedData.salary" id="salary3" class="articleExtendedData" value="3" />
                                            <label for="salary3">Commission</label>
                                        </div>


                                        <div id="salaryRangeMenus" class="row" style="display:none;">
                                            <div class="col-sm-3 large-split">
                                                <div id="salarySelectFrom" class="propertyListingSelect"></div>
                                            </div>
                                            <div class="col-sm-3 large-split">
                                                <div id="salarySelectTo" class="propertyListingSelect"></div>
                                            </div>
                                        </div>                    



                                        <div id="hourlyRateInputs" class="row" style="display:none;">
                                            <div class="col-sm-3">
                                                <input type="text" class="articleExtendedData" name="extendedData.hourlyrate" id="hourlyrate" value="" placeholder="$ per hour">
                                            </div>
                                        </div>                    




                                    </fieldset>
                                    
                                    <textarea name="content" class="job-description" id="content" placeholder="Description*"></textarea>
                                    
                                    <div style="position:relative"> <!-- this div anchors datepicker to top of input if at bottom of screen -->
                                        <input type="text" class="articleExtendedData  listtingClose" name="extendedData.listingclose" id="listingclose" value="" placeholder="Applications close">
                                    </div>


                                    <div id="imageArray" data-media="" class="carousel-tray"></div>

                                    <button class="_btn _btn--red" type="submit" id="listingFormSubmit">SUBMIT</button>
                                    <button class="_btn _btn--red" type="reset"  id="listingFormClear">CLEAR</button>
                                    <button class="_btn _btn--gray" type="button"  id="listingFormDelete" style="display:none;">DELETE</button>
                                </div>
                            </div>
                        </form>


                    </div>
                </section>
            </div>



            <div class="col-sm-4 col-md-3">
                <h2 id="userlistingsrefresh" class="userListingsHeader">YOUR JOB LISTINGS</h2>

                <div  id="userListings" class="">
                    
                    {% for article in userArticlesArr %}

                        {{this.render('partials/_single-article.twig', {
                            article: article, 
                            position: loop.index,
                            behaviour: 'noclick',
                            imageSuppress: true,
                            template: 'user-jobs',
                            containerClass: "card-form-job-listing listingCard"
                        }) | raw}}

                    {% endfor %}
                </div>
            </div>

        </section>






    </main><!-- .site-main -->