{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set plans = _Paywall.getActiveNetworkPaywallPlans() %}

{% set config = _Network.getThemeConfig() %}


{% if not _User.isGuest() %}
    {% set redir = _Page.setHttpRedirects(
        { '|^/.*|': networkData.defaultBlogUrl, }, false) 
    %} 
{% endif %}



{% set plan = false %}
{% set trial = false %}
{% set code = false %}
{% set trialPeriod = '14' %} {# 14 days is default in the platform #}

{% set url = _AppHelper.getParsedUrl() %}
{% set params = url['query'] %}

{% for k, p in params %}

	{% if k == 'plan' %}
		{% for pl in plans %}
			{% if pl.guid == p %}
				{% set plan = pl %}
			{% endif %}
		{% endfor %}
	{% endif %}

	{% if k == 'trial' %}
		{% if p == 'true' and plan['trial_status'] == '1' %}
			{% set trial = true %}
			{% set trialPeriod = plan['trial_period'] %}
		{% endif %}
	{% endif %}
	{% if k == 'code' %}
		{% if p == 'true' %}
			{% set code = true %}
		{% endif %}
	{% endif %}

{% endfor %}


{% if plan != false  %}

{# The first payment is due on DD Month 20XX unless cancelled. #}
    {% set val = plan.plan_value / 100 %}
    {% if val == 19.89 %}
        {% set val = 19.90 %}
    {% endif %}
    {% set planPrice = plan.currency|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"}) ~ val|number_format(2, '.', ',') %}

    {% set frequency = plan.period_count > 1 ? plan.period_count : ""  %}

    {% set planPeriod = plan.period %}
    {% if plan.period_count > 1 %}
        {% set planPeriod = plan.period ~ 's' %}
    {% endif %}

    {% set frequency = frequency ~ " " ~ planPeriod  %}
{% endif %}




<main id="main" class="site-main listingForm" role="main">
	<div id="stripekey" class="hidden" >{{networkData['stripe_publishable_key']}}</div>
	{# <div id="stripekey" class="hidden" >pk_live_0xvvL0i2RAw7vjUbw5xI7L7O</div> #}
	<div class="container-fluid">

		<section class="row">
			<div class="col-sm-12 market-header">
				<div class="frankheader">
					<img class="frankHeader__img" src="{{networkData.templatePath}}/static/images/frank-logo.svg" width="216" height="60">
					<p>TRUSTED SOURCES. GLOBAL STORIES.</p>
				</div>

				<img class="ubt-logo" src="{{networkData.templatePath}}/static/images/ubt-logo.png" width="151" height="54">

			</div>
		</section>
	</div>

	<section class="market-hero">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="content">
						<h1>Almost there…  <br />
							You’re just one step away from trusted sources.</h1>
					</div>
				</div>
			</div>
		</section>
	</section>






	<div class="container-fluid">

		<section class="row">
			<div class="col-md-offset-1 col-md-7">
				{% if plan != false  %}

					{% if trial %}
						<div class="trial">
							<h2 class="trial__header">Start your {{trialPeriod}}-day free trial now</h2>

							<p class="trial__text">
								A {{trialPeriod}}-day free trial requires registration with a valid credit card. After {{trialPeriod}} days, 
								your credit card will be charged for your chosen subscription unless you cancel 
								not less than two days before the end of the free period. Subscriptions are billed 
								monthly.
							</p>

							<p class="trial__text trial__text--last">
								To cancel your trial, visit the My Account section. For further 
								information, please visit the <a href="{{networkData.defaultBlogUrl}}/faq" target="_blank">FAQ</a>.
							</p>
						</div>
					{% endif %}

				    <form class="" method="post" action="" id="listingForm">
			    		<p class="form-section-label">Your information</p>


		                <input type="text" class="articleExtendedData" name="firstname" id="firstname" value="" placeholder="First name">
		                <input type="text" class="articleExtendedData" name="lastname" id="lastname" value="" placeholder="Last name">
		                {# <input type="text" class="articleExtendedData" name="username" id="username" value="" placeholder="Username">
		                <p class="form-section-note">Username must be at least five characters long and contain no spaces or special characters</p> #}


		                <input type="password" class="" name="password" id="password" value="" placeholder="Password">
  		                <p class="form-section-note">Password must be at least six characters and include upper case, lower case and digit</p>
						<input type="password" class="" name="verifypassword" id="verifypassword" value="" placeholder="Password verify">


		                <input type="email" class="" name="email" id="email" value="" placeholder="Email">
		                {# <input type="text" class="articleExtendedData" name="phone_no" id="phone_no" value="" placeholder="Mobile"> #}
		                <input type="text" class="articleExtendedData" name="address1" id="address1" value="" placeholder="Street address">
		                <input type="text" class="articleExtendedData" name="address2" id="address2" value="" placeholder="Street address line 2 (optional)">
						<input type="text" class="articleExtendedData" name="city" id="city" value="" placeholder="City / Town">
						
						{# {% if plan.currency == "GBP" %}
		                	<input type="text" class="articleExtendedData" name="state" id="state" value="" placeholder="City/Town">
						{% else %}
		                	<input type="text" class="articleExtendedData" name="state" id="state" value="" placeholder="State">
			            {% endif %} #}
		                
						<input type="text" class="articleExtendedData" name="postcode" id="postcode" value="" placeholder="Zip / Postcode">
			            
			            <input type="hidden" class="" name="planid" id="planid" value="{{plan.guid}}">
			            <input type="hidden" class="" name="trial" id="trial" value="{{trial}}">

			            <div id="countrySelect" class="countrySelect"></div> 

 						<div class="u-margin-bottom-20"></div>
                            {% if trial %}
                                <div class="button-set c-checkbox u-margin-bottom-15">
                                    <input id="changeterms" name="changeterms" type="checkbox" class="c-checkbox__input validate[required]" /> 
                                    <label class="c-checkbox__label" for="changeterms">
                                        <span class="c-checkbox__button"></span>
                                        I agree to my card being charged {{planPrice}} every {{frequency}} at the end of the {{trialPeriod}}-day free trial period. 
                                    </Label>
                                </div>

                                <div class="button-set c-checkbox u-margin-bottom-15">
                                    <input id="cancelterms" name="cancelterms" type="checkbox" class="c-checkbox__input validate[required]" /> 
                                    <label class="c-checkbox__label" for="cancelterms">
                                        <span class="c-checkbox__button"></span>
                                        I understand I can cancel for free before the end of the trial in My Account page, and I will be emailed a payment reminder 7 days before the end of the free trial period. I understand I can cancel my paid subscription at any time in My Account page.
                                    </label>
                                </div>
                            {% endif %}


                            <div class="button-set c-checkbox u-margin-bottom-15">
                                <input id="terms" name="terms" type="checkbox" class="c-checkbox__input validate[required]" />
                                <label class="c-checkbox__label u-padding-top-3" for="terms">
                                    <span class="c-checkbox__button"></span>
                                    I agree to the frank <a href="{{networkData.defaultBlogUrl}}/terms-of-use" target="_blank">Terms of Use and Cancellation Policy</a></strong>
                                </label>
                            </div>
                         
                         
                         
                         
                         
                         {% if code %}
						<p class="form-section-label u-margin-top-40">Redeem Code</p>
			            {% else %}
						<p class="form-section-label u-margin-top-40">Payment details</p>
			            {% endif %}

				    
					</form>
 					{% if  code %}
					<form action="/charge" method="post" id="payment-form">
					  <div class="form-row ">
					    <label for="code-redeem">
					      Gift code
					    </label>
		                <input type="text" class="articleExtendedData" name="code-redeem" id="code-redeem" value="" placeholder="0a1b-2c3d-4e5f">
					  </div>

					  <button id="subscribe" class="_btn _btn--red u-margin-top-25 u-margin-bottom-25">SUBSCRIBE</button>
					</form>
					{% else %}

					<form action="/charge" method="post" id="payment-form">
					  <div class="form-row ">
					    <label for="card-element">
					      Credit or debit card
					    </label>
					    <div id="card-element">
					      <!-- a Stripe Element will be inserted here. -->
					    </div>

					    <!-- Used to display form errors -->
					    <div id="card-errors" class="card-errors" role="alert"></div>
					  </div>

			        {# {% if trial %}
					  	<button id="subscribe-trial" class="_btn _btn--red u-margin-top-25">SIGN UP FOR A 14 DAY TRIAL</button>
					{% endif %} #}

					  <button id="subscribe" class="_btn _btn--red u-margin-top-25 u-margin-bottom-25">SUBSCRIBE</button>
					</form>
					{% endif %}

				{% else %}
					<h1>You need to choose a plan from the subscriptions screen</h1>
				{% endif %}
			</div>			



			<div class="col-md-3">
				<div class="plan-type">

					{% if plan != false %}
						<div class="plan-type-header">
							<h2>Order Summary</h2>
						</div>
						<div class="plan-body">

							<h3>{{plan.plan_name}}</h3>
							{% set uc = plan.user_count %}
							{% set val = plan.plan_value / 100 %}
							{% if val == 19.89 %}
								{% set val = 19.90 %}
							{% endif %}

							<p>{{uc|replace({ '10001': '20+' })}} users</p>
							<h4>{{plan.currency|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"})}}{{val|number_format(2, '.', ',')}} ({{plan.currency|raw}})/{{plan.period}}</h4>
							<img src="{{networkData.templatePath}}/static/images/market-screens.png?v=2">
							<p class="red-label u-margin-top-40">What's included in your subscription:</p>
							<ul class="features-list">
								{{plan.description | raw }}
							</ul>

							<a href="{{networkData.defaultBlogUrl}}#subscriptions">Change subscription</a>
						</div>



					{# 	{{ this.render('partials/_plan-'~plan~'.twig', {
						    networkData: networkData, 
						}) | raw }} #}

					{% endif %}
				</div>
			</div>

		</section>

	</div>

</main>
{{this.registerJs("(function(){
    var w=window;
    var ic=w.Intercom;
    if(typeof ic==='function'){
        ic('reattach_activator');
        ic('update',intercomSettings);
    }else{
        var d=document;
        var i=function(){
            i.c(arguments)
        };
        i.q=[];
        i.c=function(args){
            i.q.push(args)
        };
        w.Intercom=i;
        function l(){
            var s=d.createElement('script');
            s.type='text/javascript';
            s.async=true;
            s.src='https://widget.intercom.io/widget/zxwsoz9f';
            var x=d.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s,x);
        }
        if(w.attachEvent){
            w.attachEvent('onload',l);
        }else{
            w.addEventListener('load',l,false);
        }
    }
})()")}}

<script>
  window.intercomSettings = {
    app_id: "zxwsoz9f"
  };    
</script>


{% set captcha = config.paywall.captcha.active is defined ? config.paywall.captcha.active : false %}
{% set captchaOn = config.paywall.captcha.on is defined ? config.paywall.captcha.on : 'all' %}

{% if captcha %}
    {% if (captchaOn == 'trial' and plan.trial_status == '1') or captchaOn == 'all' %}
        {% if networkData.thirdPartyIntegrations['recaptcha'] | length > 0 and networkData.thirdPartyIntegrations['recaptcha']['site_key'] != '' %}
            {% set site_key = networkData.thirdPartyIntegrations['recaptcha']['site_key'] %}
            <script src="https://www.google.com/recaptcha/api.js?render={{site_key}}"></script>
            <script>
                if (typeof window.Acme === "undefined") {
                    window.Acme = {};
                }

                window.Acme.captcha_site_key = "{{site_key}}";
            </script>
        {% endif %}
    {% endif %}
{% endif %}