{% set networkData = _Network.getNetworkData() %}

{% set blogInfo = _Blog.getBlog() %}
{{ set(this, 'title', blogInfo.title) }}


{{this.registerJs("CardController().screen();")}}
{{this.registerJs("var clock = new Acme.Clock();")}}
{{this.registerJs('$("#screenTicker").liScroll({travelocity:.07});')}}



{{this.registerJs( weatherJs )}}


{% set sections =  {
        "ticker": {
            "limit" : 10
        }
    }
%}

{% for key, value in sections %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key %}
            {% set sections = sections | merge({
                (key) : {
                    'feed'          : _Blog.getBlogFeed({'limit': sections[key]['limit'], 'offset': 0, 'blogid':blog.guid}),
                    'link'          : blog.link,
                    'description'   : blog.short_description,
                    'blogid'        : blog.guid,
                    'limit'         : sections[key]['limit']
                    }
                }) %}
        {% endif %}
    {% endfor %}
{% endfor %}



<main id="main" class="full-height" role="main">
    
    <div class="screen-header">
        <img id="frank-logo" class="frank-logo" height="60px" class="" src="{{networkData.templatePath}}/static/images/frank-logo-reverse.svg">
        <time id="screentime" class="screentime"></time>
        <div id="screenweather" class="screenweather"></div>
    </div>

    <div class="main-screen flex_col full-height">

        <div class="flex1" style="overflow:hidden;">

            <div id="ajaxArticles" 
                 data-offset="0"
                 data-blogid="{{blogid}}"
                 data-articlecount="1"
                 data-card-class="screen-card card-sm-screen"
                 data-existing-nonpinned-count=""
                 class="full-height">
           </div>

            <a  class="loadMoreArticles" 
                style="display:none;"
                data-container="ajaxArticles"
                data-limit="2"
                href="#">Load more articles</a>
                
        </div>
        <div class="home_ticker screen">
            <div class="home_ticker_box">
            frank. first <br/> with the facts
            <div class="arrow-right"></div>
            </div>
            <div class="ticker flex1 flex-shrink0">
                <ul class="ticker__list" id="screenTicker">
                    {% for article in sections['ticker'].feed.articles %}
                        <li class="ticker__item"><span class="blog-name">{{article.label}}</span><a href={{article.url}}><p class="ticker__text">{{article.title}}</p></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>



</main>
<script>
</script>
