{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}



{{this.registerJs("Acme.cards = CardController();")}}
{{this.registerJs("Acme.eventFeed = new Acme.View.articleFeed(Acme.cards);")}}



{# {{this.registerJs("ListingController();")}} #}

{% set limit = 50 %}

{# {% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
 #}
{% set articles = _Event.getEvents({'limit': limit, 'offset': 0}) %}

<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}



    <main id="main" class="container-fluid site-main" role="main">
        



        <section class="row section">

            <div class="col-sm-offset-1 col-sm-10 section-header">
                <h2 class="section-header__title">{{this.title}}</h2>
            </div>
            <div class="col-sm-offset-1 col-sm-7 subsection-header" >
                <p class="section-header__description">
                    {{blogData.shortDescription}}
                </p>
            </div>
            <div class="col-sm-3 hidden-xs" >
                <a class="listing-link" href="{{networkData.defaultBlogUrl}}/@event-form" style="background-image:url('{{networkData.templatePath}}/static/images/submit_event.svg')"></a>
            </div>
            
        </section>


        <section class="row">

            <div class="col-sm-offset-1 col-sm-6">


                <div id="job-listings">
                    {% for article in articles %}
                        {{this.render('partials/_single-event.twig', {
                            event: article, 
                            imageSize: {width: 173, height: 144},
                            containerClass: 'card-rec card-rec-tablet card-rec-mobile'
                        }) | raw}}
                    {% endfor %}
                </div>

{#                 {% if articles|length >= limit %}
                    {{ this.render('partials/ajaxarticles.twig', {
                        limit       : limit, 
                        label       : "Show more",
                        non_pinned  : articlesArr.existingNonPinnedCount, 
                        rendertype  : "write",
                        loadtype    : "events",
                        card_class  : "col-sm-12 card-rec-jobs card-rec-jobs-tablet card-rec-jobs-mobile",
                        container   : "mainAjaxArticles"
                    }) | raw }}
                {% endif %}

 #}            </div>




            <div class="col-sm-offset-1 col-sm-3">
                <div class="advert">
                       <div id='hPageAd1'></div>
                        <script>loadNextAd(invSpace,'hPageAd1','halfAd',hPageSize,hPageMap);</script>
                </div>
            </div>
        </section>




    </main><!-- .site-main -->