{% set plans 		= networkData['paywallPlans'] %}
{% set blogData		= _Blog.getBlog() %}
{% set blogName      = blogData.title %}
	
{% set aus = [] %}
{% set usd = [] %}
{% set gbp = [] %}

{# separate plans by currency #}
{% for plan in plans %}
	{% if plan.currency | lower == 'usd' and 'School' not in plan.plan_name %}
		{% set usd = usd|merge([plan]) %}
	{% endif %}
	{% if plan.currency | lower == 'aud' and 'School' not in plan.plan_name %}
		{% set aus = aus|merge([plan]) %}
	{% endif %}
	{% if plan.currency | lower == 'gbp' and 'School' not in plan.plan_name %}
		{% set gbp = gbp|merge([plan]) %}
	{% endif %}
{% endfor %}


{% set ui_plans = aus | slice(0,4) %}






{{this.registerJs("var signin = new Acme.Signin('signinForm', '#signin');")}}
{{this.registerJs("var signup = new Acme.Signup();")}}
 

<main id="main" class="site-main" role="main">
	<div class="container-fluid">

		<section class="row">
			<div class="col-sm-12 market-header">
				<div class="market-header__center">
					<img class="market-header__center-img" src="{{networkData.templatePath}}/static/images/frank-logo.svg" width="216" height="60">
					<p class="market-header__p">TRUSTED SOURCES. GLOBAL STORIES.</p>
				</div>

				<img class="market-header__logo ubt-logo" src="{{networkData.templatePath}}/static/images/ubt-logo.png" width="151" height="54">

			</div>
		</section>
	</div>

	<section class="market-hero">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="content">

						<h1>News&nbsp;that matters to&nbsp;you</h1>
						<p class="visible-sm-block visible-md-block visible-lg-block">A daily selection of news items from around the globe, <br class="visible-sm-block" />curated exclusively for the community.</p>

						{% if _User.isGuest() %}
							<a id="" href="#subscriptions" class="_btn">SUBSCRIBE NOW</a>
	 						<a id="body_login_link" class="hidden-xs hidden-sm" style="background:#337ab7;margin-left:25px;padding:15px 45px;cursor:pointer;">SIGN IN</a>
	 					{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="container-fluid">

		<section class="row">
			<div class="col-sm-12">
				<h1 class="marketing__section-header">A unique news experience</h1>
			</div>
			<div class="col-md-3 col-sm-6 three-card">
				<img src="{{networkData.templatePath}}/static/images/market-curated.svg">
				<h2>CURATED</h2>
				<p>We understand what really matters, without the fluff. Informative news that's safe for all the family to read.   </p>
			</div>
			<div class="col-md-3 col-sm-6 three-card">
				<img src="{{networkData.templatePath}}/static/images/market-world.svg">
				<h2>ALL THE WORLD'S NEWS</h2>
				<p>Stay well-informed with our premium network of news and video from every corner of the globe, with specific focus on community locations.</p>
			</div>
			<div class="col-md-3 col-sm-6 three-card">
				<img src="{{networkData.templatePath}}/static/images/market-professional.svg">
				<h2>PROFESSIONAL</h2>
				<p>Curated exclusively for UBT by AAP's dedicated newsroom of professionals to the highest editorial standards.</p>
			</div>
			<div class="col-md-3 col-sm-6 three-card">
				<img src="{{networkData.templatePath}}/static/images/market-dig-screen.svg?v=3">
				<h2>BUSINESS PACKAGES</h2>
				<p>All business subscriptions include access to a 24-hour live stream of curated news to display on your TV or digital screens. <br class="visible-sm-block" /><a href="{{networkData.defaultBlogUrl}}/@business-subscriptions">Learn more here</a></p>
			</div>
		</section>
	</div>



	<section class="row essential-news">
		<div class="container-fluid">
			<div class="col-sm-12">
				<h1 class="marketing__section-header">Essential news, delivered daily</h1>
				<p>Quality journalism, the way you want it. Enjoy unlimited access to stories that matter.</p>
			</div>
			<div class="col-sm-12 col-md-5 col-md-offset-1 centerContent">
				<img class="screenImage" src="{{networkData.templatePath}}/static/images/market-screens.png?v=2"></img>
			</div>
			<div class="col-sm-12 col-md-offset-1 col-md-5">
				<h3>What's included in your subscription</h3>
				<ul>
					<li>Unlimited access to the frank website on desktop, mobile and tablet</li>
					<li>frank Analysis, an exclusive printable newsletter of the day's best news</li>
					<li>Post and view real estate and job listings from the UBT community</li>
					<li>Digital screens available for business pack subscribers*</li>
				</ul>
				<p class="disclaimer">*Additional hardware may be required for digital screens</p>
			</div>
		</div>
	</section>

	<section id="testimonials" class="row owl-carousel owl-theme testimonial u-mobile-no-margin-bottom" data-slider-id="1" >
		
		<div class="testimonial__item col-sm-12">
			<div class="row">
				<div class="col-sm-2">			
					<img class="testimonial__image" src="{{networkData.templatePath}}/static/images/headshots/bill-haughton_.png?v=20">
				</div>
				<div class="col-sm-10" >			
					<p class="testimonial__text"><span>'</span>frank news has been one of the best things to happen to my day. With easy access to relevant news it saves a lot of time without the unsavoury distractions that can come from other available news channels. If I had teenage children, I would remove all other news channels and give them access to frank. Added to this, the community entries are very helpful, and the video library has some very interesting screenings. It has improved even more since it began and I’m sure it will get even better! Thank you, frank!<span>'</span></p>
					<p class="testimonial__author">Bill Haughton – Fixfirm</p>
				</div>
			</div>
		</div>


		<div class="testimonial__item col-sm-12">
			<div class="col-sm-2">			
				<img class="testimonial__image" src="{{networkData.templatePath}}/static/images/headshots/garth-white_.png?v=20">
			</div>
			<div class="col-sm-10" >			
				<p class="testimonial__text"><span>'</span>We find frank News invaluable due to the fact that the content is all relevant and curated up to the minute news about important political, social and business events, presented in a safe forum that it is free from the non-news that other providers save to fill up their publications that is usually a complete time waster to say the least.<span>'</span></p>
				<p class="testimonial__author">Garth White – Ascot Signs</p>
			</div>
		</div>


		<div class="testimonial__item col-sm-12">
			<div class="col-sm-2">			
				<img class="testimonial__image" src="{{networkData.templatePath}}/static/images/headshots/brent-douglas_.png?v=20">
			</div>
			<div class="col-sm-10" >			
				<p class="testimonial__text"><span>'</span>We have had frank News for 6 months or so and find it a great source for up to date unbiased news. The daily update emails are a chance to view headlines without spending a lot of time reading. Also, the videos are well done and worth looking at. Overall a great platform for the family and staff to keep aware of what is happening globally without wasting time on unnecessary stories!<span>'</span></p>
				<p class="testimonial__author">Brent Douglass – Hazchem Safety </p>
			</div>
		</div>

		<div class="testimonial__item col-sm-12">
			<div class="col-sm-2">			
				<img class="testimonial__image" src="{{networkData.templatePath}}/static/images/headshots/chloe-worsley_.png?v=20">
			</div>
			<div class="col-sm-10" >			
				<p class="testimonial__text"><span>'</span>It’s very up to date.  I find it useful as it saves me going through loads of rubbish on other sites – you know you will see the main things you should know.<span>'</span></p>
				<p class="testimonial__author">Chloe Worsley – Kinorigo </p>
			</div>
		</div>


		<div class="testimonial__item col-sm-12">
			<div class="col-sm-2">			
				<img class="testimonial__image" src="{{networkData.templatePath}}/static/images/headshots/mark-stevens_.png?v=20">
			</div>
			<div class="col-sm-10" >			
				<p class="testimonial__text"><span>'</span>frank gives us clear up-to-date coverage of worldwide news and events, select video footage which is both fascinating and historic, engaging articles from within the community, David Holder’s Bulletin and much more – exceptional value for money!<span>'</span></p>
				<p class="testimonial__author">Mark Stevens – HVDS</p>
			</div>
		</div>


		<div class="testimonial__item col-sm-12">
			<div class="col-sm-2">			
				<img class="testimonial__image" src="{{networkData.templatePath}}/static/images/headshots/howard-temple_.png?v=20">
			</div>
			<div class="col-sm-10" >			
				<p class="testimonial__text"><span>'</span>We have found frank an excellent addition to the UBT offering – very easy to use and navigate, very up to date 24/7 but without everything you wish you hadn’t seen on other news sites. Whilst OneNews was fine for occasional updates on items you might not see anywhere else, I have found Frank so up to date and useful that I have now blocked all other news sites on my phone – I don’t need them now.<span>'</span></p>
				<p class="testimonial__author">Howard Temple – Sales Director</p>
			</div>
		</div>



	</section>


	<div class="container-fluid">

		<a name="subscriptions"></a>
		
		{% if _User.isGuest() %}
			<section class="row marketing-subscriptions u-margin-top-90">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							<h1 class="marketing__section-header">Trusted sources. Global stories</h1>
							<p class="marketing-subscriptions__description">
								{% if 'uk' in networkData.title | lower %}
									Choose the subscription that's right for you.
								{% else %}
									Choose the subscription that's right for you. Please select a currency to view subscription options.<br />
									In the United Kingdom? <a href="https://www.franknews.co.uk/">click here for our UK site</a>.
								{% endif %}
							</p>
							
						</div>
					</div>
				
					{% if 'uk' in networkData.title | lower %}
						<a class="visible-xs-block row" href="https://www.franknews.global"><p class="plans__uk-global" >Located outside the UK?<br /> Click here to sign up at franknews.global</p></a>
						<div  id="ui_plans" class="row">
							
							{% for plan in gbp %}

								<div class="col-sm-3 subscription-card">
									<div class="card">
										<h3>{{plan.plan_name}}</h3>
										{% set uc = plan.user_count + 1 %}
										{% set val = plan.plan_value / 100 %}
										{% if val == 19.89 %}
											{% set val = 19.90 %}
										{% endif %}
										<p class="usercount">{{uc|replace({ '10001': '21+' })}} Users</p>
										<p class="price">{{plan.currency|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"})}}{{val|number_format(2, '.', ',')}} ({{plan.currency|raw}})<br class="hidden-xs"> per {{plan.period}}</p>

										
										{% if trial %}
											<a href="{{networkData.defaultBlogUrl}}/@subscribe?plan={{plan.guid}}&amp;trial=true">
												<p class="centerBlock _btn _btn--blue _btn__subscribe">14-DAY FREE TRIAL</p>
											</a>
										{% endif %}

										{% set planUrl = networkData.defaultBlogUrl ~ '/@subscribe?plan=' ~ plan.guid %}
										{% if plan.trial_status == "1" %}
											{% set planUrl = networkData.defaultBlogUrl ~ '/@subscribe?plan=' ~ plan.guid ~ '&trial=true'%}
										{% endif %}

										<a href="{{planUrl}}">
											<p class="centerBlock _btn _btn--red _btn__subscribe">
												<span>SUBSCRIBE NOW</span>
												{% if plan.trial_status == "1" %}
													<span class="btn_trial">Your subscription includes a <br />{{plan.trial_period}}-day free trial period</span>
												{% endif %}
											</p>
										</a>
									</div>
								</div>
						    {% endfor %}
						    <p class="plans__vat-text">All subscription prices include VAT</p>
						</div>
					{% else %}
						<div id="currency-select" class="currency-select u-margin-bottom-40">
							<form id="currency-form">
								
								<div class="currency-select__radio-group">
									<input class="currency-select__radio-input" id="usd" type="radio" name="currency" value="usd">
									<label class="currency-select__label" for="usd">
										<span class="currency-select__radio-button"></span>
										<img src="{{networkData.templatePath}}/static/images/us_dollars2.png">
									</label>
								</div>

								<div class="currency-select__radio-group">
									<input class="currency-select__radio-input" id="aud" type="radio" name="currency" value="aud">
									<label  class="currency-select__label" for="aud">
										<span class="currency-select__radio-button"></span>
										<img src="{{networkData.templatePath}}/static/images/australian_dollars2.png">
									</label>
								</div>
							
							</form>
						</div>






						<div  id="ui_plans" class="row ui_plans">
						{% for plan in ui_plans %}

							<div class="col-sm-3 subscription-card">
								<div class="card">
									<h3>{{plan.plan_name}}</h3>
									{% set uc = plan.user_count + 1 %}
									{% set val = plan.plan_value / 100 %}
									{% if val == 19.89 %}
										{% set val = 19.90 %}
									{% endif %}
									<p class="usercount">{{uc|replace({ '10001': '21+' })}} Users</p>
									<p class="price">{{plan.currency|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"})}}{{val|number_format(2, '.', ',')}} ({{plan.currency|raw}})<br class="hidden-xs"> per {{plan.period}}</p>

									
									{% if trial %}
										<a href="{{networkData.defaultBlogUrl}}/@subscribe?plan={{plan.guid}}&amp;trial=true">
											<p class="centerBlock _btn _btn--blue _btn__subscribe">14-DAY FREE TRIAL</p>
										</a>
									{% endif %}

									{% set planUrl = networkData.defaultBlogUrl ~ '/@subscribe?plan=' ~ plan.guid %}
									{% if plan.trial_status == "1" %}
										{% set planUrl = networkData.defaultBlogUrl ~ '/@subscribe?plan=' ~ plan.guid ~ '&trial=true'%}
									{% endif %}

									<a href="{{planUrl}}">
										<p class="centerBlock _btn _btn--red _btn__subscribe">
											<span>SUBSCRIBE NOW</span>
											{% if plan.trial_status == "1" %}
												<span class="btn_trial">Your subscription includes a <br />{{plan.trial_period}}-day free trial period</span>
											{% endif %}
										</p>
									</a>
								</div>
							</div>
					    {% endfor %}
						</div>






						<div  id="au_plans" class="au_plans row">
						{% for plan in aus %}

							<div class="col-sm-3 subscription-card">
								<div class="card">
									<h3>{{plan.plan_name}}</h3>
									{% set uc = plan.user_count + 1 %}
									{% set val = plan.plan_value / 100 %}
									{% if val == 19.89 %}
										{% set val = 19.90 %}
									{% endif %}
									<p class="usercount">{{uc|replace({ '10001': '21+' })}} Users</p>
									<p class="price">{{plan.currency|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"})}}{{val|number_format(2, '.', ',')}} ({{plan.currency|raw}})<br class="hidden-xs"> per {{plan.period}}</p>

									
									{% if trial %}
										<a href="{{networkData.defaultBlogUrl}}/@subscribe?plan={{plan.guid}}&amp;trial=true">
											<p class="centerBlock _btn _btn--blue _btn__subscribe">14-DAY FREE TRIAL</p>
										</a>
									{% endif %}

									{% set planUrl = networkData.defaultBlogUrl ~ '/@subscribe?plan=' ~ plan.guid %}
									{% if plan.trial_status == "1" %}
										{% set planUrl = networkData.defaultBlogUrl ~ '/@subscribe?plan=' ~ plan.guid ~ '&trial=true'%}
									{% endif %}

									<a href="{{planUrl}}">
										<p class="centerBlock _btn _btn--red _btn__subscribe">
											<span>SUBSCRIBE NOW</span>
											{% if plan.trial_status == "1" %}
												<span class="btn_trial">Your subscription includes a <br />{{plan.trial_period}}-day free trial period</span>
											{% endif %}
										</p>
									</a>
								</div>
							</div>
					    {% endfor %}
						</div>


						<div id="us_plans" class="us_plans row">
					    {% for plan in usd %}

							<div class="col-sm-3 subscription-card">
								<div class="card">
									<h3>{{plan.plan_name}}</h3>
									{% set uc = plan.user_count + 1 %}
									{% set val = plan.plan_value / 100 %}
									{% if val == 19.89 %}
										{% set val = 19.90 %}
									{% endif %}
									<p class="usercount">{{uc|replace({ '10001': '21+' })}} Users</p>
									<p class="price">{{plan.currency|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"})}}{{val|number_format(2, '.', ',')}} ({{plan.currency|raw}})<br class="hidden-xs"> per {{plan.period}}</p>

									
									{% if trial %}
										<a href="{{networkData.defaultBlogUrl}}/@subscribe?plan={{plan.guid}}&amp;trial=true">
											<p class="centerBlock _btn _btn--blue _btn__subscribe">14-DAY FREE TRIAL</p>
										</a>
									{% endif %}

									{% set planUrl = networkData.defaultBlogUrl ~ '/@subscribe?plan=' ~ plan.guid %}
									{% if plan.trial_status == "1" %}
										{% set planUrl = networkData.defaultBlogUrl ~ '/@subscribe?plan=' ~ plan.guid ~ '&trial=true'%}
									{% endif %}

									<a href="{{planUrl}}">
										<p class="centerBlock _btn _btn--red _btn__subscribe">
											<span>SUBSCRIBE NOW</span>
											{% if plan.trial_status == "1" %}
												<span class="btn_trial">Your subscription includes a <br />{{plan.trial_period}}-day free trial period</span>
											{% endif %}
										</p>
									</a>
								</div>
							</div>
					    {% endfor %}
						</div>
					{% endif %}
				</div>

				{% if trial %}
					<p class="subscribe__payment-info">Please note: Your payment method will be charged at the end of the 14-day free trial period unless cancelled prior.</p>
					<br />
				{% endif %}

				<a class="subscribe__link" href="mailto:hello@franknews.global"><p class="subscribe__contact">Need a tailored business package, or want to pay annually? <b style="color:#AE232C;">Click here</b> to contact the frank team</p></a>

				<br />

				<a class="subscribe__link" href="mailto:hello@franknews.global"><p class="subscribe__contact" style="margin-top:0;">Do you have a further question or need support on your existing account? <b style="color:#AE232C;">Click here</b> to contact the frank team</p></a>


				{% if 'uk' in networkData.title | lower %}
					<br />

					<a class="subscribe__link" href="https://www.franknews.global" style="margin-top:0;"><p class="subscribe__contact visible-sm-block visible-md-block visible-lg-block">Located outside the UK? <b style="color:#AE232C;">Click here</b> to sign up at franknews.global</p></a>
				{% endif %}

			</section>
		{% endif %}
	</div>

</main>



