{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set jobsBlogId = 117 %}

{{this.registerJs("window.Acme.cards = CardController();")}}
{{this.registerJs("Acme.propertyForm = new Acme.PropertyForm(["~jobsBlogId~"], 'Property Page');")}}
{{this.registerJs("Acme.listingView.init("~jobsBlogId~");")}}


{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set limit = 10 %}

{% set user = false %}

{% if not _User.isGuest %} 
    {% set user = _User.getUser() %}
    {% set userString = "window.Acme.currentUser = '" ~ user.guid ~ "';" %}
    {{this.registerJs( userString )}}
{% endif %} 

{% set userArticlesArr = [] %}
{% if user %}                                                                  {# 117 is properties listings blog id #}
    {% set userArticlesArr = _User.getUserArticles(user.guid, 0, limit, {'blogs':[jobsBlogId], 'status': 'all'}) %}
{% endif %}

{# {% set events = _Event.getEvents() %} #}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}



    <main id="main" class="container-fluid site-main listingForm" role="main" user="{{user.guid}}">
        

        <section class="row section">
            <div class="col-sm-7 section-header">
                <h2>{{blogData.title}}</h2>
                <p class="description">
                    {{blogData.shortDescription}}
                </p>
            </div>
            <div class="col-sm-offset-1 col-md-4 section-header">
                <h2 id="userlistingsrefresh">Your listings</h2>
            </div>

        </section>




        <div class="row">
            <div class="col-md-7">

                <div id="formerror" class="error-message">All fields have not been filled. Please review and <b>submit</b>.</div>

                <form class="" method="post" action="#" id="listingForm" data-articleId="" data-type="property">

                    <div class="row">
                        <div class="col-md-12">
                            <div id="propertySelect" class="propertyListingSelect"></div>
                            <div id="regionSelect" class="propertyListingSelect"></div>
                            <div id="buySelect" class="propertyListingSelect"></div>


                            <input type="text" class="" name="title" id="title" value="" placeholder="Address">
                            <input type="text" class="articleExtendedData" name="extendedData.pricerange" id="pricerange" value="" placeholder="Price range">
                            <input type="text" class="articleExtendedData" name="extendedData.propertyid" id="propertyid" value="" placeholder="Property ID">
                            <input type="text" class="articleExtendedData" name="extendedData.landarea" id="landarea" value="" placeholder="Land area">
                            <input type="text" class="articleExtendedData" name="extendedData.floorarea" id="floorarea" value="" placeholder="Floor area">
                            <input type="text" class="articleExtendedData" name="extendedData.availability" id="availability" value="" placeholder="Availablity">
                            <input type="text" class="articleExtendedData" name="extendedData.annualreturn" id="annualreturn" value="" placeholder="Annual return">
                            <input type="text" class="articleExtendedData" name="extendedData.company" id="company" value="" placeholder="Agency or Company name">
                            <input type="text" class="articleExtendedData" name="extendedData.contactname" id="contactname" value="" placeholder="Contact name">
                            <input type="text" class="articleExtendedData" name="extendedData.contactphone" id="contactphone" value="" placeholder="Contact phone">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-9">
                            <textarea name="content" id="content"></textarea>
                        </div>
                        <div class="col-md-3">
                            <div data-imgcls="images" data-id="imageArray" class="uploadFileBtn property">
                                <div class="innerImgBtn">
                                    <img src="{{networkData.templatePath}}/static/icons/upload-img.svg">
                                    <p>Upload images</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">

                            <div id="imageArray" data-media="" class="imagearray"></div>
                    
                            <button class="_btn" type="submit" id="listingFormSubmit">SEND</button>
                            <button class="_btn" type="reset" id="listingFormClear">CLEAR</button>
                        </div>
                    </div>
                </form>


            </div>

            <div id="userListings" class="col-sm-offset-1 col-md-4">

                {% for article in userArticlesArr %}

                    {{this.render('partials/_single-article.twig', {
                        article: article, 
                        position: loop.index,
                        behaviour: 'noclick',
                        imageSize: {width: 150, height: 120},
                        template: 'listing',
                        containerClass: "card-form-listing listingCard"
                    }) | raw}}

                {% endfor %}
            </div>
        </div>

    </main><!-- .site-main -->