{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}




{{this.registerJs("Acme.cards = CardController();")}}
{{this.registerJs("Acme.searchFeed = new Acme.View.articleFeed(Acme.cards);")}}

{% set limit = 13 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

{% set events = _Event.getEvents() %}

{% set sections =  {
        "job listings": {
            "limit"         : 6
        }, 
        "property listings": {
            "limit"         : 7
        }
    }
%}


{% for key, value in sections %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key %}
            {% set sections = sections | merge({
                (key) : {
                    'feed'          : _Blog.getBlogFeed({'limit': sections[key]['limit'], 'offset': 0, 'blogid':blog.guid}),
                    'link'          : blog.link,
                    'description'   : blog.short_description,
                    'blogid'        : blog.guid,
                    'limit'         : sections[key]['limit']
                    }
                }) %}
        {% endif %}
    {% endfor %}
{% endfor %}




<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}



    <main id="main" class="container-fluid site-main" role="main">
        





        <section class="row section" style="margin-top:12px;">




            <div class="col-sm-offset-1 col-sm-10 section-header">
                <h2 class="section-header__title">{{this.title}}</h2>
                <p class="section-header__description">{{blogData.shortDescription}}</p>
            </div>

            <div class="col-sm-offset-1 col-sm-10 section-sub-header">
                <h2><span>Horizons</span> – Reports from the regions</h2>
            </div>

            <div class="col-sm-offset-1 col-sm-3">
                {% for i in 0..2 if articles[articleCount] %}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 75, height: 64},
                        containerClass: 'card-article-suggested'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endfor %}
            </div>

            <div class="col-sm-3">
                {% for i in 0..2 if articles[articleCount] %}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 75, height: 64},
                        containerClass: "card-article-suggested"
                    }) | raw}}

                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endfor %}
            </div>


            <div class="col-sm-offset-1 col-sm-3">
                {% if articles[articleCount] %}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 300, height: 180},
                        containerClass: 'card-sm card-sm-tablet card-sm-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endif %}
            </div>

        </section>




        <div class="row">
            <div class="advert banner hidden-sm hidden-md hidden-lg">
                <div id='moBanner2'></div>
                <script>loadNextAd(invSpace,'moBanner2','mob-banner',mOnlySize,mOnlyMap)</script>
            </div>
            <div class="advert banner hidden-xs" style="margin-left: 9.5%;margin-right: 9.5%;">
                <a href="mailto:franknews@ubteam.com">
                <img src="{{networkData.templatePath}}/static/images/ads/contributing.svg">
                </a>
            </div>
        </div>








        <section class="row section">

            <div class="col-sm-offset-1 col-sm-6">
                {% if articles[articleCount] %}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 640, height: 420},
                        containerClass: 'card-main-2col card-main-2col-tablet card-main-2col-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endif %}
            </div>

            <div class="col-sm-offset-1 col-sm-3 eventlist">
                <div class="col-sm-8 col-xs-6" style="padding:0">
                    <a href="{{networkData.defaultBlogUrl}}/@events"> 
                        <h3 class="eventlist__link">EVENTS</h3>
                    </a>
                </div>
                <div class="col-sm-4" style="padding:0">
                    <a href="{{networkData.defaultBlogUrl}}/@events">
                        <p class="eventlist__view" style="height:28px;">View All</p>
                    </a>
                </div>
                <div class="col-sm-12 eventlist" style="padding:0;">
                    {% for i in 0..6 if events[i] %}
                        {{this.render('partials/_single-event.twig', {
                            event: events[i], 
                            imageSize: {width: 60, height: 37},
                            containerClass: "card-event card-event-tablet card-event-mobile"
                        }) | raw}}
                    {% endfor %}
                </div>
            </div>



        </section>














        <section class="row section">

            <div class="col-sm-offset-1 col-sm-10 sevent-cols section-header">
            
                <div class="row">
                    <div class="col-sm-3">
                        {% if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: (articleCount+1),
                                imageSize: {width: 454, height: 245},
                                containerClass: 'card-ubt card-sm-tablet card-sm-mobile'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endif %}
                    </div>

                    <div class="col-sm-2">
                        {% for i in 0..1 if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                imageSize: {width: 198, height: 141},
                                containerClass: "card-blogger-full card-sm-tablet card-sm-mobile"
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endfor %}
                    </div>


                    <div class="col-sm-2">
                        {% for i in 0..1 if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                imageSize: {width: 198, height: 141},
                                containerClass: "card-blogger-full card-sm-tablet card-sm-mobile"
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </section>

        {% if articles|length >= limit %}
        <section class="row">
            <div class="col-sm-offset-1 col-sm-10 section-header">
                <div class="row three-cols">

                    {{ this.render('partials/ajaxarticles.twig', {
                        offset          : limit,
                        limit           : limit,
                        label           : "Show more",
                        name            : "community-load",
                        non_pinned      : articlesArr.existingNonPinnedCount, 
                        card_class      : "col-sm-1 card-sm-short card-sm-short-tablet card-sm-mobile",
                        container       : "mainAjaxArticles"
                    }) | raw }}

                </div>
            </div>
        </section>
        {% endif %}



        <section class="row section listings three-cols">

            <div class="col-sm-offset-1 col-sm-10 section-header" data-test="1">
                <h2 class="section-header__title">Community listings</h2>
            </div>


{#             If you don't display this section if there are no listings then you can never get to the listing form
               unless you know the url #}

            {# {% if sections['property listings'].feed.articles|length > 0 %} #}
                {% set propertyCount = 0 %}
                
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="row">
                
                        <div class="col-sm-8 col-xs-6">
                            <a href="{{networkData.defaultBlogUrl}}/@property-listings"> 
                                <h3 class="listings__link">PROPERTY</h3>
                            </a>
                        </div>
                        <div class="col-sm-4 listings__view" >
                            <a href="{{networkData.defaultBlogUrl}}/@property-listings">
                                <p style="font-weight:400"><i>View All</i></p>
                            </a>
                        </div>


                        <div class="col-sm-1">
                            {% if sections['property listings'].feed.articles[propertyCount] %}
                                {{this.render('partials/_single-article.twig', {
                                    article: sections['property listings'].feed.articles[propertyCount], 
                                    imageSize: {width: 341, height: 207},
                                    template: 'community-property',
                                    containerClass: "card-main-community-property-listing  card-community-property-listing-tablet card-community-property-listing-mobile"
                                }) | raw}}
                                {% set propertyCount = (dev) ? propertyCount : propertyCount + 1 %}
                            {% endif %}
                        </div>
                        <div class="col-sm-1">
                            {% for i in 0..2 if sections['property listings'].feed.articles[propertyCount] %}
                                {{this.render('partials/_single-article.twig', {
                                    article: sections['property listings'].feed.articles[propertyCount], 
                                    imageSize: {width: 100, height: 82},
                                    template: 'community-property',
                                    containerClass: "card-community-property-listing card-community-property-listing-tablet card-community-property-listing-mobile"
                                }) | raw}}
                                {% set propertyCount = (dev) ? propertyCount : propertyCount + 1 %}
                            {% endfor %}
                        </div>
                        <div class="col-sm-1">
                            {% for i in 0..2 if sections['property listings'].feed.articles[propertyCount] %}
                                {{this.render('partials/_single-article.twig', {
                                    article: sections['property listings'].feed.articles[propertyCount], 
                                    imageSize: {width: 100, height: 82},
                                    template: 'community-property',
                                    containerClass: "card-community-property-listing card-community-property-listing-tablet card-community-property-listing-mobile"
                                }) | raw}}
                                {% set propertyCount = (dev) ? propertyCount : propertyCount + 1 %}
                            {% endfor %}

                        </div>
                    {# {% endif %} #}
                </div>
            </div>
        </section>


{#         {% if sections['property listings'].feed.articles|length >= sections['property listings'].limit %}
        <section class="row listings three-cols">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="row">

                    {{ this.render('partials/ajaxarticles.twig', {
                            offset:         sections['property listings'].limit, 
                            limit:          sections['property listings'].limit,
                            label:          "Show more",
                            non_pinned:     sections['property listings']['feed'].existingNonPinnedCount, 
                            cardTemplate:   'communityPropertyCardTemplate',
                            card_class:     "col-sm-1 card-community-property-listing",
                            container:      "propertyAjaxArticles",
                            blogid:         sections['property listings']['blogid']
                        }) | raw }}
                </div>
            </div>
        </section>
        {% endif %}
 #}


        <section class="row section listings three-cols">
{#             If you don't display this section if there are no listings then you can never get to the listing form
                unless you know the url #}

            {# {% if sections['job listings'].feed.articles|length > 0 %} #}
                {% set propertyCount = 0 %}



                <div class="col-sm-offset-1 col-sm-10">
                    <div class="row">
                
                        <div class="col-sm-8 col-xs-6">
                            <a href="{{networkData.defaultBlogUrl}}/@job-listings"> 
                                <h3 class="listings__link">EMPLOYMENT</h3>
                            </a>
                        </div>
                        <div class="col-sm-4 listings__view" >
                            <a href="{{networkData.defaultBlogUrl}}/@job-listings">
                                <p style="font-weight:400"><i>View All</i></p>
                            </a>
                        </div>


                        <div class="col-sm-1">
                            {% for i in 0..1 if sections['job listings'].feed.articles[propertyCount] %}
                                {{this.render('partials/_single-article.twig', {
                                    article: sections['job listings'].feed.articles[propertyCount], 
                                    imageSize: {width: 60, height: 60},
                                    template: 'community-jobs',
                                    containerClass: "card-community-job-listing card-community-job-listing-tablet card-community-job-listing-mobile"
                                }) | raw}}
                                {% set propertyCount = (dev) ? propertyCount : propertyCount + 1 %}
                            {% endfor %}
                        </div>
                         <div class="col-sm-1">
                            {% for i in 0..1 if sections['job listings'].feed.articles[propertyCount] %}
                                {{this.render('partials/_single-article.twig', {
                                    article: sections['job listings'].feed.articles[propertyCount], 
                                    imageSize: {width: 60, height: 60},
                                    template: 'community-jobs',
                                    containerClass: "card-community-job-listing card-community-job-listing-tablet card-community-job-listing-mobile"
                                }) | raw}}
                                {% set propertyCount = (dev) ? propertyCount : propertyCount + 1 %}
                            {% endfor %}
                        </div>
                        <div class="col-sm-1">
                            {% for i in 0..1 if sections['job listings'].feed.articles[propertyCount] %}
                                {{this.render('partials/_single-article.twig', {
                                    article: sections['job listings'].feed.articles[propertyCount], 
                                    imageSize: {width: 60, height: 60},
                                    template: 'community-jobs',
                                    containerClass: "card-community-job-listing card-rec-jobs-tablet card-rec-jobs-mobile"
                                }) | raw}}
                                {% set propertyCount = (dev) ? propertyCount : propertyCount + 1 %}
                            {% endfor %}

                        </div>
                    {# {% endif %} #}
                </div>
            </div>
        </section>


{#         {% if sections['job listings'].feed.articles|length >= sections['job listings'].limit %}
        <section class="row listings three-cols">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="row">

                    {{ this.render('partials/ajaxarticles.twig', {
                            offset:         sections['job listings'].limit, 
                            limit:          sections['job listings'].limit,
                            label:          "Show more",
                            non_pinned:     sections['job listings']['feed'].existingNonPinnedCount, 
                            cardTemplate:   'communityJobCardTemplate',
                            card_class:     "col-sm-1 card-community-job-listing",
                            container:      "jobsAjaxArticles",
                            blogid:         sections['job listings']['blogid']
                        }) | raw }}
                </div>
            </div>
        </section>
        {% endif %}
 #}



    </main><!-- .site-main -->