{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}




{{this.registerJs("Acme.cards = CardController();")}}
{{this.registerJs("Acme.searchFeed = new Acme.View.articleFeed(Acme.cards);")}}

{% set limit = 11 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

{% set events = _Event.getEvents({'limit': 7, "start_date": date.date | split(" ")[0]}) %}

{% set sections =  {
        "crosswords": {
            "limit"         : 7
        }
    }
%}

{% set userData = []  %}
{% if not _User.isGuest() %}

    {% set userData = _User.getPaywallStats(false)  %}

{% endif %}

{% for key, value in sections %}
    {% for blog in networkData.networkBlogs %}
        {% if blog.title | lower == key %}
            {% set sections = sections | merge({
                (key) : {
                    'feed'          : _Blog.getBlogFeed({'limit': sections[key]['limit'], 'offset': 0, 'blogid':blog.guid}),
                    'link'          : blog.link,
                    'description'   : blog.short_description,
                    'blogid'        : blog.guid,
                    'limit'         : sections[key]['limit']
                    }
                }) %}
        {% endif %}
    {% endfor %}
{% endfor %}



{% if 'School' not in userData.name %}
    

<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}



    <main id="main" class="container-fluid site-main" role="main">
        





        <section class="row section" style="margin-top:12px;">
            <div class="col-xs-12 section-header">
                <h2 class="section-header__title">{{this.title}}</h2>
                <p class="section-header__description">{{blogData.shortDescription}}</p>
            </div>

            <div class="col-xs-12 section-sub-header">
                <h2><span>Horizons</span> – Reports from the regions</h2>
            </div>
        </section>

        <section class="row section">
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        {% if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: (articleCount+1),
                                imageSize: {width: 300, height: 180},
                                containerClass: 'card-sm card-sm-tablet card-sm-mobile card_highlighter'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-md-8">
                        {% if articles[articleCount] %}
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: (articleCount+1),
                                imageSize: {width: 640, height: 420},
                                containerClass: 'card-md-full card-main-2col-tablet card-md-full-mobile'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    {% for i in 2..4 if articles[articleCount] %}
                        <div class="col-xs-12 col-md-4">
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: (articleCount+1),
                                imageSize: {width: 75, height: 64},
                                containerClass: 'card-sm card-sm-tablet card-sm-mobile'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        </div>
                    {% endfor %}
                </div>

                {% set adRandom = random(['D', 'C']) %}
                <div class="row">

                    <div class="advert banner">
                        <a href="{{networkData.defaultBlogUrl}}/get-in-touch" class="social-modal__image_wrap">
                            <img src="{{networkData.templatePath}}/static/images/ads/Ad5_desktop.jpg" class="hidden-xs img-responsive" />
                            <img src="{{networkData.templatePath}}/static/images/ads/Ad5_mobile.png" class="visible-xs img-responsive" />
                        </a>
                    </div> 
                </div>


                <section class="row section">
                    {% for i in 5..10 if articles[articleCount] %}
                        <div class="col-xs-12 col-md-4">
                            {{this.render('partials/_single-article.twig', {
                                article: articles[articleCount], 
                                position: (articleCount+1),
                                imageSize: {width: 75, height: 64},
                                containerClass: 'card-sm card-sm-tablet card-sm-mobile'
                            }) | raw}}
                            {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                        </div>
                    {% endfor %}
                </section>

                {% if articles|length >= limit %}
                <section class="row">
                    <div class="col-xs-12 section-header">
                        <div class="row three-cols">

                            {{ this.render('partials/ajaxarticles.twig', {
                                offset          : limit,
                                limit           : limit,
                                label           : "Load more",
                                name            : "community-load",
                                non_pinned      : articlesArr.existingNonPinnedCount, 
                                card_class      : "col-xs-12 col-md-4 card-sm card-sm-tablet card-sm-mobile",
                                container       : "mainAjaxArticles"
                            }) | raw }}

                        </div>
                    </div>
                </section>
                {% endif %}
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="crossword_wrapper">
                    <div class="section_head">
                        <h3>Crosswords</h3>
                        <p>Challenge yourself with a puzzling new crossword that will tease your brain and test your general knowledge.</p>
                    </div>
                    {% if sections['crosswords'].feed.articles|length > 0 %}
                        {% set crosswordsCount = 0 %}
                        
                        {% if sections['crosswords'].feed.articles[crosswordsCount] %}
                            {% for i in 0..sections['crosswords'].limit if sections['crosswords'].feed.articles[crosswordsCount] %}
                                {{this.render('partials/_single-article.twig', {
                                    article: sections['crosswords'].feed.articles[crosswordsCount], 
                                    networkData: networkData,
                                    position: (crosswordsCount+1),
                                    imageSize: {width: 75, height: 64},
                                    containerClass: 'card-community-suggested card-rec-tablet card-community-suggested-mobile'
                                }) | raw}}
                                {% set crosswordsCount = (dev) ? crosswordsCount : crosswordsCount + 1 %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
            </div>
        </section>



        

    </main><!-- .site-main -->

{% endif %}