{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}




{{this.registerJs("CardController();")}}

{% set limit = 10 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

{% set events = _Event.getEvents() %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}



    <main id="main" class="container-fluid site-main" role="main">
        



        <section class="row section">

            <div class="col-sm-offset-1 col-sm-10 section-header">
                <h2>{{this.title}}</h2>
                <p class="description">
                    {{blogData.shortDescription}}
                </p>
            </div>
            
        </section>


        <section class="row">

            <div class="col-sm-offset-1 col-sm-6">
                {% if articles[articleCount] %}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        template: 'realestate',
                        imageSize: {width: 640, height: 309},
                        containerClass: 'card-main-realestate card-main-realestate-tablet card-main-realestate-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endif %}


                {% for i in 0..4 if articles[articleCount] %}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        template: 'realestate',
                        imageSize: {width: 200, height: 140},
                        containerClass: 'card-rec-realestate card-rec-realestate-tablet card-rec-realestate-mobile'
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endfor %}



                {{ this.render('partials/ajaxarticles.twig', {
                    limit: limit, 
                    non_pinned: articlesArr.existingNonPinnedCount, 
                    articles: articles,
                    card_style: "col-sm-12 card-rec-realestate card-rec-realestate-tablet card-rec-realestate-mobile",
                    container:"mainAjaxArticles"
                }) | raw }}


            </div>




            <div class="col-sm-offset-1 col-sm-3">
                <div class="visible-md-block visible-lg-block">
                    <img src="{{networkData.templatePath}}/static/images/ads/300x600.jpg">
                </div>
            </div>
        </section>




    </main><!-- .site-main -->