{% import "partials/quotes.twig" as quotes %}
{{ set(this, 'title', article.title) }}

{{ this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'}) }}

{% set blogInfo = _Blog.getBlog() %}
{% set networkData = _Network.getNetworkData() %}


{% set articleImg = false %}
{% if article.media|length > 0 %}
    {% set articleImg = true %}
{% endif %}

{% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishedDateTime, 'j M Y') %}


{% set articleCount = 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}

{% if (networkData.title | lower) == 'frank uk' %}
    {% set forCurr = "£" %}
    {% set forMeas = "ft" %}
{% else %}
    {% set forCurr = "$" %}
    {% set forMeas = "m" %}
{% endif %}


<main id="main" class="container-fluid site-main" role="main">


    <section class="row section">

        <div class="col-sm-10 section-header">
            <h2 class="section-header__title">{{blogInfo.title}}</h2>

            <p  class="section-header__description">
                {{blogInfo.shortDescription}}
            </p>
        </div>
        
    </section>


    <div class="backlink">
        <a href="{{networkData.defaultBlogUrl}}/@property-listings">Back to results</a>
    </div>


    <article class="job-listings-main">

        <div class="row page-content">

            <div class="col-md-8">

                <div class="row">
                    
                    <div class="col-md-12">
                        
                        
                        {# *********************************************************

                                           MAIN IMAGE/GALLERY

                        ********************************************************* #}
                        
                        {% if articleImg %} 

                            <div class="gallery-container relative">

                                {% if article.media|length > 0 %}
                                    {% set imageFeature = featured == 'image' ? true : false %}
                                    {{this.render('partials/gallery.twig', {
                                        media: article.media,
                                        default: imageFeature
                                    }) | raw}}
                                {% endif %}

                            </div> 

                         {% endif %}
                    </div>

                </div> <!-- row -->



                <div class="row">        

                    <div class="col-md-8">

                        <div class="content-wrapper">



                        {# *********************************************************

                                           ARTICLE INFO

                        ********************************************************* #}

                            <div class="content-block-top">
                                
                                <time datetime="{{publishedDate}}">{{article.publishedDate}}</time>
                                
                                <p class="pricerange">{{ forCurr }}{{ article.additionalInfo.pricerange | preg_replace("/(\\$|\\£)/", '')}}</p>

                                <h1>{{ quotes.smarten(article.title) }}
                                    {% if article.additionalInfo.location != '' and networkData.title | lower == 'frank uk' %}
                                        , {{ article.additionalInfo.location }} 
                                        
                                        {% if article.additionalInfo.region | lower != 'other' %}
                                            , {{ article.additionalInfo.region }}
                                        {% endif %}

                                    {% endif %}
                                </h1>
                                
                                <p class="contracttype">{{ article.additionalInfo.contracttype }}</p>

                            </div>





                        {# *********************************************************

                                           ARTICLE CONTENT

                        ********************************************************* #}


                            <div class="article_content">
                                {{ article.content | _resizeImages({'width': 500}) | raw }}
                            </div>

                        </div>
                    </div>




                    <div class="col-md-4 details-padding">
                        <div class="job-details">
                            <table>
                                {% if article.additionalInfo.type %}
                                    <tr>
                                        <td class="label">Property type</td>
                                        <td class="value">{{article.additionalInfo.type}}</td>
                                    </tr>
                                {% endif %}
                                
                                {% if article.additionalInfo.availability %}
                                    <tr>
                                        <td class="label">Available</td>
                                        <td class="value">{{article.additionalInfo.availability}}</td>
                                    </tr>
                                {% endif %}

                                {% if article.additionalInfo.landarea %}
                                    <tr>
                                        <td class="label">Land area {{ forMeas }}&sup2;</td>
                                        <td class="value">{{article.additionalInfo.landarea}}</td>
                                    </tr>
                                {% endif %}

                                {% if article.additionalInfo.floorarea %}
                                    <tr>
                                        <td class="label">Floor area {{ forMeas }}&sup2;</td>
                                        <td class="value">{{article.additionalInfo.floorarea}}</td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>

                        <div class="property-contact">
                            <p class="contact-details">For more information, please contact</p>
                            <p class="contact-name">{{article.additionalInfo.contactname}}</p>
                            <p class="contact-role">{{article.additionalInfo.company}}</p>
                            <p class="contact-email">{{article.additionalInfo.contactphone}}</p>

                        </div>


                    </div>

                </div>
            </div>

            <div class="col-md-3">
                <div class="advert">
                    <div id='blockAd1'></div>
                    <script>loadNextAd(invSpace,'blockAd1','mRec',mRecSize,mRecMap)</script>
                </div>
            </div>


        </div><!-- .page-content-->


    </article>
</main><!--site-main-->

