{% set plans = networkData['paywallPlans'] %}

{{this.registerJs("var signin = new Acme.Signin('signinForm', '#signin');")}}
 

<main id="main" class="site-main" role="main">
	<div class="container-fluid">

		<section class="row">
			<div class="col-sm-12 market-header">
				<div class="frankheader">
					<img class="frankHeader__img" src="{{networkData.templatePath}}/static/images/frank-logo.svg" width="216" height="60">
					<p>TRUSTED SOURCES. GLOBAL STORIES.</p>
				</div>

				<img class="ubt-logo" src="{{networkData.templatePath}}/static/images/ubt-logo.png" width="151" height="54">

			</div>
		</section>
	</div>

	<section class="market-hero">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="content">

						<h1>News&nbsp;that matters&nbsp;to&nbsp;you</h1>
						{# <p>Special offer – Sign up now for a 14-day free trial of the improved frank website </p> #}


						<a id="" href="#subscriptions" class="_btn">SUBSCRIBE NOW</a>
 						<a id="body_login_link" class="hidden-xs hidden-sm" style="background:#337ab7;margin-left:25px;padding:15px 45px;cursor:pointer;">SIGN IN</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="container-fluid">

		<section class="row">
			<div class="col-sm-12 section-title">
				<h1>A unique news experience</h1>
			</div>
			<div class="col-sm-4 three-card">
				<img src="{{networkData.templatePath}}/static/images/market-curated.svg">
				<h2>CURATED</h2>
				<p>We understand what really matters, without the fluff. Informative news that's safe for all the family to read.   </p>
			</div>
			<div class="col-sm-4 three-card">
				<img src="{{networkData.templatePath}}/static/images/market-professional.svg">
				<h2>PROFESSIONAL</h2>
				<p>Curated exclusively for UBT by AAP's dedicated newsroom of professionals to the highest editorial standards.</p>
			</div>
			<div class="col-sm-4 three-card">
				<img src="{{networkData.templatePath}}/static/images/market-world.svg">
				<h2>ALL THE WORLD'S NEWS</h2>
				<p>Stay well-informed with our premium network of news and video from Australia, New Zealand and every corner of the globe, with specific focus on community locations.</p>
		</section>
	</div>



	<section class="row essential-news u-mobile-no-margin-bottom">
		<div class="container-fluid">
			<div class="col-sm-12 section-title">
				<h1>Essential news delivered daily</h1>
				<p>Quality journalism, the way you want it. Enjoy unlimited access to stories that matter.</p>
			</div>
			<div class="col-sm-12 col-md-5 col-md-offset-1 centerContent">
				<img class="screenImage" src="{{networkData.templatePath}}/static/images/market-screens.png?v=4"></img>
			</div>
			<div class="col-sm-12 col-md-offset-1 col-md-5">
				<h3>What's included in your subscription</h3>
				<ul>
					<li>Unlimited access to the frank website on desktop, mobile and tablet</li>
					<li>frank Analysis, an exclusive printable newsletter of the day's best news</li>
					<li>Post and view real estate and job listings from the UBT community</li>
					<li>Digital screens available for business pack subscribers*</li>
				</ul>
				<p class="disclaimer">*Additional hardware may be required for digital screens</p>
			</div>
		</div>
	</section>


	<div class="container-fluid">


		<a name="subscriptions"></a>
		<section class="row subscription">
			<div class="container-fluid">
				<div class="col-sm-12 section-title">
					<h1>Trusted sources. Global stories</h1>
					<p>Choose the subscription that's right for you</p>
				</div>


			    {% for plan in plans %}
			    	
						<div class="col-sm-3 subscriptionCard">
							<div class="card">
								<h3>{{plan.name}}</h3>
								{% set uc = plan.user_count + 1 %}
								{% set val = plan.plan_value / 100 %}
								{% if val == 19.89 %}
									{% set val = 19.90 %}
								{% endif %}
								<p class="usercount">{{uc|replace({ '10001': '20+' })}} Users</p>
								<p class="price">{{plan.currency|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"})}}{{val|number_format(2, '.', ',')}} ({{plan.currency|raw}})<br class="hidden-xs"> per {{plan.period}}</p>

	{# 							//trial button. this will probably be turned on again at some point
								<a href="{{networkData.defaultBlogUrl}}/@subscribe?plan={{plan.guid}}&amp;trial=true">
									<p class="centerBlock _btn _btn--blue _btn__subscribe">14-DAY FREE TRIAL</p>
								</a>
	 #}


								<a href="{{networkData.defaultBlogUrl}}/@subscribe?plan={{plan.guid}}">
									<p class="centerBlock _btn _btn--red _btn__subscribe">
										<span>SUBSCRIBE NOW</span>
										{# <span class="btn_trial">Your subscription includes a <br />14-day free trial period</span> #}
									</p>
								</a>
							</div>
						</div>
					
			    {% endfor %}



			</div>
			<a class="subscribe__link" href="mailto:franknews@aap.com.au"><p class="subscribe__contact">Need a package tailored to your business? Contact us.</p></a>
			{# <p class="subscribe__payment-info">Please note: Your payment method will be charged at the end of the 14-day free trial period unless cancelled prior.</p> #}

		</section>

	</div>

</main>



