{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set plans = networkData['paywallPlans'] %}


{% set plan = false %}
{% set url = _AppHelper.getParsedUrl() %}
{% set params = url['query'] %}
{% for k, p in params %}
	{% if k == 'plan' %}
		{% for pl in plans %}
			{% if pl.guid == p %}
				{% set plan = pl %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}


<main id="main" class="site-main listingForm" role="main">
	<div id="stripekey" class="hidden" >{{networkData['stripe_publishable_key']}}</div>
	<div class="container-fluid">

		<section class="row">
			<div class="col-sm-12 market-header">
				<img src="{{networkData.templatePath}}/static/images/ubt-logo.png" width="151" height="54">

				<div>
					<img src="{{networkData.templatePath}}/static/images/frank-logo.svg" width="216" height="60">
					<p>TRUSTED SOURCES. GLOBAL STORIES.</p>
				</div>
			</div>
		</section>
	</div>

	<section class="market-hero">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="content">
						<h1>Almost there…  <br />
							You’re just one step away from trusted sources.</h1>
					</div>
				</div>
			</div>
		</section>
	</section>






	<div class="container-fluid">

		<section class="row">
			<div class="col-md-offset-1 col-md-7">
				{% if plan != false  %}
				    <form class="" method="post" action="" id="listingForm">
			    		<p class="form-section-label">Your information</p>

		                <input type="text" class="articleExtendedData" name="username" id="username" value="" placeholder="User Name">

		                <input type="text" class="articleExtendedData" name="firstname" id="firstname" value="" placeholder="First name">
		                <input type="text" class="articleExtendedData" name="lastname" id="lastname" value="" placeholder="Last name">

		                <input type="password" class="" name="password" id="password" value="" placeholder="Password">
		                <input type="password" class="" name="verifypassword" id="verifypassword" value="" placeholder="Password verify">


		                <input type="email" class="" name="email" id="email" value="" placeholder="Email">
		                <input type="text" class="articleExtendedData" name="mobile" id="mobile" value="" placeholder="Mobile">
		                <input type="text" class="articleExtendedData" name="address" id="address" value="" placeholder="address">
		                <input type="text" class="articleExtendedData" name="suburb" id="suburb" value="" placeholder="Suburb">
		                <input type="text" class="articleExtendedData" name="state" id="state" value="" placeholder="State">
		                <input type="text" class="articleExtendedData" name="Postcode" id="Postcode" value="" placeholder="Postcode">
			            
			            <input type="hidden" class="" name="planid" id="planid" value="{{plan.guid}}">

			            <div id="countrySelect" class="countrySelect"></div> 
			            <input type="checkbox" class="" value="true" id="trial" name="trial" checked> 
			            Include 14 day trial period.
			            <p class="form-section-label u-margin-top-40">Payment details</p>
{# 		                <fieldset>
		                    <div class="inline">
		                        <input type="radio" name="extendedData.salary" id="paymentType1" class="articleExtendedData" value="1" checked="checked" />
		                        <label for="paymentType1">Credit card</label>
		                    </div>
		                    <div class="inline">
		                        <input type="radio" name="extendedData.salary" id="paymentType2" class="articleExtendedData" value="2" />
		                        <label for="paymentType2">Pay Pal</label>
		                    </div>
		                    <div class="inline">
		                        <input type="radio" name="extendedData.salary" id="paymentType3" class="articleExtendedData" value="3" />
		                        <label for="paymentType3">Bank deposit</label>
		                    </div>
		                </fieldset>
 #}
 {# 		                <input type="text" class="articleExtendedData" name="cardname" id="cardname" value="" placeholder="Name on card">
		                <input type="text" class="articleExtendedData" name="cardnumber" id="cardnumber" value="" placeholder="Credit card number">
		                <input type="text" class="articleExtendedData" name="expiry" id="expiry" value="" placeholder="Expiry date">
		                <input type="text" class="articleExtendedData" name="ccv" id="ccv" value="" placeholder="ccv">
 #}		                
{# 			            <button class="_btn" type="submit" id="listingFormSubmit">SUBSCRIBE</button>
		                <button class="_btn" type="reset"  id="listingFormClear">CLEAR</button>
 #}				    
					</form>
					
					<form action="/charge" method="post" id="payment-form">
					  <div class="form-row ">
					    <label for="card-element">
					      Credit or debit card
					    </label>
					    <div id="card-element">
					      <!-- a Stripe Element will be inserted here. -->
					    </div>

					    <!-- Used to display form errors -->
					    <div id="card-errors" class="card-errors" role="alert"></div>
					  </div>

					  {# <button id="subscribe-trial" class="_btn _btn--red u-margin-top-25">SIGN UP FOR A 14 DAY TRIAL</button> #}
					  <button id="subscribe" class="_btn _btn--red u-margin-top-25">SUBSCRIBE</button>
					</form>

				{% else %}
					<h1>You need to choose a plan from the subscriptions screen</h1>
				{% endif %}
			</div>			



			<div class="col-md-3">
				<div class="plan-type">

					{% if plan != false %}
						<div class="plan-type-header">
							<h2>Order Summary</h2>
						</div>
						<div class="plan-body">
							<h3>{{plan.name}}</h3>

							<p>{{plan.user_count}} users</p>
							<p>${{plan.plan_value/100|number_format(2, '.', ',')}}({{plan.currency|raw}})/{{plan.period}}</p>
							<img src="{{networkData.templatePath}}/static/images/market-screens.png?v=3">
							<p class="featuresheader">What's included in your subscription:</p>
							<p class="featuresheader">{{plan.description}}</p>
							<a href="{{networkData.defaultBlogUrl}}">Change subscription</a>
						</div>



					{# 	{{ this.render('partials/_plan-'~plan~'.twig', {
						    networkData: networkData, 
						}) | raw }} #}

					{% endif %}
				</div>
			</div>

		</section>

	</div>

</main>
