{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}



{{this.registerJs("window.Acme.cards = CardController();")}}



{# {{this.registerJs("ListingController();")}} #}

{% set limit = 10 %}

{# {% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
 #}
{% set articles = _Event.getEvents() %}
{# <pre>
    {{dump(articles)}}
</pre> #}

<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}



    <main id="main" class="container-fluid site-main" role="main">
        



        <section class="row section">

            <div class="col-sm-offset-1 col-sm-10 section-header">
                <h2>{{this.title}}</h2>
            </div>
            <div class="col-sm-offset-1 col-sm-7 section-header" >
                <p class="description">
                    {{blogData.shortDescription}}
                </p>
            </div>
            <div class="col-sm-3" >
                <a class="listing-link" href="{{networkData.defaultBlogUrl}}/@event-form">Submit an event</a>
            </div>
            
        </section>


        <section class="row">

            <div class="col-sm-offset-1 col-sm-6">


                <div id="job-listings">
                    {% for i in 0..7 if articles[articleCount] %}
                        {{this.render('partials/_single-event.twig', {
                            event: articles[articleCount], 
                            position: (articleCount+1),
                            imageSize: {width: 173, height: 144},
                            containerClass: 'card-rec card-rec-tablet card-rec-mobile'
                        }) | raw}}
                        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                    {% endfor %}
                </div>


                {{ this.render('partials/ajaxarticles.twig', {
                    limit: limit, 
                    non_pinned: articlesArr.existingNonPinnedCount, 
                    articles: articles,
                    rendertype: "write",
                    card_style: "col-sm-12 card-rec-jobs card-rec-jobs-tablet card-rec-jobs-mobile",
                    container:"mainAjaxArticles"
                }) | raw }}


            </div>




            <div class="col-sm-offset-1 col-sm-3">
                <div class="visible-md-block visible-lg-block">
                    <img src="{{networkData.templatePath}}/static/images/ads/300x600.jpg">
                </div>
            </div>
        </section>




    </main><!-- .site-main -->