{% set networkData = _Network.getNetworkData() %}
{% set plans = networkData['paywallPlans'] %}

{# {{this.registerJs("var signin = new Acme.Signin('signinForm', '#signin');")}}
 #}

<main id="main" class="site-main" role="main">
	<div class="container-fluid">

		<section class="row">
			<div class="col-sm-12 market-header">
				<div>
					<img class="frankHeader" src="{{networkData.templatePath}}/static/images/frank-logo.svg" width="216" height="60">
					<p>TRUSTED SOURCES. GLOBAL STORIES.</p>
				</div>

				<img src="{{networkData.templatePath}}/static/images/ubt-logo.png" width="151" height="54">

			</div>
		</section>
	</div>

	<section class="market-hero">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="content">
						<h1>News that matters to you</h1>
						<p>Coming soon from just 65c per day</p>
						<a id="register" href="#" class="_btn">REGISTER YOUR INTEREST</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="container-fluid">

		<section class="row">
			<div class="col-sm-12 section-title">
				<h1>A unique news experience</h1>
			</div>
			<div class="col-sm-4 three-card">
				<img src="{{networkData.templatePath}}/static/images/market-curated.svg">
				<h2>CURATED</h2>
				<p>We understand what really matters, without the fluff. Informative news that's safe for all the family to read.   </p>
			</div>
			<div class="col-sm-4 three-card">
				<img src="{{networkData.templatePath}}/static/images/market-professional.svg">
				<h2>PROFESSIONAL</h2>
				<p>Curated exclusively for UBT by AAP's dedicated newsroom of professionals to the highest editorial standards</p>
			</div>
			<div class="col-sm-4 three-card">
				<img src="{{networkData.templatePath}}/static/images/market-world.svg">
				<h2>ALL THE WORLD'S NEWS</h2>
				<p>Stay well-informed with our premium network of news and video from Australia, New Zealand and every corner of the globe, with specific focus on community locations.</p>
		</section>
	</div>



	<section class="row essential-news">
		<div class="container-fluid">
			<div class="col-sm-12 section-title">
				<h1>Essential news delivered daily</h1>
				<p>Quality journalism, the way you want it. Enjoy unlimited access to stories that matter.</p>
			</div>
			<div class="col-sm-12 col-md-5 col-md-offset-1 centerContent">
				<img class="screenImage" src="{{networkData.templatePath}}/static/images/market-screens.png"></img>
			</div>
			<div class="col-sm-12 col-md-offset-1 col-md-5">
				<h3>What's included in your subscription</h3>
				<ul>
					<li>Unlimited access to the Frank website on desktop, mobile and tablet</li>
					<li>Frank Analysis, an exclusive printable newsletter of the day's best news</li>
					<li>Access to weekly crosswords and quizzes created for the UBT community</li>
					<li>Post and view real estate and job listings from the UBT community</li>
					<li>Digital screens available for business pack subscribers</li>
				</ul>
			</div>
		</div>
	</section>


	<div class="container-fluid">
		<section class="row cost">
			<div class="col-sm-12">
				<h2>From just 65c per day</h2>
				<a href="#" class="_btn">REGISTER YOUR INTEREST</a>
				<p>Monthly rolling contract</p>
			</div>
		</section>




		<section class="row subscription">
			<div class="container-fluid">
				<div class="col-sm-12 section-title">
					<h1>Trusted sources. Global stories</h1>
					<p>Choose the subscription that's right for you</p>
				</div>


				<div class="col-sm-3 subscriptionCard">
					<a href="{{networkData.defaultBlogUrl}}/@subscribe?plan=1">
						<div class="card">
							<h3>Household</h3>
							<p class="usercount">2 Users</p>
							<p class="price">$19.90/month</p>
							<p class="subnow">SUBSCRIBE NOW</p>
						</div>
					</a>
				</div>
				<div class="col-sm-3 subscriptionCard">
					<a href="{{networkData.defaultBlogUrl}}/@subscribe?plan=2">
						<div class="card">
							<h3>Small Business</h3>
							<p class="usercount">9 Users</p>
							<p class="price">$99.90/month</p>
							<p class="subnow">SUBSCRIBE NOW</p>
						</div>
					</a>
				</div>
				<div class="col-sm-3 subscriptionCard">
					<a href="{{networkData.defaultBlogUrl}}/@subscribe?plan=3">
						<div class="card">
							<h3>Medium Business</h3>
							<p class="usercount">10+ Users</p>
							<p class="price">$199.90/month</p>
							<p class="subnow">SUBSCRIBE NOW</p>
						</div>
					</a>
				</div>
				<div class="col-sm-3 subscriptionCard">
					<a href="{{networkData.defaultBlogUrl}}/subscription?plan=4">
						<div class="card">
							<h3>Large Business</h3>
							<p class="usercount">20+ users <br />
								Live news screens</p>
							<p class="price">$399.90/month</p>
							<p class="subnow">SUBSCRIBE NOW</p>
						</div>
					</a>
				</div>


			</div>
		</section>

	</div>

</main>


<script id="authDialog" type="text/template">
	<div id="signin" class="flex_col">
		<div id="dialog">
			<div>
			    <div class="head">
			    	<h2>Sign in</h2>
					<img class="close" src="{{networkData.templatePath}}/static/icons/cross.svg">
			    </div>
	
				<div id="dialogContent"></div>
			</div>
		</div>
	</div>
</script>


<script id="signinFormTmpl" type="text/template">

	<form name="loginForm" id="loginForm" class="active" action="javascript:void(0);" method="post" accept-charset="UTF-8" autocomplete="off">

	    <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" />

        <input id="loginName" class="" type="text" name="username" placehold="Username" value="">

        <input id="loginPass" class="" type="password" name="password" placeholder="Password">
	    
	    <div class="remember">
	    	<div>
	            <input type="checkbox" id="remember" class="" name="rememberMe">
	            <label for="remember" class="">Keep me logged in.</label>
	        </div>
	        <p class="layout" data-layout="forgot" href="{{networkData.defaultBlogUrl}}/ForgotPassword" class="">Forgot password</p>
	    </div>
	    
	    <div class="message active hide">
	        <div class="account-modal__error_text">Invalid Username or Password</div>
	    </div>

	    <button id="signinBtn" type="submit" class="_btn signin">SIGN IN</button>
	</form>
</script>



<script id="forgotFormTmpl" type="text/template">

	<form name="forgotForm" id="forgotForm" class="active" action="javascript:void(0);" method="post" accept-charset="UTF-8" autocomplete="off">

	    <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" />
	    <p>Forgot your password? Enter your email below and we will send you a link to reset.</p>
        <input id="email" class="" type="text" name="email" placehold="Email" value="">
    	
    	<div class="remember">
	    	<p class="layout" data-layout="signin" class="">Remember password?</p>
	    </div>

	    <div class="message active hide">
	        <div class="account-modal__error_text">No user with that email found.</div>
	    </div>

	    <button id="forgotBtn" type="submit" class="_btn forgot">SEND EMAIL</button>
	</form>
</script>

