{% set networkData   = _Network.getNetworkData() %}
{% set plans 		= networkData['paywallPlans'] %}
{% set blogData		= _Blog.getBlog() %}
{% set blogName      = blogData.title %}
	
{% set aus = [] %}
{% set usd = [] %}
{% set gbp = [] %}

{# separate plans by currency #}
{% for plan in plans %}
	{% if plan.currency | lower == 'usd' and 'Business' in plan.name %}
		{% set usd = usd|merge([plan]) %}
	{% endif %}
	{% if plan.currency | lower == 'aud' and 'Business' in plan.name %}
		{% set aus = aus|merge([plan]) %}
	{% endif %}
	{% if plan.currency | lower == 'gbp' %}
		{% set gbp = gbp|merge([plan]) %}
	{% endif %}
{% endfor %}


{% set ui_plans = aus | slice(0,4) %}






{{this.registerJs("var signin = new Acme.Signin('signinForm', '#signin');")}}
{{this.registerJs("var signup = new Acme.Signup();")}}
 

<main id="main" class="site-main" role="main">
	<div class="container-fluid">

		<section class="row">
			<div class="col-sm-12 market-header">
				<div class="market-header__center">
					<img class="market-header__center-img" src="{{networkData.templatePath}}/static/images/frank-logo.svg" width="216" height="60">
					<p class="market-header__p">TRUSTED SOURCES. GLOBAL STORIES.</p>
				</div>

				<img class="market-header__logo ubt-logo" src="{{networkData.templatePath}}/static/images/ubt-logo.png" width="151" height="54">

			</div>
		</section>
	</div>

	<section class="business-section__hero">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="content">

						<h1>Business subscriptions</h1>
						<p class="">frank offers a range of <br class="visible-xs-block" />business packages to suit <br class="visible-xs-block" />your company's needs.</p>

						{% if _User.isGuest() %}
							<a id="" href="#subscriptions" class="_btn">SUBSCRIBE NOW</a>
	 					{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="container-fluid">

		<section class="row">
			<div class="col-sm-12">
				<h1 class="business-section__benefits">We partner with trusted agencies  around the world, delivering quality news  to you and your staff.</h1>
			</div>
		</section>
	</div>



	<section class="row business-section__benefitslist u-mobile-no-margin-bottom">
		<div class="container-fluid">

			<div class="col-sm-12 u-mobile-no-padding">
				<h1 class="business-section__header">Benefits of a <br class="visible-xs-block" />business package</h1>
				<p class="business-section__itals">Your time is valuable. <br class="visible-xs-block" />Our business subscriptions provide <br class="visible-xs-block" />the most relevant news to you <br class="visible-xs-block" />and your staff.</p>
			</div>
			<div class="u-desktop-margin-top-60 col-sm-12">
				<div class="col-sm-4 col-md-3 business-section__live">
					<h2 class="business-section__subhead">LIVE SCREEN</h2>
					<p class="business-section__headtext">Live screen newsfeed for your reception area </p>
					<p class="business-section__text">The live screen is a great addition to any place of business. Click on the image to see a small version  of what can be broadcast on  your big screens 24 hours a day, keeping your customers engaged, informed and impressed. </p>
				</div>
				<div class="col-sm-8 centerContent business-section__video u-mobile-no-padding">
					<video controls="" class="o" poster="https://res.cloudinary.com/cognitives/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_face,h_1280,q_auto,w_2288/oi1d0n8v9duznu9z3wxh" style="max-height:500px;">
	                    <source src="https://res.cloudinary.com/cognitives/video/upload/gtchvchyyynl05srd9la.mp4" type="video/mp4">
	                </video>
				</div>
			</div>
			<div class="u-desktop-margin-top-60 col-sm-12 u-mobile-no-padding">
				<div class="col-sm-6 col-md-2">
					<img class="business-section__pdf" src="{{networkData.templatePath}}/static/images/business-pdf.png"></img>
				</div>
				<div class="col-sm-6 col-md-offset-1 col-md-3">
					<h2 class="business-section__subhead">FRANK ANALYSIS</h2>
					<p class="business-section__headtext">Print out the newsletter for your staff room</p>
					<p class="business-section__text">The frank analysis daily newsletter is a publication  of the highest standard,  with only the most important stories carefully selected for relevance to the community. </p>
				
				</div>
				<div class="col-sm-6 col-md-2">
					<img class="business-section__listings" src="{{networkData.templatePath}}/static/images/business-listings.png"></img>
				
				</div>
				<div class="col-sm-6 col-md-offset-1 col-md-3">
					<h2 class="business-section__subhead">LISTINGS</h2>
					<p class="business-section__headtext">Create and search property or job listings</p>
					<p class="business-section__text">Post your job or property advertisement to the Community section of the website for exposure to a trusted audience.</p>
				
				</div>
			</div>
		</div>
	</section>


	<div class="container-fluid">

		<a name="subscriptions"></a>
		
		{% if _User.isGuest() %}
			<section class="row marketing-subscriptions u-margin-top-90">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							<h1 class="marketing__section-header">Trusted sources. <br class="visible-xs-block" />Global stories</h1>
							<p class="marketing-subscriptions__description">
								{% if 'uk' in networkData.title | lower %}
									Choose the subscription that's right for you:<br/>All subscription prices include VAT
								{% else %}
									Choose the subscription that's right for you. Please select a currency to view subscription options:
								{% endif %}
							</p>
							
						</div>
					</div>
				
					{% if 'uk' in networkData.title | lower %}
						<div  id="ui_plans" class="row u-desktop-center-9-cols">
							{% for plan in gbp %}

								<div class="col-sm-4 subscription-card">
									<div class="card">
										<h3>{{plan.name}}</h3>
										{% set uc = plan.user_count + 1 %}
										{% set val = plan.plan_value / 100 %}
										{% if val == 19.89 %}
											{% set val = 19.90 %}
										{% endif %}
										<p class="usercount">{{uc|replace({ '10001': '21+' })}} Users</p>
										<p class="price">{{plan.currency|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"})}}{{val|number_format(2, '.', ',')}} ({{plan.currency|raw}})<br class="hidden-xs"> per {{plan.period}}</p>

										
										{# {% if trial %}
											<a href="{{networkData.defaultBlogUrl}}/@subscribe?plan={{plan.guid}}&amp;trial=true">
												<p class="centerBlock _btn _btn--blue _btn__subscribe">14-DAY FREE TRIAL</p>
											</a>
										{% endif %} #}

										{% set planUrl = networkData.defaultBlogUrl ~ '/@subscribe?plan=' ~ plan.guid %}
										{# {% if plan.trial_status == "1" %}
											{% set planUrl = networkData.defaultBlogUrl ~ '/@subscribe?plan=' ~ plan.guid ~ '&trial=true'%}
										{% endif %} #}

										<a href="{{planUrl}}">
											<p class="centerBlock _btn _btn--red _btn__subscribe">
												<span>SUBSCRIBE NOW</span>
												{# {% if plan.trial_status == "1" %}
													<span class="btn_trial">Your subscription includes a <br />{{plan.trial_period}}-day free trial period</span>
												{% endif %} #}
											</p>
										</a>
									</div>
								</div>
						    {% endfor %}
						</div>
					{% else %}
						<div id="currency-select" class="currency-select u-margin-bottom-40">
							<form id="currency-form">
								
								<div class="currency-select__radio-group">
									<input class="currency-select__radio-input" id="usd" type="radio" name="currency" value="usd">
									<label class="currency-select__label" for="usd">
										<span class="currency-select__radio-button"></span>
										<img src="{{networkData.templatePath}}/static/images/us_dollars2.png">
									</label>
								</div>

								<div class="currency-select__radio-group">
									<input class="currency-select__radio-input" id="aud" type="radio" name="currency" value="aud">
									<label  class="currency-select__label" for="aud">
										<span class="currency-select__radio-button"></span>
										<img src="{{networkData.templatePath}}/static/images/australian_dollars2.png">
									</label>
								</div>
							
							</form>
						</div>






						<div  id="ui_plans" class="row ui_plans u-desktop-center-9-cols">
						{% for plan in ui_plans %}

							<div class="col-sm-4 subscription-card">
								<div class="card">
									<h3>{{plan.name}}</h3>
									{% set uc = plan.user_count + 1 %}
									{% set val = plan.plan_value / 100 %}
									{% if val == 19.89 %}
										{% set val = 19.90 %}
									{% endif %}
									<p class="usercount">{{uc|replace({ '10001': '21+' })}} Users</p>
									<p class="price">{{plan.currency|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"})}}{{val|number_format(2, '.', ',')}} ({{plan.currency|raw}})<br class="hidden-xs"> per {{plan.period}}</p>

									
									{# {% if trial %}
										<a href="{{networkData.defaultBlogUrl}}/@subscribe?plan={{plan.guid}}&amp;trial=true">
											<p class="centerBlock _btn _btn--blue _btn__subscribe">14-DAY FREE TRIAL</p>
										</a>
									{% endif %} #}

									{% set planUrl = networkData.defaultBlogUrl ~ '/@subscribe?plan=' ~ plan.guid %}
									{# {% if plan.trial_status == "1" %}
										{% set planUrl = networkData.defaultBlogUrl ~ '/@subscribe?plan=' ~ plan.guid ~ '&trial=true'%}
									{% endif %} #}

									<a href="{{planUrl}}">
										<p class="centerBlock _btn _btn--red _btn__subscribe">
											<span>SUBSCRIBE NOW</span>
											{# {% if plan.trial_status == "1" %}
												<span class="btn_trial">Your subscription includes a <br />{{plan.trial_period}}-day free trial period</span>
											{% endif %} #}
										</p>
									</a>
								</div>
							</div>
					    {% endfor %}
						</div>






						<div  id="au_plans" class="au_plans row u-desktop-center-9-cols">
						{% for plan in aus %}

							<div class="col-sm-4 subscription-card">
								<div class="card">
									<h3>{{plan.name}}</h3>
									{% set uc = plan.user_count + 1 %}
									{% set val = plan.plan_value / 100 %}
									{% if val == 19.89 %}
										{% set val = 19.90 %}
									{% endif %}
									<p class="usercount">{{uc|replace({ '10001': '21+' })}} Users</p>
									<p class="price">{{plan.currency|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"})}}{{val|number_format(2, '.', ',')}} ({{plan.currency|raw}})<br class="hidden-xs"> per {{plan.period}}</p>

									
									{# {% if trial %}
										<a href="{{networkData.defaultBlogUrl}}/@subscribe?plan={{plan.guid}}&amp;trial=true">
											<p class="centerBlock _btn _btn--blue _btn__subscribe">14-DAY FREE TRIAL</p>
										</a>
									{% endif %} #}

									{% set planUrl = networkData.defaultBlogUrl ~ '/@subscribe?plan=' ~ plan.guid %}
									{# {% if plan.trial_status == "1" %}
										{% set planUrl = networkData.defaultBlogUrl ~ '/@subscribe?plan=' ~ plan.guid ~ '&trial=true'%}
									{% endif %} #}

									<a href="{{planUrl}}">
										<p class="centerBlock _btn _btn--red _btn__subscribe">
											<span>SUBSCRIBE NOW</span>
											{# {% if plan.trial_status == "1" %}
												<span class="btn_trial">Your subscription includes a <br />{{plan.trial_period}}-day free trial period</span>
											{% endif %} #}
										</p>
									</a>
								</div>
							</div>
					    {% endfor %}
						</div>


						<div id="us_plans" class="us_plans row u-desktop-center-9-cols">
					    {% for plan in usd %}

							<div class="col-sm-4 subscription-card">
								<div class="card">
									<h3>{{plan.name}}</h3>
									{% set uc = plan.user_count + 1 %}
									{% set val = plan.plan_value / 100 %}
									{% if val == 19.89 %}
										{% set val = 19.90 %}
									{% endif %}
									<p class="usercount">{{uc|replace({ '10001': '21+' })}} Users</p>
									<p class="price">{{plan.currency|replace({"AUD": "$", "NZD": "$", "GBP": "£", "USD": "$", "EUR": "€"})}}{{val|number_format(2, '.', ',')}} ({{plan.currency|raw}})<br class="hidden-xs"> per {{plan.period}}</p>

									
									{# {% if trial %}
										<a href="{{networkData.defaultBlogUrl}}/@subscribe?plan={{plan.guid}}&amp;trial=true">
											<p class="centerBlock _btn _btn--blue _btn__subscribe">14-DAY FREE TRIAL</p>
										</a>
									{% endif %} #}

									{% set planUrl = networkData.defaultBlogUrl ~ '/@subscribe?plan=' ~ plan.guid %}
									{# {% if plan.trial_status == "1" %}
										{% set planUrl = networkData.defaultBlogUrl ~ '/@subscribe?plan=' ~ plan.guid ~ '&trial=true'%}
									{% endif %} #}

									<a href="{{planUrl}}">
										<p class="centerBlock _btn _btn--red _btn__subscribe">
											<span>SUBSCRIBE NOW</span>
											{# {% if plan.trial_status == "1" %}
												<span class="btn_trial">Your subscription includes a <br />{{plan.trial_period}}-day free trial period</span>
											{% endif %} #}
										</p>
									</a>
								</div>
							</div>
					    {% endfor %}
						</div>
					{% endif %}
				</div>
			</section>
		{% endif %}
	</div>

</main>



