{{ set(this, 'title', _Blog.getBlogTitle()) }}
{{this.registerJs("window.Acme.cards = CardController();")}}

{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}
{% set jobsBlogId = blogData.additionalInfo['publishto'] %}

{% set limit = 10 %}

{% set user = false %}

{{this.registerJs("Acme.eventForm = new Acme.EventForm(["~jobsBlogId~"]);")}}
{# {{this.registerJsFile("https://maps.googleapis.com/maps/api/js?key=AIzaSyCRILYoQMiSjf_1Q_DhL199ha5w410AOLU")}} #}



{% if not _User.isGuest %} 
    {% set user = _User.getUser() %}
    {% set userString = "window.Acme.currentUser = '" ~ user.guid ~ "';" %}
    {{this.registerJs( userString )}}
{% endif %} 

{% set userArticlesArr = [] %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}



    <main id="main" class="container site-main eventForm" role="main">
        



        <section class="row section">
            <div class="col-md-7 section-header">
                <h2 class="section-header__title">{{this.title}}</h2>
                <p class="section-header__description">{{blogData.shortDescription}}</p>
            </div>
        </section>


        <section class="row">

            <div class="col-sm-9 col-md-8">


                <form class="" method="post" action="#" id="listingForm">
                    <input type="text" class="articleExtendedData" name="title" id="title" value="" placeholder="Name of event*">
                    
                    <div class="row">
                        <div class="col-sm-3 large-split">
                            <input type="text" class="articleExtendedData  eventStart" name="start_date" id="start_date" value="" placeholder="Start date*">
                        </div>
                        <div class="col-sm-3 large-split">
                            <input type="text" class="articleExtendedData  eventEnd" name="end_date" id="end_date" value="" placeholder="End date">
                        </div>
                    </div>
                   
                    <input type="text" class="articleExtendedData" name="address1" id="address1" value="" placeholder="Address">
                    
                    <div class="row">
                        <div class="col-sm-3 large-split">
                            <input type="text" class="articleExtendedData" name="suburb" id="suburb" value="" placeholder="Suburb">
                        </div>
                        <div class="col-sm-3 large-split">
                            <input type="text" class="articleExtendedData" name="state" id="state" value="" placeholder="State/region*">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-3 large-split">
                            <input type="text" class="articleExtendedData" name="contact_name" id="contact_name" value="" placeholder="Contact name">
                        </div>
                        <div class="col-sm-3 large-split">
                            <input type="text" class="articleExtendedData" name="contact_number" id="contact_number" value="" placeholder="Contact number/email*">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-8">
                            <textarea name="content" id="content" placeholder="Description*"></textarea>
                        </div>


                        <div class="col-sm-4">



                            <div id="uploadFileBtn" data-imgcls="images" data-id="imageArray" class="uploadFileBtn events">
                                <div class="innerImgBtn">
                                    <div id="InnerUploadFileBtn" class="vertical">
                                        <img src="{{networkData.templatePath}}/static/icons/upload-img.svg">
                                        <p>Upload images</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">

                            <div id="imageArray" data-media="" class="imagearray"></div>
                    

                            <button class="_btn submit" type="submit" id="listingFormSubmit">SUBMIT</button>
                            <button class="_btn submit" type="reset" id="listingFormClear">CLEAR</button>
                        </div>
                    </div>
                </form>


            </div>

        </section>

    </main><!-- .site-main -->