{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData    = _Blog.getBlog() %}

{{this.registerJs("Acme.cards = CardController();")}}
{{this.registerJs("Acme.searchFeed = new Acme.View.articleFeed(Acme.cards);")}}


{% set limit = 12 %}
{% set articlesArr  = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles     = articlesArr.articles %}
{% set firstCount = articles | length %}
{% set dateHide = true %}

                                                     {# renders the card    fetch-limit      fetch-offset    infinite scroll #}
                                                     {#            ↑             ↑                 ↑            ↑            #}
{{this.registerJs("Acme.searchFeed = new Acme.View.articleFeed(Acme.cards, " ~ limit ~ ", " ~ firstCount ~ ", true);")}}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}



{% set cacheKey = "nrtham_recent" %}
{% set getPopularArticles = getCache(cacheKey, true) %}
{% if (getPopularArticles is empty) %}
    {% set getPopularArticles = _Article.getPopularArticles({'limit': 7, 'scope': 'network'}) %}
    {% set cache = setCache(cacheKey, getPopularArticles, 900, true) %} 
{% endif %} 


    <main id="main" class="container-fluid channel-main" role="main" data-article-limit="{{limit}}" data-article-count="{{articles | length}}">


        <section class="row">
            <div class="col-sm-10 section-header">
                <h2>{{blogData.title}}</h2>
                <p class="description">
                    {{blogData.shortDescription}}
                </p>
            </div>
        </section>
        


        <section class="row u-margin-bottom-40 u-margin-bottom-40">
            <div class="col-sm-12">
                {% if articles[articleCount] %}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 640, height: 309},
                        containerClass: 'card-100-mobile card-100-tablet card-100-desktop-sm card-100-desktop-lg',
                        dateHide: dateHide
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endif %}
            </div>
        </section>


        <section class="row u-desktop-margin-bottom-80">

        {% for i in 0..2 if articles[articleCount] %}
            <div class="col-sm-3">
                {% if articles[articleCount] %}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        imageSize: {width: 330, height: 235},
                        position: (articleCount+1),
                        containerClass: "card-sm card-sm-tablet card-sm-mobile",
                        dateHide: dateHide
                    }) | raw}}

                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endif %}
            </div>
        {% endfor %}
            
            <div class="col-sm-3 top-stories top-stories--na">
                <h2 class="panel-header">TOP STORIES</h2>
                {% set topSettings = ["","","","","",""," top-stories__final"] %}
                {% for i in 0..6 if getPopularArticles|length > 0 %}
                    {{this.render('partials/_single-article.twig', {
                        article: getPopularArticles[i], 
                        imageSuppress: true,
                        swap: 'false',
                        containerClass: "card-top-story card-top-story-dt card-top-story-tablet card-top-story-mobile card-top-story__NA" ~ topSettings[i],
                        dateHide: dateHide
                    }) | raw}}
                {% endfor %}
            </div>

        </section>

        <div class="advert visible-xs-block" style="margin-left: -10px;">
            <div id='tabAd1'></div>
            <script>loadNextAd(invSpace,'tabAd1','mBan',mOnlySize,mOnlyMap);</script>
        </div>

        
        <section class="row u-desktop-margin-top-80">

            <div class="col-sm-offset-1 col-sm-6">

                {% for i in 0..7 if articles[articleCount] %}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 200, height: 140},
                        containerClass: 'card-rec card-rec-tablet card-rec-mobile',
                        dateHide: dateHide
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endfor %}



                {% if articles|length >= limit %}
                    {{ this.render('partials/ajaxarticles.twig', {
                        ads             : "no",
                        name            : "section-load",
                        limit           : limit,
                        offset          : limit,
                        imgwidth        : "200",
                        imgheight       : "140",
                        container       : "mainAjaxArticles",
                        non_pinned      : articlesArr.existingNonPinnedCount, 
                        card_class      : "col-sm-12 card-rec card-rec-tablet card-rec-mobile no-padding",
                        buttonClass     : "infinite",
                        dateHide        : dateHide
                    }) | raw }}
                {% endif %}

            </div>




            <div class="col-sm-offset-1 col-sm-3">

                <div class="advert">
                    <div id='blockAd1'></div>
                    <script>loadNextAd(invSpace,'blockAd1','mRec',mRecSize,mRecMap);</script>
                </div>

                <div class="advert banner">
                    <a href="https://campusandco.com/" target="_blank" class="social-modal__image_wrap">
                        <img src="{{networkData.templatePath}}/static/images/ads/Ad3_desktop.png" class="hidden-xs img-responsive" />
                        <img src="{{networkData.templatePath}}/static/images/ads/Ad3_mobile.png" class="visible-xs img-responsive" />
                    </a>
                </div>





                {% for i in 0..2 if articles[articleCount] %}
                    {% set classes = ["card-sm card-sm-tablet card-rec-mobile", "card-sm-full card-sm-full-tablet", "card-sm card-rec-tablet card-sm-mobile"] %}
                    {% set images = [false, false, true] %}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSuppress: images[i],
                        imageSize: {width: 300, height: 185},
                        containerClass: classes[i],
                        dateHide: dateHide
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endfor %}

                {% if blogData.url_prefix == 'documentaries' %}

                    {# <div class="advertise">
                        <a href="mailto:hello@franknews.global?subject=Suggest a documentary">
                            <img src="{{networkData.templatePath}}/static/images/UBT_Documentary_2022.png" alt="image" class="img-fluid img-responsive" />
                        </a>
                    </div> #}

                    <div class="advert banner">
                        <a href="{{networkData.defaultBlogUrl}}/get-in-touch" class="social-modal__image_wrap">
                            <img src="{{networkData.templatePath}}/static/images/ads/Ad6_mrec.png" class="img-responsive" />
                        </a>
                    </div>

                    {% else %}
                        <div id='articleAdScroll' class="advert lockad visible-md-block visible-lg-block">
                            <div id='hPage1'></div>
                            <script>loadNextAd(invSpace,'hPage1','hpage',hPageSize,hPageMap);</script>
                        </div>
                    {% endif %}

            </div>

        </section>    



{# 


        <section class="row">
            <div class="advert banner">
                <div id='bannerAd2'></div>
                <script>loadNextAd(invSpace,'bannerAd2','bannerad',bannerSize,bannerMap)</script>
            </div>
        </section>








        <section class="row padded-row">
            <div class="col-sm-offset-1 col-sm-3">

            {% for i in 0..2 if articles[articleCount] %}
                {% if i != 0 %}
                    <div class="col-sm-3">
                {% endif %}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 300, height: 180},
                        containerClass: "card-sm-full card-sm-full-tablet"
                    }) | raw}}
                </div>
                {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
            {% endfor %}
        </section>
 #}





    </main><!-- .site-main -->