{% import "partials/quotes.twig" as quotes %}
{{ set(this, 'title', article.title) }}

{{ this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'}) }}

{% set blogInfo = _Blog.getBlog() %}
{% set networkData = _Network.getNetworkData() %}


{% set articleImg = false %}
{% if article.media|length > 0 %}
    {% set articleImg = _Media.getMediaUrl(article.media[0],218, 140, {'crop': 'fill', 'gravity': 'auto'} ) %}
{% endif %}

{% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishedDateTime, 'j M Y') %}
{% set listingClose = _AppHelper.getDefaultTimezoneDateTime(article.additionalInfo.listingclose, 'j M Y') %}

{% set articles = _Article.getPopularArticles({ limit: 10, excludeArticleIds : article.id }) %}


{% set articleCount = 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}


{% if (networkData.title | lower) == 'frank uk' %}
    {% set forCurr = "£" %}
    {% set forRegi = "Country" %}
{% else %}
    {% set forCurr = "$" %}
    {% set forRegi = "Region" %}
{% endif %}

{% set salaryType = article.additionalInfo.salary %}
{% set salaryPrefix = "" %}
{% set salary = "" %}

{% if salaryType == 1 %}
    {% set salaryPrefix = "Annual salary " %}
    {% set salary = forCurr ~ article.additionalInfo.salaryfrom %}
    {% if article.additionalInfo.salaryto %}
        {% set salaryPrefix = salaryPrefix ~ "range " %}
        {% set salary = salary ~ " - " ~ article.additionalInfo.salaryto %}
    {% endif %}

{% elseif salaryType == 2 %}
    {% set salaryPrefix = "Hourly rate " %}
    {% set salary = forCurr ~ article.additionalInfo.hourlyrate %}

{% elseif salaryType == 3 %}
    {% set salaryPrefix = "Commission" %}
{% endif %}

{% set salary = salaryPrefix ~ salary %}



{% set company = article.additionalInfo.company %}
{% if article.additionalInfo.website %}
    {% set company = company ~ " | " ~ article.additionalInfo.website %}
{% endif %}

{% if (networkData.title | lower) == 'frank uk' %}
    {% set forCurr = "£" %}
{% else %}
    {% set forCurr = "$" %}
{% endif %}


<main id="main" class="container-fluid site-main" role="main">


    <section class="row section">


 


        <div class="col-sm-10 section-header">
            <h2 class="section-header__title">{{blogInfo.title}}</h2>
            <p class="section-header__description">{{blogInfo.shortDescription}}</p>
        </div>
        
    </section>


    <div class="backlink">
        <a href="{{networkData.defaultBlogUrl}}/@job-listings">Back to results</a>
    </div>


    <article class="job-listings-main">





        <div class="page-content">
            <div class="row">
                <div class="col-md-5">

                    <div class="content-wrapper">

                        {% if articleImg %} 
                             <figure class="companylogo">
                                 <img src="{{articleImg}}" class="img-responsive companylogo__img">
                                 {% if article.media[0].type == 'video' %} 
                                     {% set mediaUrl = "" %}
                                     {% if article.media[0].media.isSystemVideo == 'TRUE'%}
                                         {% set mediaUrl = _Media.getMediaVideoUrl(article.media[0].media, 0, 0,{resource_type: 'video', format: 'mp4'})  %}
                                     {% endif %}
                                     <a href="javascript:void(0)" 
                                        itemprop="video" 
                                        class="video-overlay video-player" 
                                        data-source="{{article.media[0].source}}" 
                                        data-video-id="{{article.media[0].videoId}}" 
                                        data-url="{{mediaUrl}}" 
                                        data-poster="{{article.media[0].path}}" 
                                        data-caption="{{article.title | raw}}">
                                     </a>
                                 {% endif %}
                             </figure>
                         {% endif %}






                        <div class="content-block-top">
                            
                            <h1>{{ quotes.smarten(article.title) }}</h1>
                            
                            <p class="company">{{ company }}</p>
                            <p class="salary">{{salary}}</p>

                        </div><!--content-block-top-->

                        <div class="article_content">
                            {{ article.content | _resizeImages({'width': 500}) | raw }}
                        </div><!-- .content-->
                    </div><!-- .content-->

                </div>






                <div class="col-md-3 details-padding">
                    <div class="job-details">
                        <table>
                            <tr>
                                <td class="label">Work type</td>
                                <td class="value">{{article.additionalInfo.worktype}}</td>
                            </tr>
                            <tr>
                                <td class="label">Location</td>
                                <td class="value">{{article.additionalInfo.location}}</td>
                            </tr>
                            <tr>
                                <td class="label">{{ forRegi }}</td>
                                <td class="value">{{article.additionalInfo.region}}</td>
                            </tr>
                            <tr>
                                <td class="label">Listed</td>
                                <td class="value">{{publishDate}}</td>
                            </tr>
                            <tr>
                                <td class="label">Applications close</td>
                                <td class="value">{{listingClose}}</td>
                            </tr>
                        </table>
                    </div>

                    <div class="job-contact">
                        <h3>To apply, please contact:</h3>
                        <p class="contact-name">{{ article.additionalInfo.contactname }}</p>
                        <p class="contact-email">{{ article.additionalInfo.contactemail }}</p>

                    </div>


                </div>




                <div class="col-md-3">
                    <div class="advert">
                        <div id='blockAd1'></div>
                        <script>loadNextAd(invSpace,'blockAd1','mRec',mRecSize,mRecMap)</script>
                    </div>
                </div>


            </div>

        </div><!-- .page-content-->


    </article>
</main><!--site-main-->

