{{ set(this, 'title', 'Reset Password') }}

{{this.registerJs('AuthController.resetPassword()')}}
<div class="login-page">
    <div class="container">
        <div class="tab-content forget_password">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" id="login-social">
                    <h3 class="sub-heading" style="color: #002d56;font-family:open-sans, Helvetica, Arial, sans-serif;font-size:17px;">Reset Password</h3>
                    <p style="font-size:13px;color:#97999c;"><i>Your password must be at least six characters.</i></p>
                    <div class="WriteAnArticleForm">
                        <form id="resetPasswordForm" class="form-horizontal" action="" method="post">
                            <input type="hidden" name="_csrf" value="{{_AppHelper.getCsrfToken()}}" />
                            {% if errors | length > 0 %}
                                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                    <button class="close" aria-label="Close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
                                    <ul>
                                        {% for errorArr in errors %}
                                            {% for error in errorArr %}
                                                <li>{{error}}</li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="col-sm-2">
                                <p style="margin: 15px 0 45px 0;font-size:13px;font-weight:600;color:#002d56;">Password</p>
                                <p style="font-size:13px;font-weight:600;color:#002d56;">Verify Password</p>
                            </div>
                            <div class="col-sm-10">
                                <div class="controls-full">
                                    {{_AppForm.input({type:'password', name: 'password', value: '', id: 'password', class: 'form-control', placeholder: ''}) | raw }}
                                </div>
                                <div class="controls-full">
                                    {{_AppForm.input({type:'password', name: 'verifypassword', value: '', class: 'form-control', placeholder: ''}) | raw }}
                                </div>
                            </div>
                            {{_AppForm.button({type:'submit', name: 'resetPassword', class: 'btn btn-success forget_btn', label:'Submit'}) | raw }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
