{{ set(this, 'title', 'Search - ' ~ search) }}

{{this.registerJs("CardController();")}}

{% set limit = 18 %}
{% set articles = _Search.searchArticles({'limit': limit, 'offset': 0, 'search': search}) %}
{% set networkData = _Network.getNetworkData() %}




<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}


    <main id="main" class="site-main searchPage" role="main">
    


        <section class="card-group">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12">
                        <h1>{{this.title}}</h1>
                    </div>
                </div>

                
                <div class="row">
                    {% for article in articles %}                                                                
                        {{this.render('partials/_single-article.twig', {
                            article: article, 
                            position: (articleCount+1), 
                            imageSize: {width: 360, height: 215},
                            containerClass: 'col-sm-4 card-sm card-sm-tablet'}) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endfor %}
                </div><!-- .row-->



                {% if articles|length >= limit %}
                {{ this.render('partials/ajaxarticles.twig', {
                    limit       : limit, 
                    label       : "Show more",
                    non_pinned  : articlesArr.existingNonPinnedCount, 
                    card_class  : "col-sm-4 card-sm card-sm-tablet",
                    container   : "mainAjaxArticles",
                    loadtype    : "search",
                    searchTerm  : search,
                    buttonClass     : "infinite"
                }) | raw }}
                {% endif %}




            </div><!-- .container-->




        </section><!-- .top-stories-->


    </main><!-- .site-main -->

