{{ set(this, 'title', 'Search - ' ~ search) }}

{# {{this.registerJs("CardController();")}} #}
{{this.registerJs("Acme.cards = CardController();")}}

{% set limit = 18 %}
{% set articles = _Search.searchArticles({'limit': limit, 'offset': 0, 'search': search, 'sortBy': 'published'}) %}
{% set networkData = _Network.getNetworkData() %}
{% set firstCount = articles | length %}


                                                     {# renders the card    fetch-limit      fetch-offset    infinite scroll #}
                                                     {#            ↑             ↑                 ↑            ↑            #}
{{this.registerJs("Acme.searchFeed = new Acme.View.articleFeed(Acme.cards, " ~ limit ~ ", " ~ firstCount ~ ", true);")}}



<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}


    <main id="main" class="site-main searchPage" role="main">
    


        <section class="card-group">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12">
                        <h1>{{this.title}}</h1>
                    </div>
                </div>

                
                <div class="row">
                    {% for article in articles %}                                                                
                        {{this.render('partials/_single-article.twig', {
                            article: article, 
                            position: (articleCount+1), 
                            imageSize: {width: 360, height: 215},
                            containerClass: 'col-sm-4 card-sm card-sm-tablet'}) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endfor %}
                </div><!-- .row-->

                {% if articles|length >= limit %}
                    {{ this.render('partials/ajaxarticles.twig', {
                        ads             : "no",
                        limit           : 9,
                        offset          : limit,
                        searchTerm      : search,
                        loadtype        : "api/search",
                        imgheight       : "215",
                        container       : "mainAjaxArticles",
                        card_class      : "col-sm-4 card-sm card-sm-tablet",
                        buttonClass     : "infinite",
                        label           : "Show more" 
                    }) | raw }}
                {% endif %}




            </div><!-- .container-->




        </section><!-- .top-stories-->


    </main><!-- .site-main -->

