{% set sectionCount = 0 %}


<section class="row section" panel="01">


    <div class="col-sm-12 section-header">
        <h2 class="section-header__title">
            <a class="section-header__link" href="{{sectionFeed.link}}">{{sectionFeed.title}}</a>
        </h2>
        <p class="section-header__description">{{sectionFeed.description}}</p>
    </div>


    <div class="col-sm-6">
        {% for i in 0..2 if sectionFeed.feed.articles[sectionCount] %}
            {{this.render('../_single-article.twig', {
                article: sectionFeed.feed.articles[sectionCount], 
                position: (sectionCount+1),
                imageSize: {width: 198, height: 141},
                swap: 'false',
                containerClass: 'card-rec card-rec-tablet card-rec-mobile border-bottom'
            }) | raw}}
            {% set sectionCount = (dev) ? sectionCount : sectionCount + 1 %}
        {% endfor %}
    </div>

    <div class="col-sm-6 col-md-3">
        {% if sectionFeed.feed.articles[sectionCount] %}
            {{this.render('../_single-article.twig', {
                article: sectionFeed.feed.articles[sectionCount], 
                position: (sectionCount+1),
                imageSize: {width: 243, height: 422},
                swap: 'false',
                containerClass: "card-md-full  card-main-2col-tablet card-md-full-mobile"
            }) | raw}}
            {% set sectionCount = (dev) ? sectionCount : sectionCount + 1 %}
        {% endif %}
    </div>


    <div class="col-sm-12 col-md-3">
        <div class="row">
            {% for i in 0..1 if sectionFeed.feed.articles[sectionCount] %}
                <div class="col-sm-6 col-md-12">
                    {{this.render('../_single-article.twig', {
                        article: sectionFeed.feed.articles[sectionCount], 
                        position: (sectionCount+1),
                        imageSuppress: true,
                        swap: 'false',
                        containerClass: 'card-sm-short card-sm-short-tablet card-sm-mobile'
                    }) | raw}}
                    {% set sectionCount = (dev) ? sectionCount : sectionCount + 1 %}
                </div>
            {% endfor %}
        </div>
    </div>
        <div class="sRec visible-md-block visible-lg-block col-md-3">
            <div id='sRecAd4'></div>
            <script>loadNextAd(invSpace,'sRecAd4','srec',sRecSize,sRecMap);</script>
        </div>
</section>