{% set logo = networkData.templatePath~'/static/images/logo.svg'%}

{% set userData = []  %}
{% if not _User.isGuest() %}

    {% set userData = _User.getPaywallStats(false)  %}


    {% set headermenu = _Menu.get({'menuType': 'header'}) %}

{% endif %}

{% if networkData.logoMedia | length > 0 %}
    {% set logo = _Media.getMediaUrl(networkData.logoMedia, 290, 80, {'crop': 'fit'} )%}
{% endif %}



<header id="masthead" class="site-header">


    <fieldset id="searchpanel" class="search-sub-menu">
        <form method="get" id="searchform" action="{{networkData.defaultBlogUrl}}/search">
            <div class="container-fluid"  style="position:relative;">
                <label for="header-search" class="assistive-text sr-only">Search</label>
                <input type="text" class="field" name="s" id="header-search" placeholder="Search" required="">
                <button class="btn btn-default" type="submit" id="searchsubmit">
                    <span class=""></span>
                </button>
            </div>
        </form>
    </fieldset>
    



    <div class="top-header" style="position:relative;">
        <div class="container-fluid">
            <ul class="top-nav">
                {% if not _User.isGuest() %}
                    {% set user = _User.getUser() %}
                    {% if (userData.status == 'trial') %}
                        <li class="menu-item">Trial period - you will be billed on {{ userData.expiry_date }}
                    {% endif %}
                    <li class="menu-item__username">{{ (user.firstname ~" "~ user.lastname) | truncate(15) | title}} </li>
                    {% if date() > date(userData.expiry_date) %}
                        <li class="menu-item menu-item__overdue"><a href="{{networkData.defaultBlogUrl}}/user/edit-profile">MY ACCOUNT –<i> Account overdue</i></a></li>
                    {% else %}
                         <li class="menu-item"><a href="{{networkData.defaultBlogUrl}}/user/edit-profile">MY ACCOUNT</a></li>
                    {% endif %}    
                    <li class="menu-item menu-item__signout"><a href="{{_AppHelper.getLogoffUrl()}}">SIGN OUT</a></li>
                    <li class="menu-item-search">SEARCH</li>
                    <li class="menu-item-search glass">
                        <a href="#" class="search-icon"><span class="icon-search icon"></span><span class="sr-only">Expand search</span></a>
                    </li>
                {% else %}
                    <li id="header_login_link" class="header__login__link">SIGN IN</li>
                {% endif %}
            </ul>   
        </div>         
    </div>








    <div id="mainHeader" class="site-header-main header__navigation showOnScroll">
        
        <div class="container-fluid">
            
            <div class="row header-top">
                <div class="col-xs-12">
                    <div style="overflow:auto">
                        <a  class="navbar-brand" 
                            href="{{networkData.defaultBlogUrl}}" 
                            rel="Home" tabindex="-1" 
                            title="Home">
                        </a>
                        {% if 'nz' in networkData.title | lower or 'au' in networkData.title | lower or 'test' in networkData.title | lower %}
                            
                            <a class="navbar-global visible-sm-block visible-md-block visible-lg-block" href="{{networkData.defaultBlogUrl}}/2018/11/15/323391/frank-is-going-global"></a>
                        {% endif %}

                        <nav id="sb-custom-menu" class="sb-custom-menu">

                            <a href="#" id="menu-mobile" class="menu-mobile"></a>

                            <div class="menuContainer">
                                {% if not _User.isGuest() %}
                                    <div id="weatherMobile" class="weather"></div>

                                    <div id="menu-search" class="secondary-menu menu-search">
                                        <form method="get" id="searchformmob" action="{{networkData.defaultBlogUrl}}/search">
                                            <div>
                                                <input type="text" class="field" name="s" id="header-search" placeholder="Search" required="">
                                            </div>
                                            <button class="btn btn-default" type="submit" id="searchsubmit">
                                                <span class="icon-search icon"></span>
                                            </button>
                                        </form>
                                    </div>
                                {% endif %}


                                <ul id="menu-primary-menu" class="menu mobile">

                                    {% if not _User.isGuest() %}
                                        {% set menuItems = headermenu %}
                                        {% for parentItem in menuItems  %}

                                            {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                                            {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}

                                            <li>
                                                <a href="{{parentItem.link |raw}}" class="{{activeClass}} {{externalClass}}" {% if parentItem.target != "" %}target="{{parentItem.target}}"{% endif %}>
                                                    {% if parentItem.label != "" %}
                                                        {{parentItem.label}}
                                                    {% elseif parentItem.blogTitle != "" %}
                                                        {{parentItem.blogTitle}}
                                                    {% elseif parentItem.pageTitle != "" %}
                                                        {{parentItem.pageTitle}}
                                                    {% endif %}
                                                </a>
                                            </li>

                                        {% endfor %}
                                        <li class=""><a href="{{networkData.defaultBlogUrl}}/user/edit-profile">My Account</a></li>
                                        <li class=""><a href="{{_AppHelper.getLogoffUrl()}}">Sign out</a></li>

                                    {% else %}
                                        <li>
                                            <a id="header_login_link" href="#" class="{{activeClass}} {{externalClass}}">Sign in</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </nav>

                        <div id="weather" class="weather"></div>
                    </div>














                    <div class="visible-sm-block visible-md-block visible-lg-block">
                        <div class="weather-dropdown hidden"></div>
                    </div>

<!--                     <div id="weather" class="weather visible-md-block visible-lg-block">
                        <div>
                            <p class="location">location</p>
                            <p class="description">Partly Cloudy</p>
                        </div>
                        <img class="icon" src="{{networkData.templatePath}}/static/icons/weather_partly_cloudy.svg">
                        <p class="temp">21&deg;</p>
                    </div> -->
                    <!--  *********** -->
                    <!--  MOBILE MENU -->
                    <!--  *********** -->















                </div>
            </div><!-- .header top-->  
        
            <div class="row header-bottom">
                <div class="col-sm-12" style="padding:0">
                    <div class="row">

                        <div class="col-sm-12 col-md-4 trusted">
                            <h2>TRUSTED SOURCES. GLOBAL STORIES.</h2>
                        </div>

                        <nav class="col-md-8 sb-custom-menu">

                            <div class="menuContainer">

                                <ul id="menu-primary-menu" class="menu">
                                {% if not _User.isGuest() %}

                                    {% set menuItems = headermenu %}
                                    {% for parentItem in menuItems  %}

                                       {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                                       {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}

                                       <li>
                                            <a href="{{parentItem.link |raw}}" class="{{activeClass}} {{externalClass}}" {% if parentItem.target != "" %}target="{{parentItem.target}}"{% endif %}>
                                                {% if parentItem.label != "" %}
                                                    {{parentItem.label | upper}}
                                                {% elseif parentItem.blogTitle != "" %}
                                                    {{parentItem.blogTitle | upper}}
                                                {% elseif parentItem.pageTitle != "" %}
                                                    {{parentItem.pageTitle | upper}}
                                                {% endif %}
                                                {% if parentItem.children is defined and parentItem.children | length > 0 %}
                                                    <span class=""></span>
                                                {% endif %}
                                            </a>
                                        </li>

                                    {% endfor %}
                                {% endif %}
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>

            </div>  

        </div><!-- .container-->  
        {% if 'nz' in networkData.title | lower or 'au' in networkData.title | lower or 'test' in networkData.title | lower %}
            <div class="visible-xs-block u-margin-bottom-60">
                <a class="navbar-global-mobile u-margin-bottom-20" href="{{networkData.defaultBlogUrl}}/2018/11/15/323391/frank-is-going-global"></a>
            </div>
        {% endif %}
    </div>
</header>


