{% set logo = networkData.templatePath~'/static/images/logo.svg'%}
{% if networkData.logoMedia | length > 0 %}
    {% set logo = _Media.getMediaUrl(networkData.logoMedia, 290, 80, {'crop': 'fit'} )%}
{% endif %}





<header id="masthead" class="site-header">





    <div class="top-header">
        <div class="index_container">
            <time datetime="" id="headerTime"></time>
            <ul class="top-nav">
                <li>SUBSCRIBE</li>
                <li>SIGN IN</li>
                <li>SEARCH</li>
            </ul>   
        </div>         
    </div>








    <div id="mainHeader" class="site-header-main header__navigation showOnScroll">
        
        <div class="index_container">
            
            <div class="row header-top">
                <div class="col-xs-12">
                    <a  class="navbar-brand" 
                        href="{{networkData.defaultBlogUrl}}" 
                        rel="Home" tabindex="-1" 
                        title="Home">
                    </a>


                    <!--  *********** -->
                    <!--  MOBILE MENU -->
                    <!--  *********** -->

                    <nav id="sb-custom-menu" class="sb-custom-menu">

                        <a href="#" id="menu-mobile" class="menu-mobile"></a>

                        <div class="menuContainer">

                            <div id="menu-search" class="secondary-menu menu-search">
                                <form method="get" id="searchformmob" action="{{networkData.defaultBlogUrl}}/search">
                                    <div>
                                        <input type="text" class="field" name="s" id="header-search" placeholder="Search" required="">
                                    </div>
                                    <button class="btn btn-default" type="submit" id="searchsubmit">
                                        <span class="icon-search icon"></span>
                                    </button>
                                </form>
                            </div>


                            <ul id="menu-primary-menu" class="menu mobile">
                                {% set menuItems = blog.blogHeaderMenu %}
                                {% for parentItem in menuItems  %}

                                    {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                                    {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}

                                    <li>
                                        <a href="{{parentItem.link |raw}}" class="{{activeClass}} {{externalClass}}" {% if parentItem.target != "" %}target="{{parentItem.target}}"{% endif %}>
                                            {% if parentItem.label != "" %}
                                                {{parentItem.label}}
                                            {% elseif parentItem.blogTitle != "" %}
                                                {{parentItem.blogTitle}}
                                            {% elseif parentItem.pageTitle != "" %}
                                                {{parentItem.pageTitle}}
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </nav>













                </div>
            </div><!-- .header top-->  
        

            <div class="row header-bottom">
                <div class="col-sm-12" style="padding:0">
                    <div class="row">

                        <div class="col-sm-4">
                            <h2>TRUSTED SOURCES. GLOBAL STORIES.</h2>
                        </div>

                        <nav class="col-sm-8 sb-custom-menu">

                            <div class="menuContainer">

                                <ul id="menu-primary-menu" class="menu">
                                    {% set menuItems = blog.blogHeaderMenu %}
                                    {% for parentItem in menuItems  %}

                                       {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                                       {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}

                                       <li>
                                            <a href="{{parentItem.link |raw}}" class="{{activeClass}} {{externalClass}}" {% if parentItem.target != "" %}target="{{parentItem.target}}"{% endif %}>
                                                {% if parentItem.label != "" %}
                                                    {{parentItem.label | upper}}
                                                {% elseif parentItem.blogTitle != "" %}
                                                    {{parentItem.blogTitle | upper}}
                                                {% elseif parentItem.pageTitle != "" %}
                                                    {{parentItem.pageTitle | upper}}
                                                {% endif %}
                                                {% if parentItem.children is defined and parentItem.children | length > 0 %}
                                                    <span class="down-arrow"></span>
                                                {% endif %}
                                            </a>
                                        </li>

                                    {% endfor %}
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>

{#                 <fieldset id="searchpanel" class="col-sm-3 search-sub-menu"  style="position:relative">
                    <form method="get" id="searchform" action="{{networkData.defaultBlogUrl}}/search">
                        <label for="header-search" class="assistive-text sr-only">Search</label>
                        <input type="text" class="field" name="s" id="header-search" placeholder="I'm searching for..." required="">
                        <button class="btn btn-default" type="submit" id="searchsubmit">
                            <span class="search-icon"></span>
                        </button>
                    </form>
                </fieldset>
 #}
            </div>  

        </div><!-- .container-->  











                





    {#  _____________________________________________________

                            PROFILE WINDOW
        _____________________________________________________  #}


        <div id="header__menu">
            <div class="profile__menu">
                 {% if user.profileMedia.id != '' %}
                        {% set profileImg = _Media.getMediaUrl(user.profileMedia, 80, 80, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) %}
                    {% else %}
                        {% set profileImg = networkData.templatePath ~ "/static/images/icons/profile.svg" %}
                    {% endif %}
              <div class="profile__menu-image" style="background-image: url({{ profileImg }})"></div>
              <div class="profile__menu-content">
                <div class="profile__menu-name">{{ (user.firstname ~" "~ user.lastname) | truncate(15) | title}}</div>
                <div class="profile__menu-email">{{user.email | truncate(23)}}</div>
                <a href="{{_AppHelper.buildUrl('user/my-news')}}" class="profile__menu-button">My News</a>
              </div>
              <ul class="profile__menu-navigation">
                  {% if _User.isAdminUser() %}
                      <li><a class="profile__menu-navigation-link" href="https://{{networkData.defaultDomain['domain']}}/admin" target="_blank">Admin</a></li>
                  {% endif %}
                  <li><a class="profile__menu-navigation-link" href="{{blogUrl}}/profile/{{user.username}}">View Profile</a></li>
                  <li><a class="profile__menu-navigation-link" href="https://{{networkData.defaultDomain['domain']}}/user/edit-profile">Settings</a></li>
                  <li><a class="profile__menu-navigation-link" href="{{_AppHelper.getLogoffUrl()}}">Sign Out</a></li>
              </ul>
            </div>
        </div>


    </div><!-- .site-header-main -->
</header>


